@import "../variables/richfacesVariables.less";


a{
    color: @themeLinkColor;
}

a:visited {
    color: @themeLinkColorVisited;
}
a:hover {
    color: @themeLinkColorHover;
}
a:active {
    color: @themeLinkColorActive;
}

.indexPanelGrid {
    // #ContentBox;
    .themeBackgroundColorGradient;
    border: thin solid @themeColor;
    text-align: center;
    margin: 0 auto;
}
input {
    /* todo: input styls erstellen */
}

.message{
    .themeFontBold;
    .themeBoxBorder;
}

.messageError {
    background-color: #FF0000;
    .message;
}
.messageSuccess {
    background-color: #33AA33;
    .message;
}
.datagridBorder{
    .themeBoxBorder;
}

.datagrid{
    .rf-dt-hdr{
        .themeBackgroundColorGradient;
        .datagridBorder;
    }
    .rf-dt-shdr{
        .themeBackgroundColorGradient;
        .datagridBorder;
    }
    .rf-dt-r{
        background-color: @themeBackgroundColorBrighter80;
        .datagridBorder;
    }
    .rf-dt-ftr{
        .themeBackgroundColorGradient;
        .datagridBorder;
    }
    .rf-ds{
        .themeLink;
    }
}

.popupPanel{
    .rf-pp-cntr{
        border: none !important;
    }
    .rf-pp-cnt{
        background-color: black;
    }
    .rf-pp-hdr{
        .themeBackgroundColorGradient;
        .themeBoxBorder;
    }
    .rf-pp-cnt-scrlr{

        background-color: @themeBackgroundColorBrighter80;
        .themeBoxBorder;
    }
}



