@import "../variables/richfacesVariables.less";

body {
    .themeFont;
    .themeColor;
    .themeLink;
    background-image: url("#{resource['basic/pic:background.jpg']}");
    background-attachment: fixed;
    .themeBackgroundColor;
    .nullMargin;
    .nullPadding;
    .noBorder;
}

#MenuBox {
    position: fixed;
    top: 0px;
    left: 0px;
    width: auto;
    text-align: center;
    overflow: inherit;
    height: auto;
    position: fixed;
    z-index: 10;
}

#LoginBox {
    top: 0px;
    right: 0px;
    width: auto;
    text-align: center;
    height: 30px;
    z-index: 4;
}

#ContentBox {
    display:block;
    list-style:none;
    padding: 80px;
    z-index: 2;
}

#FooterBox {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: @themeFontSize * 4;
    // margin-bottom: @themeFontSize;
    .themeBackgroundColorGradient;
    .noBorder;
    border-collapse: separate;
    // border-bottom-right-radius: @themeBorderRadius;
    // border-bottom-left-radius: @themeBorderRadius;
    //.themeBoxShadow;
    z-index: 10;
}

.srvColStyle1 {
    width: 100px;
}
.srvColStyle2 {
    width: 20px;
}
.srvColStyle3 {
    width: 35px;
}
.srvColStyle4 {
    width: 100px;
}

.info_header{
    text-align: center;
    font-size: (@theme_font-size * 1.5);
    background-color: @theme_color_brighter_50;
    border: @theme_color_brighter solid thin;
}

.info_image{
    width:30%;
    background-color: @theme_color_brighter_50;
    border: @theme_color_brighter solid thin;
}

.info_graphicimage{
    width:30%;
    background-color: @theme_color_brighter_50;
    border: @theme_color_brighter solid thin;
}

.info_text{
}

#hideoverflow {
    clear: both;
    float:left;
    width:100%;
    overflow-x:hidden;
    position: absolute;
    margin-top: 50px;
    z-index: 0;
}

#centerhelper {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    text-align:center;
    z-index: 1;
}