@import "richfacesClasses.less";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 23.12.2014, 08:13:29
    Author     : Dreloc
*/
.colStyle {
    width: 200px;
    .themeLightBorder;
}
.srvColStyle1 {
    .colStyle;
}
.srvColStyle2 {
    .colStyle;
}
.srvColStyle3 {
    .colStyle;
}
.srvColStyle4 {
    .colStyle;
}

a.joinbutton {
    background-color: @themeColor;
    background-image: url("#{resource['basic/pic:buttonBackgroundImage.png']}");
    background-position: left top;
    background-repeat: repeat-x;
    border-color: #c4c0b9;
    border-radius: 0;
    border-width: 5px;
    margin: 5px;
    .themeFont;
}

a.joinbutton:active {
    border-style: inset;
}
.h_label{
    text-align:right; 
    .themeFont;
}
.h_input{
    text-align:left; 
}
.h_button{
    text-align: center;
}
.login{
    color:green
}
