   @import "../variables/globalVariables.less";
@import "components.less";

.newsdate{
    width: 20%;
    text-align:center;
    font-family: @theme_font-family;
    font-size: @theme_font-size;
}
.newssubject{
    width: 80%;
    text-align:center;
    font-family: @theme_font-family;
    font-size: @theme_font-size;
    font-weight: bolder;
}
.newsmessage{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-family: @theme_font-family;
    font-size: @theme_font-size;
}

.newsDataGrid {
    .datagrid;
}
