@import "richfacesClasses.less";

.rf-pp-cntr{
    border: none !important;
}
/* rich:panel */
.rf-p{
    border: none !important;
}
.rf-tt{
    .themeBorderRadius;
}

.rf-tt-loading{

}


.rf-tt-cntr{    
    .themeBackgroundColorGradient;
}
.rf-tt-cnt{    
    .themeBackgroundColorGradient;
}
