@import "../../bootstrap.less";

table.message_box {
    display: table;
    table-layout: auto;
    width: 100%;
    padding: 0 2px;
}

table.message_box_inner {
    table-layout: auto;
}
.message_box > tbody {
    .themeBackgroundColorBrighterGradient;
    box-shadow: 1.5em 1.5em 1.5em black;
}

/* .message-header,  */
th > a.e\:message-header {
    float: left;
    font-size: @themeFontSize * 1.2;
    text-align: center;
    width: 15%;
    float: left;
    display: block;
    margin: 0 0.1em 0 0;
/*    margin-left: 2em;
    margin-right: 2em; */
    padding: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    .themeBackgroundColorGradient;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    box-shadow: 1em 0.1em 1em black;

}

.message_box_inner {
    background-color: transparent;
}

.mesaage_box_row {
    background-color: blue;
}