@import "../../bootstrap.less";
@import "../../../../less/bootstrap.less";

.status {
    .themeBackgroundColorBrighterGradient;
    border: 3px outset #800000;
    border-right: none;
    border-top-left-radius: 2.2em;
    border-bottom-left-radius: 2.2em;
    margin-right: 0px;
    margin-bottom: @themeFontSize;
    .themeBoxShadow;
}

.statusDigits {
    .themeBackgroundBlack;
    .textFloatRight; 
    border: 1px inset antiquewhite;
    margin: 1px 2px;
    padding: 1px 2px;
}

.statusBarHeaderLabel {
    font-size: @themeFontSize * 1.2;
    .themeFontBold;
    margin: 2px 0;
}
.creditbarImage{
    float: left;
    text-align: center;
    vertical-align: middle;
    background-image: url("#{resource['basic/pic/menu/icons:credits.png']}");
    width:32px;
    height:32px;
}
.developmentbarImage{
    background-image: url("#{resource['basic/pic/menu/icons:happiness.png']}");
    width:32px;
    height:20px;
}

@productionColor: #55FF55;
@productionColorNow: @productionColor + #151515;
@productionColorLater: @productionColor - #151515;

.energyProductionNow {
    background-image: linear-gradient(@productionColorNow, @productionColorLater);
}

@energyProduction: #22AA22;
@energyProductionLater1: @energyProduction + #151515;
@energyProductionLater2: @energyProduction - #151515;

.energybar_bar_production_later {
    background-image: linear-gradient(@energyProductionLater1, @energyProductionLater2);
}

@energyConsumption: #FF5555;
@energyConsumptionNow1: @energyConsumption + #151515;
@energyConsumptionNow2: @energyConsumption - #151515;
.energybar_bar_consumption_now{
    background: linear-gradient(@energyConsumptionNow1, @energyConsumptionNow2);
}

@energyConsumptionLater: #AA2222;
@energyConsumptionLater1: @energyConsumptionLater + #151515;
@energyConsumptionLater2: @energyConsumptionLater - #151515;
.energybar_bar_consumption_later {
    background: linear-gradient(@energyConsumptionNow1, @energyConsumptionNow2);
}

.foodbar_image {
    margin: 0;
    padding: 0;
    background-image: url("#{resource['basic/pic/menu:foodicon.png']}");
    width:30px;
    height:30px;
}

.resourcebar_iron_image {
    margin: 0;
    padding: 0;
    background-image: url("#{resource['basic/pic/menu/icons:iron.png']}");
    width:30px;
    height:30px;
}

.resourcebar_steel_image{
    background-image: url("#{resource['basic/pic/menu/icons:steel.png']}");
    width:30px;
    height:30px;
}
.resourcebar_terkonit_image{
    background-image: url("#{resource['basic/pic/menu/icons:terkonit.png']}");
    width:30px;
    height:30px;
}
.resourcebar_ynkelonium_image{
    background-image: url("#{resource['basic/pic/menu/icons:ynkelonium.png']}");
    width:30px;
    height:30px;
}
.resourcebar_embinium_image{
    background-image: url("#{resource['basic/pic/menu/icons:embinium.png']}");
    width:30px;
    height:30px;
}

.rawresourcebar_ore_image{
    background-image: url("#{resource['basic/pic/menu/icons:ore.png']}");
    width:30px;
    height:30px;
}
.rawresourcebar_howalore_image{
    background-image: url("#{resource['basic/pic/menu/icons:howalore.png']}");
    width:30px;
    height:30px;
}


.rawresourcebar_ynkeore_image{
    background-image: url("#{resource['basic/pic/menu/icons:ynkeore.png']}");
    width:30px;
    height:30px;
}

.foodbar_bar{
    height: 10px;
}

.foodbar_bar_production{
    .foodbar_bar;
    @production_now: #55FF55;
    background: -webkit-gradient(linear, left top, left bottom, from(@production_now + #151515), to(@production_now - #151515));
    background: -moz-linear-gradient(top,  @production_now + #151515,  @production_now - #151515);
}
.foodbar_bar_consumption{
    .foodbar_bar;
    @production_later: #22AA22;
    background: -webkit-gradient(linear, left top, left bottom, from(@production_later + #151515), to(@production_later - #151515));
    background: -moz-linear-gradient(top,  @production_later + #151515,  @production_later - #151515);
}

.foodbar_bar_stock_positive{
    .foodbar_bar;
    @production_later: green;
    background: -webkit-gradient(linear, left top, left bottom, from(@production_later + #151515), to(@production_later - #151515));
    background: -moz-linear-gradient(top,  @production_later + #151515,  @production_later - #151515);
}

.foodbar_bar_stock_negative{
    .foodbar_bar;
    @production_later: orange;
    background: -webkit-gradient(linear, left top, left bottom, from(@production_later + #151515), to(@production_later - #151515));
    background: -moz-linear-gradient(top,  @production_later + #151515,  @production_later - #151515);
}

.foodbar_bar_stock_equal{
    .foodbar_bar;
    @production_later: yellow;
    background: -webkit-gradient(linear, left top, left bottom, from(@production_later + #151515), to(@production_later - #151515));
    background: -moz-linear-gradient(top,  @production_later + #151515,  @production_later - #151515);
}


.foodbar_bar_stock_equal{
    .foodbar_bar;
    @production_later: yellow;
    background: -webkit-gradient(linear, left top, left bottom, from(@production_later + #151515), to(@production_later - #151515));
    background: -moz-linear-gradient(top,  @production_later + #151515,  @production_later - #151515);
}

.populationbar_growth_plus{

    background-image: url("#{resource['basic/pic/menu/icons:emigration_plus.png']}");
    width:9px;
    height:9px;
}

.populationbar_growth_minus{

    background-image: url("#{resource['basic/pic/menu/icons:emigration_minus.png']}");
    width:9px;
    height:9px;
}

.populationbar_morale{
    width:30px;
    height:30px;
}
.populationbar_morale_image_verygood{
    .populationbar_morale;
    background-image: url("#{resource['basic/pic/menu/icons:mood_verygood.png']}");
}
.populationbar_morale_image_good{
    .populationbar_morale;
    background-image: url("#{resource['basic/pic/menu/icons:mood_good.png']}");
}
.populationbar_morale_image_equal{
    .populationbar_morale;
    background-image: url("#{resource['basic/pic/menu/icons:mood_equal.png']}");
}
.populationbar_morale_image_bad{
    .populationbar_morale;
    background-image: url("#{resource['basic/pic/menu/icons:mood_bad.png']}");
}