


.status_tooltip_cell_negative {
    background-color: red;
}

.status_tooltip_cell_positive {
    background-color: green;
}

.status_tooltip_cell_equal {
    background-color: #fbae57;
    opacity: 0.5;
}