@import "../common/bootstrap.less";
@import "../common/lessOverrides.less";

/** Datai richfacesVariables.less                                     *
  * zur Deklaration globaler Variablen                                *
  * Anmerkung: die Unter- und Bindestriche habe ich zur leichteren    *
  * Unterscheidung zu automatisch generierten Klassen rausgenommen.   *
  * Container beginnen grundsätzlich mit Großbuchstaben, Klassen mit  *
  * Kleinbuchstaben. Die Namen werden in CamelCase geschrieben.       *
  * todo: theme muß noch durch eine Variable erweitert werden, mit    *
  * das vom Benutzer gewählte Schema übernommen wird.                 *
  */

/* Vordergrund-Farben*/
@themeColor: antiquewhite;
@themeColorDarker20: fade(@themeColor, -20%);
@themeColorBlack: #000000;
@themeColorBlack20p: fade(@themeColorBlack, 20%);

/* Farben für die Links */
@themeLinkColor: goldenrod;
@themeLinkColorHover: silver;
@themeLinkColorVisited: @themeLinkColor;
@themeLinkColorActive: red;

/* Hintergrund-Farben */
@themeBackgroundColor: #400000;
@themeBackgroundColorBlue: #000040;
@themeBackgroundColorBrighter: @themeBackgroundColor + #232323;
@themeBackgroundColorBrighter20: fade(@themeBackgroundColorBrighter, 20%);
@themeBackgroundColorBrighter80: fade(@themeBackgroundColorBrighter, 80%);

@themeBackgroundColorDarker20: fade(@themeBackgroundColorBrighter, -20%);
@themeBackgroundColorDarker80: fade(@themeBackgroundColorBrighter, -80%);

/** ==========  Text-Variablen  ===================================== *
  * Basisgröße ist 10px. Grund: Berechnungen lassen sich damit im     *
  * Hinblick auf kleinere und größere Bildschirmformate günstiger     *
  * realisieren, als mit 12px-Variante.                               *
  * Kleines Beispiel: font-size: 0.9em; = 9px bei der 10px-Variante   *
  *                   font-size: 0.9em; = 10,8px bei der 12px-Variante*
  * 10,8 px lassen sich aber schwer darstellen, deshalb wird auf 11px *
  * aufgerundet oder auf 10px abgerundet, je nach html-Client.        *
  * Das nur am Rand bemerkt. ;)                                       *
  */

@themeFont: @themeFontWeight
            @themeFontSize
            @themeFontFamily
            @themeFontColor;
@themeFontFamily: Tahoma, sans-serif;
@themeFontFixed: monospace;
@themeFontSize: 12px;
@themeFontColor: @themeColor;
@themeFontBold: bold;
@themeFontWeight: normal;

@themeLineHeight: normal;

@themeTextShadow: 3px 3px 2px @themeColorBlack;
@themeTextLabel: (@themeFontBold)
                 (@themeFontSize * 1.2)
                 (@themeFontFamily);

@themeAlignCenter: center;
@themeAlignLeft: left;
@themeAlignRight: right;
@themeAlignMiddle: middle;
@themeAlignTop: text-top;
@themeAlignBottom: bottom;

/*  ========== Text- und Elemente-Abstände  =======================  */
@themeMargin: (@themeFontSize * 1.5 );
@themeMarginTop: (@themeMargin);
@themeMarginRight: (@themeMargin);
@themeMarginBottom: (@themeMargin);
@themeMarginLeft: (@themeMargin);

@themePadding: ( @themeFontSize / 2);
@themePaddingTop: (@themePadding);
@themePaddingRight: (@themePadding);
@themePaddingBottom: (@themePadding);
@themePaddingLeft: (@themePadding);

/*  ========== Border- und Box-Modelle ============================  */
@themeBorder: @themeBorderWidth
              @themeBorderStyle
              @themeBorderColor;
@themeBorderWidth: 1px;
@themeBorderStyle: solid;
@themeBorderColor: @themeColor;
@themeBorderRadius: (@themeFontSize * 1.5);
@themeBoxShadow: (@themeFontSize * 1.5)
                 (@themeFontSize * 1.5)
                 (@themeFontSize * 1.5)
                 (@themeColorBlack);

@themeMenuBorder: @menuBarBorderWidth
                  @menuBarBorderStyle
                  @menuBarBordercolor;
@menuBarBorderWidth: @themeBorderWidth;
@menuBarBorderStyle: @themeBorderStyle;
@menuBarBordercolor: @themeBorderColor;
