<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core">

    <composite:interface>
        <composite:facet name="header" />
        <composite:attribute name="styleClass" required="false" shortDescription="gray"/>
        <composite:attribute name="columns" required="false"/>
    </composite:interface>

    <composite:implementation>
        <h:panelGrid columns="#{cc.attrs.columns}"
                     styleClass="indexPanelGrid"
                     headerClass="info_header">

            <c:choose>
                <c:when test="#{not empty cc.facets.header}">
                    <composite:insertFacet name="header" />
                </c:when>
                <c:otherwise>
                    <f:facet name="header">
                    </f:facet>
                </c:otherwise>
            </c:choose>
            <composite:insertChildren/>
        </h:panelGrid>
        <br/>
        <br/>
    </composite:implementation>

</html>