<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"

      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:a4j="http://richfaces.org/a4j">

    <composite:interface>
        <composite:attribute name="value" shortDescription="Text or languagekey"/>
        <composite:attribute name="params" required="false" shortDescription="Specify params which are replaced seperated by ','. Eg.: params='32,234'"/>
        <composite:attribute name="error" shortDescription="true or false" default="false"/>
        <composite:attribute name="style" required="false"/>
        <composite:attribute name="rendered"/>

    </composite:interface>

    <composite:implementation>
        <c:if test="#{cc.attrs.error eq 'true'}">
            <h:panelGrid class="messageError marginCenter" columns="2">
                <h:graphicImage id="errorMessage" library="basic" name="pic/err.png" />
                <h:outputText rendered="#{cc.attrs.rendered}" style="#{cc.attrs.style}" value="#{MLBean.getML(cc.attrs.value, cc.attrs.params)}"/>
            </h:panelGrid>
        </c:if>
        <c:if test="#{cc.attrs.error eq 'false'}">
            <h:panelGrid class="messageSuccess marginCenter" columns="2" >
                <h:graphicImage id="successMessage" library="basic" name="pic/ok.png" />
                <h:outputText rendered="#{cc.attrs.rendered}" style="#{cc.attrs.style}" value="#{MLBean.getML(cc.attrs.value, cc.attrs.params)}"/>
            </h:panelGrid>
        </c:if>
        <composite:insertChildren />
    </composite:implementation>

</html>