<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j">

    <h:form id="ContentForm">
        <rich:tabPanel id="TabPanel">
            <rich:tab id="PlanetOverviewTab" 
                      header="[ Tab PlanetName ]">
                <rich:dataGrid id="PlanetInfoGrid" columns="2">
                    <rich:dataTable id="PlanetInfo" >
                        <h:graphicImage library="basic" value="pic/nb1.jpg" alt="PlanetPic"/>
                        <h:outputText value="#{MLBean.lang.sites.management.overview.label.planet}"/>
                    </rich:dataTable>
                </rich:dataGrid>
            </rich:tab>
            <rich:tab id="PlanetConstructionTab" 
                      header="[ Tablabel Allgmein ]">
                <p>Body 2</p>
            </rich:tab>
            <rich:tab id="PlanetProductionTab" 
                      header="[ Tablabel Ressourcen ]">
                <p>Body 3</p>
            </rich:tab>
        </rich:tabPanel>
    </h:form>

</ui:composition>