<ui:composition  template=".././template.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:dd="http://java.sun.com/jsf/composite/dd"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:c="http://java.sun.com/jsp/jstl/core"
                 xmlns:rich="http://richfaces.org/rich">
    <ui:define name="title">#{MLBean.getMLTitle(ML.lang.sites.bugs.lbl.bugs)}</ui:define>
    <ui:define name="content">
        <h:form>
            <h:panelGrid style="margin: 0 auto;">
                <h:commandLink value="#{MLBean.getML(ML.lang.sites.bugs.lbl.addbug)}" action="#{BugBean.createNewBug()}" />
                <h:commandLink rendered="#{LoginBean.adminLogged}" value="#{MLBean.getML(ML.lang.sites.bugs.lbl.changeeditmode)}" action="#{BugBean.changeEditAdminMode()}" />
            </h:panelGrid>
        </h:form>
        <h:form>
            <rich:dataTable sortMode="single" class="trackerDataGrid" style="margin: 0 auto;" id="bugs" rows="7" value="#{BugBean.getBugsSorted()}" var="bug">
                <f:facet name="header">
                    <h:panelGrid columns="1" style="width:100%; margin: 0 auto;" cellpadding="0" cellspacing="0">
                        <h:panelGrid columns="2" style="width:100%; margin: 0 auto;" cellpadding="0" cellspacing="0">
                            <h:outputText value="#{MLBean.getML(ML.lang.sites.bugs.lbl.bugs)}"/>
                        </h:panelGrid>
                        <h:panelGrid columns="2" style="width:100%; margin: 0 auto;" cellpadding="0" cellspacing="0">
                            <h:form>
                                <h:panelGrid columns="2" style="text-align: right;">
                                    <h:outputText  value="Version "/>
                                    <h:selectOneMenu id="language" value="#{BugBean.releaseId}">
                                        <f:selectItems value="#{VersionBean.getVersionsDropDown()}" var="language" />
                                        <a4j:ajax event="valueChange" render="bugs"/>
                                    </h:selectOneMenu>
                                </h:panelGrid>
                            </h:form>
                            <h:form>
                                <h:panelGrid columns="2" style="width:100%; text-align: right;">
                                    <h:outputLabel value=" Show fixed " for="fixed"/>
                                    <h:selectBooleanCheckbox id="fixed" value="#{BugBean.displayFixed}">
                                        <a4j:ajax event="click" render="bugs"/>
                                    </h:selectBooleanCheckbox>
                                </h:panelGrid>
                            </h:form>
                        </h:panelGrid>
                    </h:panelGrid>
                </f:facet>
                <rich:column sortBy="#{bug.date}">
                    <f:facet name="header">
                        <h:outputText value="#{MLBean.getML(ML.lang.sites.tracker.lbl.date)}" />
                    </f:facet>
                    <h:outputText value="#{ConversionBean.longToDateString(bug.date)}"/>
                </rich:column>
                <rich:column>
                    <f:facet name="header">#{MLBean.getML(ML.lang.sites.tracker.lbl.subject)}</f:facet>
                    <h:outputText  id="subject" escape="false" value="#{bug.subject}"/>
                </rich:column>
                <rich:column sortBy="#{bug.releaseId}">
                    <f:facet name="header">#{MLBean.getML(ML.lang.sites.tracker.lbl.release)}</f:facet>
                    <h:panelGrid columns="2">
                        <h:panelGrid>
                            <h:outputText  id="release" escape="false" value="#{VersionBean.getVersion(bug.releaseId).version}"/>
                        </h:panelGrid>
                        <h:panelGrid rendered="#{BugBean.editAdminMode}" class="scroller"  columns="1">
                            <a4j:commandLink rendered="#{BugBean.editAdminMode}" value="" render="bugs" action="#{bug.incrementVersion()}">
                                <h:graphicImage library="basic" name="images/up.png" />
                            </a4j:commandLink>
                            <a4j:commandLink rendered="#{BugBean.editAdminMode}" value="" render="bugs" action="#{bug.decrementVersion()}">
                                <h:graphicImage library="basic" name="images/down.png" />
                            </a4j:commandLink>
                        </h:panelGrid>
                    </h:panelGrid>
                </rich:column>
                <rich:column sortBy="#{bug.priority.ordinal()}" >
                    <f:facet name="header">
                        <h:outputText value="#{MLBean.getML(ML.lang.sites.tracker.lbl.priority)}"/>
                    </f:facet>
                    <h:panelGrid columns="2">
                        <h:panelGrid columns="2" >
                            <h:outputText escape="false" value="&#160;&#160;&#160;&#160;" style="#{ConversionBean.bugPriorityToStyle(bug.priority)}"/>
                            <h:outputText id="priority" escape="false" value="#{ConversionBean.bugPriorityToName(bug.priority)}"/>
                        </h:panelGrid>
                        <h:panelGrid rendered="#{BugBean.editAdminMode}" class="scroller"  columns="1">
                            <a4j:commandLink rendered="#{BugBean.editAdminMode}" value="" render="bugs" action="#{bug.incrementPriority()}">
                                <h:graphicImage library="basic" name="images/up.png" />
                            </a4j:commandLink>
                            <a4j:commandLink rendered="#{BugBean.editAdminMode}" value="" render="bugs" action="#{bug.decrementPriority()}">
                                <h:graphicImage library="basic" name="images/down.png" />
                            </a4j:commandLink>
                        </h:panelGrid>
                    </h:panelGrid>
                </rich:column>
                <rich:column sortBy="#{bug.status.ordinal()}">
                    <f:facet name="header">
                        <h:outputText value="#{MLBean.getML(ML.lang.sites.tracker.lbl.status)}" />
                    </f:facet>
                    <h:panelGrid columns="2">
                        <h:panelGrid columns="3" style="text-align: left;">
                            <h:outputText escape="false" value="&#160;&#160;&#160;&#160;" style="#{ConversionBean.bugStatusToStyle(bug.status)}"/>
                            <h:outputText id="status" escape="false" value="#{ConversionBean.bugStatusToName(bug.status)}"/>
                        </h:panelGrid>
                        <h:panelGrid  rendered="#{BugBean.editAdminMode}" class="scroller"  columns="1">
                            <a4j:commandLink rendered="#{BugBean.editAdminMode}" value="" render="bugs" action="#{bug.incrementStatus()}">
                                <h:graphicImage library="basic" name="images/up.png" />
                            </a4j:commandLink>
                            <a4j:commandLink rendered="#{BugBean.editAdminMode}" value="" render="bugs" action="#{bug.decrementStatus()}">
                                <h:graphicImage library="basic" name="images/down.png" />
                            </a4j:commandLink>
                        </h:panelGrid>
                    </h:panelGrid>
                </rich:column>
                <rich:column>
                    <f:facet name="header">#{MLBean.getML(ML.lang.sites.tracker.lbl.submitter)}</f:facet>
                    <h:panelGrid>
                        <h:outputText id="submitter" escape="false" value="#{ConversionBean.idToUserName(bug.userId)}"/>
                    </h:panelGrid>
                </rich:column>
                <rich:column>
                    <f:facet name="header">#{MLBean.getML(ML.lang.sites.tracker.lbl.worker)}</f:facet>
                    <h:panelGrid>
                        <h:outputText  id="worker" escape="false" value="#{ConversionBean.idToUserName(bug.workerId)}"/>
                    </h:panelGrid>
                </rich:column>
                <rich:column rendered="#{LoginBean.adminLogged}">
                    <f:facet name="header">#{MLBean.getML(ML.lang.sites.tracker.lbl.public)}</f:facet>
                    <h:panelGrid columns="2">
                        <h:panelGrid columns="1">
                            <a4j:outputPanel rendered="#{bug.visible}">
                                <h:graphicImage id="visible" rendered="#{bug.visible}" library="basic" name="images/public.png">
                                    <rich:tooltip>
                                        <h:panelGrid columns="2">
                                            <h:outputText value="#{MLBean.getML('visibility_PUBLIC')}"/>
                                        </h:panelGrid>
                                    </rich:tooltip>
                                </h:graphicImage>
                            </a4j:outputPanel>
                            <a4j:outputPanel rendered="#{!bug.visible}">
                                <h:graphicImage id="private" rendered="#{!bug.visible}" library="basic" name="images/private.png" >
                                    <rich:tooltip>
                                        <h:panelGrid columns="2">
                                            <h:outputText value="#{MLBean.getML('visibility_PRIVATE')}"/>
                                        </h:panelGrid>
                                    </rich:tooltip>
                                </h:graphicImage>
                            </a4j:outputPanel>
                        </h:panelGrid>
                        <h:panelGrid  rendered="#{BugBean.editAdminMode}"  class="scroller"  columns="1">
                            <a4j:commandLink rendered="#{BugBean.editAdminMode}" value="" render="bugs" action="#{bug.changeVisible()}">
                                <h:graphicImage library="basic" name="images/change.png" />
                            </a4j:commandLink>
                        </h:panelGrid>
                    </h:panelGrid>
                </rich:column>
                <!--
                <rich:column>
                    <f:facet name="header">#{MLBean.getML(ML.lang.sites.tracker.lbl.timeconsumed)}</f:facet>
                    <h:panelGrid  columns="3">
                        <h:panelGrid columns="1">
                            <h:outputText  id="timeConsumed" escape="false" value="#{ConversionBean.minuteToTime(bug.timeConsumed)}"/>
                        </h:panelGrid>
                        <h:panelGrid rendered="#{BugBean.editAdminMode}" class="scroller"   columns="1">
                            <a4j:commandLink rendered="#{BugBean.editAdminMode}" value="" render="bugs" action="#{bug.incrementTimeConsumedHeavy()}">
                                <h:graphicImage library="basic" name="images/up.png" />
                            </a4j:commandLink>
                            <a4j:commandLink rendered="#{BugBean.editAdminMode}" value="" render="bugs" action="#{bug.decrementTimeConsumedHeavy()}">
                                <h:graphicImage library="basic" name="images/down.png" />
                            </a4j:commandLink>
                        </h:panelGrid>
                        <h:panelGrid rendered="#{BugBean.editAdminMode}"    class="scroller" columns="1">
                            <a4j:commandLink rendered="#{BugBean.editAdminMode}" value="" render="bugs" action="#{bug.incrementTimeConsumed()}">
                                <h:graphicImage library="basic" name="images/up.png" />
                            </a4j:commandLink>
                            <a4j:commandLink rendered="#{BugBean.editAdminMode}" value="" render="bugs" action="#{bug.decrementTimeConsumed()}">
                                <h:graphicImage library="basic" name="images/down.png" />
                            </a4j:commandLink>
                        </h:panelGrid>
                    </h:panelGrid>
                </rich:column>
                -->
                <rich:column>
                    <f:facet name="header">#{MLBean.getML(ML.lang.sites.tracker.lbl.details)}</f:facet>
                    <a4j:commandLink  value="#{MLBean.getML(ML.lang.sites.bugs.lbl.details, BugBean.getMessageSize(bug.id))}" render="details" onclick="#{rich:component('details')}.hide();#{BugBean.createNewBugMessage()};" oncomplete="#{rich:component('details')}.show();">
                        <a4j:param value="#{bug.id}" assignTo="#{BugBean.bugDetailId}"/>
                    </a4j:commandLink>
                </rich:column>
                <rich:column rendered="#{BugBean.editAdminMode}">
                    <f:facet name="header">#{MLBean.getML(ML.lang.sites.tracker.lbl.actions)}</f:facet>
                    <h:commandLink  rendered="#{BugBean.editAdminMode}" value="Assign to me" action="#{BugBean.assignBugToMe(bug.id)}" /><br/>
                    <a4j:commandLink styleClass="whiteColor" value="Assign to" render="assignToPerson" onclick="#{rich:component('assignToPerson')}.hide();" oncomplete="#{rich:component('assignToPerson')}.show();">

                        <a4j:param value="#{bug.id}" assignTo="#{BugBean.bugDetailId}" />
                    </a4j:commandLink>
                    <BR/>
                    <h:commandLink rendered="#{BugBean.editAdminMode}" value="L&#246;schen" action="#{BugBean.deleteBug(bug.id)}" /><br/>
                    <h:commandLink rendered="#{BugBean.editAdminMode}" value="Editieren" action="#{BugBean.setBug(bug)}" />
                </rich:column>
                <f:facet name="footer">
                    <rich:dataScroller fastControls="hide" id="scroller" />
                </f:facet>
            </rich:dataTable>
        </h:form>
        <h:form>
            <rich:popupPanel class="popupPanel" width="700" height="500" maxHeight="850" domElementAttachment="form" id="details" modal="false"  resizeable="true">
                <f:facet name="header">
                    <h:outputText value="#{BugBean.bug.subject}" />
                </f:facet>
                <f:facet name="controls">
                    <h:outputLink value="#" onclick="#{rich:component('details')}.hide();
                            return false;">
                        <h:outputText class="themeBoxBorder" style="background-color: black; font-weight: bolder;" value="&#160;X&#160;"/>
                    </h:outputLink>
                </f:facet>
                <c:if test="#{!LoginBean.logged}">
                    <dd:outputText value="#{ML.lang.global.lbl.pleaselogin}" />
                </c:if>
                <c:if test="#{LoginBean.logged}">
                    <rich:dataTable class="datagrid" style="width:100%;" id="dataTable" rows="5" value="#{BugBean.getBugMessages()}" var="bugMessage">
                        <f:facet name="header">
                            <dd:outputText value="#{ML.lang.global.lbl.messages}" />
                        </f:facet>
                        <rich:column>
                            <h:panelGrid columnClasses="c1black,c2black" columns="2">
                                <h:outputText value="#{ConversionBean.longToDateString(bugMessage.date)}"/>
                                <h:outputText value="#{ConversionBean.idToUserName(bugMessage.userId)}"/>
                            </h:panelGrid>
                            <h:panelGrid columnClasses="c3black" columns="1">
                                <h:outputText escape="false" value="#{bugMessage.messageReplaced}" />
                            </h:panelGrid>
                        </rich:column>
                        <rich:column rendered="#{LoginBean.adminLogged}">
                            <f:facet name="header">#{MLBean.getML(ML.lang.global.lbl.actions)}</f:facet>
                            <a4j:commandButton render="dataTable"  rendered="#{LoginBean.adminLogged}" value="#{MLBean.getML(ML.lang.global.lbl.delete)}" action="#{BugBean.deleteBugMessage(bugMessage.id)}" /><br/>
                        </rich:column>
                        <f:facet name="footer">
                            <rich:dataScroller page="999" id="scroller" />
                        </f:facet>
                    </rich:dataTable>
                    <br/>
                    <h:panelGrid class="themeBoxBorder"  style="width:100%; margin: 0 auto;" columns="1">
                        <f:facet name="header">
                            <h:panelGrid style="width:100%; margin: 0 auto; text-align: center;" class="themeBackgroundColorGradient">
                                <h:outputText value="Neue Nachricht"/>
                            </h:panelGrid>
                        </f:facet>
                        <h:panelGrid columns="1"  class="themeBackgroundColorBrighter80" style="width:100%; margin:0 auto;">
                            <h:panelGrid columns="2" id="input"  style="margin: 0 auto;">
                                <dd:outputLabel for="name" value="#{ML.lang.global.lbl.name}"/>
                                <h:outputText id="name" value="#{LoginBean.user.userName}"/>
                                <dd:outputLabel for="message" value="#{ML.lang.global.lbl.message}"/>
                                <h:inputTextarea id="message" rows="10" cols="50" value="#{BugBean.bugMessage.message}"/>
                            </h:panelGrid>
                            <h:panelGrid columns="1" style="margin: 0 auto;">
                                <a4j:commandButton render="bugs,dataTable" value="#{MLBean.getML(ML.lang.global.lbl.addmessage)}" action="#{BugBean.addBugMessage()}"/>
                                <h:outputLink value="#" onclick="#{rich:component('details')}.hide();
                            return false;">#{MLBean.getML(ML.lang.global.lbl.close)}
                                </h:outputLink>
                            </h:panelGrid>
                        </h:panelGrid>
                    </h:panelGrid>
                </c:if>
            </rich:popupPanel>
        </h:form>
        <h:form>
            <rich:popupPanel width="400" domElementAttachment="form" id="assignToPerson" modal="false" autosized="true" resizeable="false">
                <f:facet name="header">
                    <dd:outputText value="#{ML.lang.global.lbl.messages}" />
                </f:facet>
                <f:facet name="controls">
                    <h:outputLink value="#" onclick="#{rich:component('assignToPopup')}.hide();
                            return false;">
                        x
                    </h:outputLink>
                </f:facet>
                <c:if test="#{!LoginBean.logged}">
                    <h:outputText value="#{MLBean.getML(ML.lang.global.lbl.pleaselogin)}" />
                </c:if>
                <c:if test="#{LoginBean.logged}">
                    <rich:dataTable id="dataTable" style="width:100%; margin: 0 auto;" rows="10" value="#{UserBean.users}" var="user">
                        <rich:column>
                            <f:facet name="header">
                                Person
                            </f:facet>
                            <h:outputText value="#{user.userName}"/>
                        </rich:column>
                        <rich:column rendered="#{BugBean.editAdminMode}">
                            <f:facet name="header">#{MLBean.getML(ML.lang.global.lbl.actions)}</f:facet>
                            <a4j:commandButton render="dataTable" rendered="#{BugBean.editAdminMode}" value="Assign" action="#{BugBean.assignBugTo(user.id)}" oncomplete="#{rich:component('assignToPerson')}.hide();" /><br/>
                        </rich:column>
                        <f:facet name="footer">
                            <rich:dataScroller id="scroller" />
                        </f:facet>
                    </rich:dataTable>
                </c:if>
            </rich:popupPanel>
        </h:form>
        <br/><br/>
    </ui:define>
</ui:composition>
