<ui:composition  template="../index.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:c="http://java.sun.com/jsp/jstl/core"
                 xmlns:dd="http://java.sun.com/jsf/composite/dd"
                 xmlns:rich="http://richfaces.org/rich">

    <ui:define name="title">#{MLBean.getMLTitle(ML.lang.sites.bugs.lbl.bugs)}</ui:define>
    <ui:define name="content">
        <h:form>
            <div align="center">
                <c:if test="#{!LoginBean.logged}">
                    Bitte Loggen sie sich ein
                </c:if>
                <c:if test="#{LoginBean.logged}">
                    <h:panelGrid class="indexPanelGrid" headerClass="themeBackgroundColorBrighterGradient" columns="2">
                        <f:facet name="header">
                            <h:panelGrid style="margin:0 auto; width:100%; text-align: center;">
                                <dd:outputText value="#{ML.lang.sites.bugs.lbl.addbug}"/>
                            </h:panelGrid>
                        </f:facet>
                        <dd:outputLabel for="subject" value="#{ML.lang.sites.bugs.lbl.subject}"/>
                        <h:inputText id="subject" size="62" value="#{BugBean.bug.subject}"/>
                        <dd:outputLabel for="message" value="#{ML.lang.sites.bugs.lbl.message}"/>
                        <h:inputTextarea cols="60" rows="15" id="message" value="#{BugBean.bugMessage.message}"/>
                        <dd:outputLabel for="hoster" value="#{ML.lang.sites.bugs.lbl.priority}"/>
                        <h:selectOneMenu  id="priority" value="#{BugBean.bug.priority}">
                            <f:selectItems value="#{BugBean.getPriorityValueItems()}" var="priority" />
                        </h:selectOneMenu>

                        <dd:outputLabel  rendered="#{LoginBean.adminLogged}" for="status" value="#{ML.lang.sites.bugs.lbl.status}"/>
                        <h:selectOneMenu rendered="#{LoginBean.adminLogged}" id="status" value="#{BugBean.bug.status}">
                            <f:selectItems value="#{BugBean.getStatusValueItems()}" var="status"/>
                        </h:selectOneMenu>
                        <h:panelGrid columns="2">
                            <dd:outputLabel for="public" value="#{ML.lang.sites.bugs.lbl.public}" />
                        </h:panelGrid>
                        <h:selectBooleanCheckbox id="public" value="#{BugBean.bug.visible}"/>
                        <f:facet name="footer">
                            <h:panelGrid style="margin:0 auto; width:100%">
                                <h:commandButton value="#{MLBean.getML(ML.lang.sites.bugs.lbl.reportbug)}" action="#{BugBean.addBug()}" />
                                <h:commandButton rendered="#{BugBean.editMode}" value="#{MLBean.getML(ML.lang.sites.bugs.lbl.changebugreport)}" action="#{BugBean.updateBug()}" />
                            </h:panelGrid>
                        </f:facet>
                    </h:panelGrid>
                </c:if>
            </div>
        </h:form>
    </ui:define>
</ui:composition>