<ui:composition  template="../index.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:c="http://java.sun.com/jsp/jstl/core"
                 xmlns:rich="http://richfaces.org/rich">

    <ui:define name="title">#{MLBean.getMLTitle(ML.lang.sites.tasks.lbl.tasks)}</ui:define>
    <ui:define name="content">
        <h:form>
            <div align="center">
                <h:panelGrid rules="center"  columns="2">
                    <h:outputLabel class="form" for="hoster">#{MLBean.getML('global_lbl_subject')}</h:outputLabel>
                    <h:inputText id="hoster" value="#{TaskBean.task.subject}"/>
                    <h:outputLabel class="form" for="version">#{MLBean.getML('global_lbl_message')}</h:outputLabel>
                    <h:inputTextarea cols="30" rows="10" id="version" value="#{TaskBean.taskMessage.message}"/>

                    <h:outputLabel for="priority">#{MLBean.getML('tracker_lbl_priority')}</h:outputLabel>
                    <h:selectOneMenu   id="priority" value="#{TaskBean.task.priority}">
                        <f:selectItems value="#{TaskBean.getPriorityValues()}" var="priority" />
                    </h:selectOneMenu>

                    <h:outputLabel  rendered="#{LoginBean.adminLogged}" for="status">Status</h:outputLabel>
                    <h:selectOneMenu  rendered="#{LoginBean.adminLogged}" id="status" value="#{TaskBean.task.status}">
                        <f:selectItems value="#{TaskBean.getStatusValues()}" var="status" />
                    </h:selectOneMenu>

                    <h:outputLabel for="public">Öffentlich</h:outputLabel>
                    <h:selectBooleanCheckbox id="public" value="#{TaskBean.task.visible}"/>

                </h:panelGrid>
                <h:commandButton value="TaskReport hinzuf&uuml;gen" action="#{TaskBean.addTask()}" />
                <h:commandButton rendered="#{TaskBean.editMode}" value="TaskReport &auml;ndern" action="#{TaskBean.updateTask()}" />
            </div>
        </h:form>
    </ui:define>
</ui:composition>