<ui:composition  template=".././template.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:dd="http://java.sun.com/jsf/composite/dd"
                 xmlns:c="http://java.sun.com/jsp/jstl/core"
                 xmlns:rich="http://richfaces.org/rich">
    <ui:define name="title">#{MLBean.getMLTitle(ML.lang.sites.tasks.lbl.tasks)}</ui:define>
    <ui:define name="content">
        <h:form>
            <h:panelGrid style="margin:0 auto;" rendered="#{LoginBean.adminLogged}" >
                <h:commandLink rendered="#{LoginBean.adminLogged}" value="#{MLBean.getML(ML.lang.sites.tasks.lbl.addtask)}" action="#{TaskBean.createNewTask()}" />
                <h:commandLink rendered="#{LoginBean.adminLogged}" value="#{MLBean.getML(ML.lang.sites.tasks.lbl.changeeditmode)}" action="#{TaskBean.changeEditAdminMode()}" />
            </h:panelGrid>
        </h:form>
        <h:panelGrid  style="margin:0 auto;">
            <h:panelGrid  columns="2" >
            </h:panelGrid>
        </h:panelGrid>
        <h:form>
            <rich:dataTable sortMode="single" class="trackerDataGrid" id="tasks" style="margin: 0 auto;" value="#{TaskBean.tasksSorted}" rows="7" var="task">
                <f:facet name="header">
                    <h:panelGrid columns="1" style="width:100%; margin: 0 auto;" cellpadding="0" cellspacing="0">
                        <h:panelGrid columns="2" style="width:100%; margin: 0 auto;" cellpadding="0" cellspacing="0">
                            <dd:outputText value="#{ML.lang.sites.tasks.lbl.tasks}"/>
                        </h:panelGrid>
                        <h:panelGrid columns="2" style="width:100%; margin: 0 auto;" cellpadding="0" cellspacing="0">
                            <h:form>
                                <h:panelGrid columns="2" style="text-align: right;">
                                    <h:outputText  value="Version "/>
                                    <h:selectOneMenu id="language" value="#{TaskBean.releaseId}">
                                        <f:selectItems value="#{VersionBean.getVersionsDropDown()}" var="language" />
                                        <a4j:ajax event="valueChange" render="tasks"/>
                                    </h:selectOneMenu>
                                </h:panelGrid>
                            </h:form>
                            <h:form>
                                <h:panelGrid columns="2" style="width:100%; text-align: right;">
                                    <h:outputLabel value=" Show fixed " for="fixed"/>
                                    <h:selectBooleanCheckbox id="label" value="#{TaskBean.displayFixed}">
                                        <a4j:ajax event="click" render="tasks"/>
                                    </h:selectBooleanCheckbox>
                                </h:panelGrid>
                            </h:form>
                        </h:panelGrid>
                    </h:panelGrid>
                </f:facet>
                <rich:column sortBy="#{task.date}">
                    <f:facet name="header">
                        <h:outputText value="#{MLBean.getML(ML.lang.sites.tracker.lbl.date)}" />
                    </f:facet>
                    <h:outputText value="#{ConversionBean.longToDateString(task.date)}"/>
                </rich:column>
                <rich:column>
                    <f:facet name="header">#{MLBean.getML(ML.lang.sites.tracker.lbl.subject)}</f:facet>
                    <h:outputText  id="subject" escape="false" value="#{task.subject}"/>
                </rich:column>
                <rich:column sortBy="#{bug.releaseId}" >
                    <f:facet name="header">#{MLBean.getML(ML.lang.sites.tracker.lbl.release)}</f:facet>
                    <h:panelGrid  columns="2">
                        <h:panelGrid  class="outputfield">
                            <h:outputText  id="release" escape="false" value="#{VersionBean.getVersion(task.releaseId).version}"/>
                        </h:panelGrid>
                    </h:panelGrid>
                </rich:column>
                <rich:column sortBy="#{task.priority.ordinal()}">
                    <f:facet name="header">
                        <h:outputText value="#{MLBean.getML(ML.lang.sites.tracker.lbl.priority)}" />
                    </f:facet>
                    <h:panelGrid  columns="2">
                        <h:panelGrid columns="2"  >
                            <h:outputText escape="false" value="&#160;&#160;&#160;&#160;" style="#{ConversionBean.taskPriorityToStyle(task.priority)}"/>
                            <h:outputText  id="priority" escape="false" value="#{ConversionBean.taskPriorityToName(task.priority)}"/>
                        </h:panelGrid>
                        <h:panelGrid rendered="#{TaskBean.editAdminMode}" class="scroller"  columns="1">
                            <a4j:commandLink rendered="#{TaskBean.editAdminMode}" value="" render="tasks" action="#{task.incrementPriority()}">
                                <h:graphicImage library="basic" name="images/up.png" />
                            </a4j:commandLink>
                            <a4j:commandLink rendered="#{TaskBean.editAdminMode}" value="" render="tasks" action="#{task.decrementPriority()}">
                                <h:graphicImage library="basic" name="images/down.png" />
                            </a4j:commandLink>
                        </h:panelGrid>
                    </h:panelGrid>
                </rich:column>
                <rich:column sortBy="#{task.status.ordinal()}">
                    <f:facet name="header">
                        <h:outputText value="#{MLBean.getML(ML.lang.sites.tracker.lbl.status)}"/>
                    </f:facet>
                    <h:panelGrid columns="2">
                        <h:panelGrid columns="2" >
                            <h:outputText escape="false" value="&#160;&#160;&#160;&#160;" style="#{ConversionBean.taskStatusToStyle(task.status)}"/>
                            <h:outputText  id="status" escape="false" value="#{ConversionBean.taskStatusToName(task.status)}"/>
                        </h:panelGrid>
                        <h:panelGrid  rendered="#{TaskBean.editAdminMode}" class="scroller"  columns="1">
                            <a4j:commandLink rendered="#{TaskBean.editAdminMode}" value="" render="tasks" action="#{task.incrementStatus()}">
                                <h:graphicImage library="basic" name="images/up.png" />
                            </a4j:commandLink>
                            <a4j:commandLink rendered="#{TaskBean.editAdminMode}" value="" render="tasks" action="#{task.decrementStatus()}">
                                <h:graphicImage library="basic" name="images/down.png" />
                            </a4j:commandLink>
                        </h:panelGrid>
                    </h:panelGrid>
                </rich:column>
                <rich:column>
                    <f:facet name="header">#{MLBean.getML(ML.lang.sites.tracker.lbl.submitter)}</f:facet>
                    <h:panelGrid  class="outputfield">
                        <h:outputText  id="submitter" escape="false" value="#{ConversionBean.idToUserName(task.userId)}"/>
                    </h:panelGrid>
                </rich:column>
                <rich:column>
                    <f:facet name="header">#{MLBean.getML(ML.lang.sites.tracker.lbl.worker)}</f:facet>
                    <h:panelGrid  class="outputfield">
                        <h:outputText  id="worker" escape="false" value="#{ConversionBean.idToUserName(task.workerId)}"/>
                    </h:panelGrid>
                </rich:column>
                <rich:column rendered="#{LoginBean.adminLogged}">
                    <f:facet name="header">#{MLBean.getML(ML.lang.sites.tracker.lbl.public)}</f:facet>
                    <h:panelGrid   columns="2">
                        <h:panelGrid columns="1"   class="outputfield">
                            <a4j:outputPanel rendered="#{task.visible}">
                                <h:graphicImage id="visible" rendered="#{task.visible}"  library="basic" name="images/public.png">
                                    <rich:tooltip >
                                        <h:panelGrid columns="2">
                                            <h:outputText value="#{MLBean.getML('visibility_PUBLIC')}"/>
                                        </h:panelGrid>
                                    </rich:tooltip>
                                </h:graphicImage>
                            </a4j:outputPanel>
                            <a4j:outputPanel rendered="#{!task.visible}">
                                <h:graphicImage id="private" rendered="#{!task.visible}"  library="basic" name="images/private.png" >
                                    <rich:tooltip >
                                        <h:panelGrid columns="2">
                                            <h:outputText value="#{MLBean.getML('visibility_PRIVATE')}"/>
                                        </h:panelGrid>
                                    </rich:tooltip>
                                </h:graphicImage>
                            </a4j:outputPanel>
                        </h:panelGrid>
                        <h:panelGrid  rendered="#{TaskBean.editAdminMode}"  class="scroller"  columns="1">
                            <a4j:commandLink rendered="#{TaskBean.editAdminMode}" value="" render="tasks" action="#{task.changeVisible()}">
                                <h:graphicImage  library="basic" name="images/change.png" />
                            </a4j:commandLink>
                        </h:panelGrid>
                    </h:panelGrid>
                </rich:column>
                <!--
                <rich:column>
                    <f:facet name="header">#{MLBean.getML('tracker_lbl_timeconsumed')}</f:facet>
                    <h:panelGrid   columns="3">
                        <h:panelGrid columns="1"  class="outputfield">
                            <h:outputText  id="timeConsumed" escape="false" value="#{ConversionBean.minuteToTime(task.timeConsumed)}"/>
                        </h:panelGrid>
                        <h:panelGrid rendered="#{TaskBean.editAdminMode}"    class="scroller"   columns="1">
                            <a4j:commandLink rendered="#{TaskBean.editAdminMode}" value="" render="tasks" action="#{task.incrementTimeConsumedHeavy()}">
                                <h:graphicImage library="basic" name="images/up.png" />
                            </a4j:commandLink>
                            <a4j:commandLink rendered="#{TaskBean.editAdminMode}" value="" render="tasks" action="#{task.decrementTimeConsumedHeavy()}">
                                <h:graphicImage library="basic" name="images/down.png" />
                            </a4j:commandLink>
                        </h:panelGrid>
                        <h:panelGrid rendered="#{TaskBean.editAdminMode}"    class="scroller" columns="1">
                            <a4j:commandLink rendered="#{TaskBean.editAdminMode}" value="" render="tasks" action="#{task.incrementTimeConsumed()}">
                                <h:graphicImage library="basic" name="images/up.png" />
                            </a4j:commandLink>
                            <a4j:commandLink rendered="#{TaskBean.editAdminMode}" value="" render="tasks" action="#{task.decrementTimeConsumed()}">
                                <h:graphicImage library="basic" name="images/down.png" />
                            </a4j:commandLink>
                        </h:panelGrid>
                    </h:panelGrid>
                </rich:column>-->
                <rich:column>
                    <f:facet name="header">#{MLBean.getML(ML.lang.sites.tracker.lbl.details)}</f:facet>
                    <a4j:commandLink value="#{MLBean.getML(ML.lang.sites.bugs.lbl.details, TaskBean.getMessageSize(task.id))}" render="details" onclick="#{rich:component('details')}.hide();#{TaskBean.createNewTaskMessage()};
                                     " oncomplete="#{rich:component('details')}.show();">
                        <a4j:param value="#{task.id}" assignTo="#{TaskBean.taskDetailId}" />
                    </a4j:commandLink>
                </rich:column>
                <rich:column rendered="#{TaskBean.editAdminMode}">
                    <f:facet name="header">#{MLBean.getML(ML.lang.sites.tracker.lbl.actions)}</f:facet>
                    <h:commandLink  rendered="#{TaskBean.editAdminMode}" value="Assign to me" action="#{TaskBean.assignTaskToMe(task.id)}" /><br/>

                    <a4j:commandLink value="Assign to" render="assignToPerson" onclick="#{rich:component('assignToPerson')}.hide();" oncomplete="#{rich:component('assignToPerson')}.show();">

                        <a4j:param value="#{task.id}" assignTo="#{TaskBean.taskDetailId}" />
                    </a4j:commandLink>
                    <BR/>
                    <h:commandLink  rendered="#{TaskBean.editAdminMode}" value="L&#246;schen" action="#{TaskBean.deleteTask(task.id)}" /><br/>
                    <h:commandLink  rendered="#{TaskBean.editAdminMode}" value="Editieren" action="#{TaskBean.setTask(task)}" />
                </rich:column>
                <f:facet name="footer">
                    <rich:dataScroller fastControls="hide" id="scroller" />
                </f:facet>
            </rich:dataTable>
        </h:form>
        <h:form>
            <rich:popupPanel class="popupPanel" width="700" height="600" maxHeight="850" domElementAttachment="form" id="details" modal="false"  resizeable="true">
                <f:facet name="header">
                    <h:outputText value="#{TaskBean.task.subject}" />
                </f:facet>
                <f:facet name="controls">
                    <h:outputLink value="#" onclick="#{rich:component('details')}.hide();
                            return false;">
                        <h:outputText class="themeBoxBorder" style="background-color: black; font-weight: bolder;" value="&#160;X&#160;"/>
                    </h:outputLink>
                </f:facet>
                <c:if test="#{!LoginBean.logged}">
                    <h:outputText value="#{MLBean.getML(ML.lang.global.lbl.pleaselogin)}" />
                </c:if>
                <c:if test="#{LoginBean.logged}">
                    <rich:dataTable class="datagrid"  style="width:100%;" id="dataTable"  rows="5" value="#{TaskBean.getTaskMessages()}" var="taskMessage">
                        <f:facet name="header">
                            <h:outputText value="#{MLBean.getML(ML.lang.global.lbl.messages)}" />
                        </f:facet>
                        <rich:column>
                            <h:panelGrid  columnClasses="c1black,c2black" columns="2">
                                <h:outputText value="#{ConversionBean.longToDateString(taskMessage.date)}"/>
                                <h:outputText value="#{ConversionBean.idToUserName(taskMessage.userId)}"/>
                            </h:panelGrid>
                            <h:panelGrid  columnClasses="c3black" columns="1">
                                <h:outputText escape="false" value="#{taskMessage.messageReplaced}" />
                            </h:panelGrid>
                        </rich:column>
                        <rich:column rendered="#{LoginBean.adminLogged}">
                            <f:facet name="header">#{MLBean.getML(ML.lang.global.lbl.actions)}</f:facet>
                            <a4j:commandButton render="dataTable"  rendered="#{LoginBean.adminLogged}" value="#{MLBean.getML(ML.lang.global.lbl.delete)}" action="#{TaskBean.deleteTaskMessage(taskMessage.id)}" /><br/>
                        </rich:column>
                        <f:facet name="footer">
                            <rich:dataScroller id="scroller" />
                        </f:facet>
                    </rich:dataTable>
                    <br/>
                    <h:panelGrid class="themeBoxBorder"  style="width:100%; margin: 0 auto;" columns="1">
                        <f:facet name="header">
                            <h:panelGrid style="width:100%; margin: 0 auto; text-align: center;" class="themeBackgroundColorGradient">
                                <h:outputText value="Neue Nachricht"/>
                            </h:panelGrid>
                        </f:facet>

                        <h:panelGrid columns="1"  class="themeBackgroundColorBrighter80" style="width:100%; margin:0 auto;">
                            <h:panelGrid columns="2" id="input" style="margin: 0 auto;">
                                <h:outputLabel for="name" value="#{MLBean.getML(ML.lang.global.lbl.name)}"/>
                                <h:outputText id="name" value="#{LoginBean.user.userName}"/>
                                <h:outputLabel for="message" value="#{MLBean.getML(ML.lang.global.lbl.message)}"/>
                                <h:inputTextarea id="message" rows="10" cols="30" value="#{TaskBean.taskMessage.message}"/>
                            </h:panelGrid>
                            <h:panelGrid  columns="1" style="margin: 0 auto;">
                                <a4j:commandButton render="dataTable,tasks"   value="#{MLBean.getML(ML.lang.global.lbl.addmessage)}" action="#{TaskBean.addTaskMessage()}"/>
                                <h:outputLink  value="#" onclick="#{rich:component('details')}.hide();
                            return false;">#{MLBean.getML(ML.lang.global.lbl.close)}
                                </h:outputLink>
                            </h:panelGrid>
                        </h:panelGrid>
                    </h:panelGrid>
                </c:if>
            </rich:popupPanel>
        </h:form>
        <h:form>
            <rich:popupPanel width="400" domElementAttachment="form" id="assignToPerson" modal="false" autosized="true" resizeable="false">
                <f:facet name="header">
                    <h:outputText value="#{MLBean.getML('global_lbl_messages')}" />
                </f:facet>
                <f:facet name="controls">
                    <h:outputLink  value="#" onclick="#{rich:component('assignToPopup')}.hide();
                            return false;">
                        x
                    </h:outputLink>
                </f:facet>
                <c:if test="#{!LoginBean.logged}">
                    <h:outputText value="#{MLBean.getML('global_lbl_pleaselogin')}" />
                </c:if>
                <c:if test="#{LoginBean.logged}">
                    <rich:dataTable id="dataTable"  rows="10" value="#{UserBean.users}" var="user">
                        <rich:column>
                            <f:facet name="header">
                                Person
                            </f:facet>
                            <h:outputText value="#{user.userName}"/>
                        </rich:column>
                        <rich:column rendered="#{TaskBean.editAdminMode}">
                            <f:facet name="header">#{MLBean.getML('global_lbl_actions')}</f:facet>
                            <a4j:commandButton render="dataTable"  rendered="#{TaskBean.editAdminMode}" value="Assign" action="#{TaskBean.assignTaskTo(user.id)}" oncomplete="#{rich:component('assignToPerson')}.hide();" /><br/>
                        </rich:column>
                        <f:facet name="footer">
                            <rich:dataScroller id="scroller" />
                        </f:facet>
                    </rich:dataTable>
                </c:if>
            </rich:popupPanel>
        </h:form>
    </ui:define>
</ui:composition>