<ui:composition template=".././template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:rich="http://richfaces.org/rich">

    <ui:define name="title">#{MLBean.getMLTitle(ML.lang.sites.highscore.lbl.halloffame)}</ui:define>
    <ui:define name="content">

        <c:if test="#{HighscoreBean.roundId == 0}">
            <h:form>
                <rich:dataTable class="datagrid" value="#{HighscoreBean.getRounds()}" style="margin: 0 auto;" var="round">
                    <rich:column>
                        <f:facet name="header">
                            <dd:outputText value="#{ML.lang.sites.round.lbl.round}"/>
                        </f:facet>
                        <h:commandLink value="#{round.name}" action="#{HighscoreBean.setRoundId(round.id)}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <dd:outputText value="#{ML.lang.sites.round.lbl.startdate}"/>
                        </f:facet>
                        <h:outputText value="#{ConversionBean.longToDateString(round.startDate)}" />
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <dd:outputText value="#{ML.lang.sites.round.lbl.enddate }"/>
                        </f:facet>
                        <h:outputText value="#{ConversionBean.longToDateString(round.endDate)}" />
                    </rich:column>
                </rich:dataTable>
            </h:form>
        </c:if>
        <c:if test="#{!(HighscoreBean.roundId == 0)}">
            <h:form>
                <h:panelGrid style="margin: 0 auto;">
                    <h:commandLink value="#{MLBean.getML(ML.lang.global.lbl.back)}" action="#{HighscoreBean.setRoundId(0)}"/>
                </h:panelGrid>
                <h:panelGrid id="dateScroller" cellpadding="4" class="themeBackgroundColorGradient themeBoxBorder" style="margin: 0 auto; height: 30px;" columns="7">
                    <a4j:commandLink value="" render="highscoreTable,dateScroller" action="#{HighscoreBean.iterate('MONTH_DOWN')}">
                        <h:graphicImage id="previous_month" library="basic" name="images/previous_month.png" >
                            <rich:tooltip >
                                <h:panelGrid columns="1">
                                    <dd:outputText value="#{ML.lang.sites.highscore.lbl.previous.month}"/>
                                </h:panelGrid>
                            </rich:tooltip>
                        </h:graphicImage>
                    </a4j:commandLink>
                    <a4j:commandLink value="" render="highscoreTable,dateScroller" action="#{HighscoreBean.iterate('WEEK_DOWN')}">
                        <h:graphicImage id="previous_week" library="basic" name="images/previous_week.png" >
                            <rich:tooltip >
                                <h:panelGrid columns="1">
                                    <dd:outputText value="#{ML.lang.sites.highscore.lbl.previous.week}"/>
                                </h:panelGrid>
                            </rich:tooltip>
                        </h:graphicImage>
                    </a4j:commandLink>
                    <a4j:commandLink value="" render="highscoreTable,dateScroller" action="#{HighscoreBean.iterate('DAY_DOWN')}">
                        <h:graphicImage id="previous_day" library="basic" name="images/previous_day.png" >
                            <rich:tooltip >
                                <h:panelGrid columns="1">
                                    <dd:outputText value="#{ML.lang.sites.highscore.lbl.previous.day}"/>
                                </h:panelGrid>
                            </rich:tooltip>
                        </h:graphicImage>
                    </a4j:commandLink>
                    <!-- date -->
                    <h:outputText value="#{ConversionBean.tickToDateString(HighscoreBean.actTick)}"/>
                    <a4j:commandLink value="" render="highscoreTable,dateScroller" action="#{HighscoreBean.iterate('DAY_UP')}">
                        <h:graphicImage id="next_day" library="basic" name="images/next_day.png" >
                            <rich:tooltip >
                                <h:panelGrid columns="1">
                                    <dd:outputText value="#{ML.lang.sites.highscore.lbl.next.day}"/>
                                </h:panelGrid>
                            </rich:tooltip>
                        </h:graphicImage>
                    </a4j:commandLink>
                    <a4j:commandLink value="" render="highscoreTable,dateScroller" action="#{HighscoreBean.iterate('WEEK_UP')}">
                        <h:graphicImage id="next_week" library="basic" name="images/next_week.png" >
                            <rich:tooltip >
                                <h:panelGrid columns="1">
                                    <dd:outputText value="#{ML.lang.sites.highscore.lbl.next.week}"/>
                                </h:panelGrid>
                            </rich:tooltip>
                        </h:graphicImage>
                    </a4j:commandLink>
                    <a4j:commandLink value="" render="highscoreTable,dateScroller" action="#{HighscoreBean.iterate('MONTH_UP')}">
                        <h:graphicImage id="next_month" library="basic" name="images/next_month.png" >
                            <rich:tooltip >
                                <h:panelGrid columns="1">
                                    <dd:outputText value="#{ML.lang.sites.highscore.lbl.next.month}"/>
                                </h:panelGrid>
                            </rich:tooltip>
                        </h:graphicImage>
                    </a4j:commandLink>
                </h:panelGrid>
                <br/>
                <rich:dataTable sortMode="single" class="datagrid" id="highscoreTable" style="margin: 0 auto;" value="#{HighscoreBean.getHighscoreEntries()}" var="entry" rows="20" >
                    <rich:column sortBy="#{entry.rank}">
                        <f:facet name="header">
                            <dd:outputText value="#{ML.lang.sites.highscore.lbl.rank}" />
                        </f:facet>
                        <h:outputText value="#{entry.rank}"/>
                    </rich:column>
                    <rich:column sortBy="#{entry.gameName}">
                        <f:facet name="header">
                            <dd:outputText value="#{ML.lang.sites.highscore.lbl.gamename}"/>
                        </f:facet>
                        <h:panelGroup >
                            <h:outputText value="#{entry.gameName}"/>
                        </h:panelGroup>
                    </rich:column>
                    <rich:column sortBy="#{entry.points}">
                        <f:facet name="header">
                            <dd:outputText value="#{ML.lang.sites.highscore.lbl.pointstotal}"/>
                        </f:facet>
                        <h:outputText value="#{entry.points}"/>
                    </rich:column>
                    <rich:column sortOrder="#{HighscoreSortingBean.getSortOrder(field)}" rendered="#{HighscoreBean.roundFinished}" sortBy="#{entry.populationPoints}">
                        <f:facet name="header">
                            <h:graphicImage id="population" library="basic"  name="images/population.png">
                                <rich:tooltip >
                                    <h:panelGrid columns="2">
                                        <dd:outputText value="#{ML.lang.sites.highscore.lbl.populationpoints}"/>
                                    </h:panelGrid>
                                </rich:tooltip>
                            </h:graphicImage>
                        </f:facet>
                        <h:outputText value="#{entry.populationPoints}"/>
                    </rich:column>
                    <rich:column rendered="#{HighscoreBean.roundFinished}" sortBy="#{entry.researchPoints}">
                        <f:facet name="header">
                            <h:graphicImage id="research"  library="basic"  name="images/research.png">
                                <rich:tooltip >
                                    <h:panelGrid columns="2">
                                        <dd:outputText value="#{ML.lang.sites.highscore.lbl.researchpoints}"/>
                                    </h:panelGrid>
                                </rich:tooltip>
                            </h:graphicImage>
                        </f:facet>
                        <h:outputText value="#{entry.researchPoints}"/>
                    </rich:column>
                    <rich:column rendered="#{HighscoreBean.roundFinished}" sortBy="#{entry.resourcePoints}">
                        <f:facet name="header">
                            <h:graphicImage id="resource"   library="basic" name="images/resources.png">
                                <rich:tooltip >
                                    <h:panelGrid columns="2">
                                        <dd:outputText value="#{ML.lang.sites.highscore.lbl.resourcepoints}"/>
                                    </h:panelGrid>
                                </rich:tooltip>
                            </h:graphicImage>
                        </f:facet>
                        <h:outputText value="#{entry.resourcePoints}"/>
                    </rich:column>
                    <rich:column rendered="#{HighscoreBean.roundFinished}" sortBy="#{entry.militaryPoints}">
                        <f:facet name="header">
                            <h:graphicImage id="military"  library="basic"  name="images/military.png">
                                <rich:tooltip >
                                    <h:panelGrid columns="2">
                                        <dd:outputText value="#{ML.lang.sites.highscore.lbl.militarypoints}"/>
                                    </h:panelGrid>
                                </rich:tooltip>
                            </h:graphicImage>
                        </f:facet>
                        <h:outputText value="#{entry.militaryPoints}"/>
                    </rich:column>
                    <f:facet name="footer">
                        <rich:dataScroller fastControls="hide" id="scroller" />
                    </f:facet>
                </rich:dataTable>
            </h:form>
        </c:if>
    </ui:define>
</ui:composition>