<ui:composition template=".././template.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:c="http://java.sun.com/jsp/jstl/core"
                 xmlns:rich="http://richfaces.org/rich">


    <ui:define name="title">#{MLBean.getMLTitle(ML.lang.sites.roundreplay.lbl.replays)}</ui:define>
    <ui:define name="content">
        <br/><br/>
        <h:panelGrid >
            <h:outputLink target="_new" value="planetlog/AppletMain.jsp">#{MLBean.getMLTitle('roundreplay_lbl_round_8')}</h:outputLink>
        </h:panelGrid>
    </ui:define>
</ui:composition