<ui:composition template=".././template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich">
    <ui:define name="content">
        <h:form>
            <dd:indexPanelGrid>
                <h:panelGrid style="margin: 0 auto;" columns="1" headerClass="info_header" columnClasses="info_text">
                    <f:facet name="header">
                        <dd:outputText value="#{ML.lang.sites.screenshots.lbl.screenshots}"/>
                    </f:facet>
                    <rich:dataGrid  value="#{ServiceBean.getScreenshots()}"  var="screenshot" columns="4">
                        <h:outputLink value="../../resources/screenshot/#{screenshot.file}" rel="lightbox[asdf]" title="#{screenshot.description}">
                            <h:panelGroup>
                                <h:outputLabel value="#{screenshot.name}"/>
                                <BR/>
                                <h:graphicImage id="screeni" value="/GetThumbnail?baseImage=#{screenshot.file}" />
                            </h:panelGroup>
                        </h:outputLink>
                    </rich:dataGrid>
                </h:panelGrid>
            </dd:indexPanelGrid>
        </h:form>
    </ui:define>
</ui:composition>