<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:rich="http://richfaces.org/rich">

    <h:panelGrid>
        <h:outputText escape="false" value="#{MLBean.getUsageAgreementML('dataagreement_1')}"/>
        <h:outputText escape="false" value="#{MLBean.getUsageAgreementML('dataagreement_2')}"/>
        <h:outputText escape="false" value="#{MLBean.getUsageAgreementML('dataagreement_3')}"/>
        <h:outputText escape="false" value="#{MLBean.getUsageAgreementML('dataagreement_4')}"/>
        <h:outputLink value="resources/basic/images/registrationProcess.png">Registration process</h:outputLink>
    </h:panelGrid>

</html>