<ui:composition  template="./index.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:dd="http://java.sun.com/jsf/composite/dd"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:h="http://java.sun.com/jsf/html">
    <ui:define name="title">#{MLBean.getMLTitle(ML.lang.sites.download.lbl.download)}</ui:define>
    <ui:define name="content">
        <dd:indexPanelGrid >
            <h:panelGrid style="width: 100%;" headerClass="info_header" columnClasses="info_text">
                <f:facet name="header">
                    <h:outputText value="#{MLBean.getML(ML.lang.sites.download.lbl.download)}"/>
                </f:facet>
                <h:panelGrid style="margin: 0 auto; text-align: left;">
                    <h:outputText escape="false"  value="#{MLBean.getMLFromPropertiesFile('Information', 'download')}"/>
                </h:panelGrid>
            </h:panelGrid>
        </dd:indexPanelGrid>
    </ui:define>
</ui:composition>