<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich">
       <p>  
        To our chagrin, an internal error has occurred in this   
        program. Please contact technical support.  
      </p>  
       <p>  
        If instructed by our support staff, please   
        copy and paste the following report into an email message  
      </p>  
       <h:inputTextarea value="#{ErrorBean.stackTrace}" rows="40" cols="80"  
           readonly="true"/>  
</ui:composition>