<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich">

    <rich:panel id="FooterBox" styleClass="col-xs-20 col-sm-20 col-md-20 col-lg-20">
        <h:panelGrid columns="5" cellpadding="0" style="margin: 0 auto;" columnClasses="footerColumn,footerColumn,footerColumn,footerColumn,footerColumn" cellspacing="0">

            <h:outputLink target="_new" value="http://www.ibgdb.de/games/1105-dark-destiny/like">
                <h:graphicImage url="http://www.ibgdb.de/assets/magich.gif"/>
            </h:outputLink>
            <h:outputLink target="_new" value="http://www.spreadfirefox.com/?q=affiliates&amp;id=0&amp;t=70">
                <h:graphicImage url="http://sfx-images.mozilla.org/affiliates/Buttons/88x31/get.gif"/>
            </h:outputLink>
            <h:panelGrid columns="2">
                <h:form>
                    <h:outputText value="Theme:  "/>
                    <h:selectOneMenu value="#{ServiceBean.theme}" onchange="submit();">
                        <f:selectItems value="#{ServiceBean.themes}"/>
                    </h:selectOneMenu>
                </h:form>
            </h:panelGrid>
            <h:link value="#{MLBean.getML(ML.lang.sites.footer.lbl.impressum)}" outcome="/sites/impressum" />
            <h:outputLink target="_new" value="http://www.inetsolutions.de/">
                <h:outputText value="Hosted by"/>
                <h:graphicImage style="width: 80px;" url="http://www.inetsolutions.de/sponsoring.jpg"/>
            </h:outputLink>

        </h:panelGrid>
    </rich:panel>

</ui:composition>