<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:rich="http://richfaces.org/rich">


    <h:form>
        <h:panelGrid columns="1">
            <rich:messages for="loginPanel"/>
        </h:panelGrid>

        <c:if test="#{!LoginBean.logged}">
            <h:panelGrid  columnClasses="h_label,h_input,h_label,h_input,,h_button" cellpadding="0" cellspacing="0"  columns="8">
                <h:outputLabel  class="headerlabel" for="login">#{MLBean.getML('header_lbl_login')}</h:outputLabel>
                <h:inputText id="login" size="9" value="#{LoginBean.user.userName}"/>
                <h:outputLabel class="headerlabel" for="password">#{MLBean.getML('header_lbl_password')}</h:outputLabel>
                <h:inputSecret id="password" size="9" value="#{LoginBean.user.password}"/>
                <h:commandButton id="submit" value="#{MLBean.getML('header_lbl_login')}" action="#{LoginBean.login()}"/>
                <h:outputText id="error" value="#{LoginBean.getErrorMsgToML()}"/>
                <h:link outcome="passwordRecovery" id="forgotpassword" value="#{MLBean.getML('header_link_forgotpassword')}"/>

            </h:panelGrid>
        </c:if>
        <c:if test="#{LoginBean.logged}">
            <h:panelGrid  columnClasses="h_label, h_input" cellpadding="0" cellspacing="0"  columns="2">
                <h:outputText id="login" value="#{MLBean.getML('header_msg_loggedwith', LoginBean.user.userName)}"/>
                <h:commandButton id="logout" value="#{MLBean.getML('header_lbl_logout')}" action="#{LoginBean.logout()}"/>
            </h:panelGrid>
        </c:if>
    </h:form>
    #{LoginBean.setErrorMsg('')}
</ui:composition>