<ui:composition
    template="./index.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:rich="http://richfaces.org/rich">

    <ui:define name="title">#{MLBean.getMLTitle(ML.lang.sites.impressum.lbl.impressum)}</ui:define>
    <ui:define name="content">
        <br/><br/><br/>
        Impressum<br/>
        Fuer diese Seite ist verantwortlich:<br/><br/>

        Stefan Bacher<br/>
        Bachgasse 3a<br/>
        6850 Dornbirn<br/>
        Oesterreich<br/><br/>

        Email: webmaster[at]darkdestiny.at<br/>
        Internet: www.darkdestiny.at<br/><br/>

        Haftungshinweis: Trotz sorgfaeltiger inhaltlicher Kontrolle uebernehmen wir keine Haftung fuer die Inhalte externer Links.<br/>
        Fuer den Inhalt der verlinkten Seiten sind ausschliesslich deren Betreiber verantwortlich.<br/><br/>
    </ui:define>
</ui:composition>