<ui:composition template="./template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich">


    <ui:define name="title">DarkDestiny Portal</ui:define>
    <ui:define name="content">
        <h:graphicImage library="basic" name="images/darkdestiny.gif" />
        <dd:indexPanelGrid rendered="#{!LoginBean.logged}">
            <f:facet name="header">
                <h:outputText value="Login"/>
            </f:facet>
            <ui:include src="/sites/loginmain.xhtml"/>
        </dd:indexPanelGrid>
        <dd:indexPanelGrid>
            <f:facet name="header">
                <h:outputText value="Servers"/>
            </f:facet>
            <ui:include src="/sites/servers.xhtml"/>
        </dd:indexPanelGrid>
        <dd:indexPanelGrid>
            <f:facet name="header">
                <h:outputText value="News"/>
            </f:facet>
            <ui:include src="/sites/news/news.xhtml"/>
        </dd:indexPanelGrid>
        <dd:indexPanelGrid>
            <f:facet name="header">
                <h:outputText value="Info"/>
            </f:facet>
            <ui:include src="/sites/information/info.xhtml"/>
        </dd:indexPanelGrid>
        <br/><br/>
    </ui:define>
    #{LoginBean.setResultMessage("")}
    <br />
</ui:composition>