<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:rich="http://richfaces.org/rich">

    <h:form>
        <rich:dataTable id="infoRounds"  value="#{RoundBean.getRoundsNotFinished()}" var="round">
            <f:facet name="header">
                <rich:column colspan="2">
                    <h:outputLabel value="#{MLBean.getML('informationpanel_lbl_servers')}"/>
                </rich:column>
            </f:facet>
            <rich:column>
                <h:outputText  id="server" value="#{round.name}"/>
            </rich:column>
            <rich:column>
                <h:panelGrid columns="3"  cellpadding="0" cellspacing="0">
                    <a4j:outputPanel rendered="#{round.hasStatus('NOCONNECTION')}">
                        <h:graphicImage id="noconnection" rendered="#{round.hasStatus('NOCONNECTION')}" library="basic" name="images/icon_noconnection.png">
                            <rich:tooltip >
                                <h:outputText value="#{MLBean.getML('round_status_noconnection')}"/>
                            </rich:tooltip>
                        </h:graphicImage>
                    </a4j:outputPanel>
                    <a4j:outputPanel  rendered="#{round.hasStatus('STOPPED')}">
                        <h:graphicImage id="stopped"  rendered="#{round.hasStatus('STOPPED')}"  library="basic" name="images/icon_offline.png">
                            <rich:tooltip >
                                <h:outputText value="#{MLBean.getML('round_status_stopped')}"/>
                            </rich:tooltip>
                        </h:graphicImage>
                    </a4j:outputPanel>
                    <a4j:outputPanel rendered="#{round.hasStatus('RUNNING')}">
                        <h:graphicImage id="running"  rendered="#{round.hasStatus('RUNNING')}"    library="basic" name="images/icon_online.png">
                            <rich:tooltip >
                                <h:outputText value="#{MLBean.getML('round_status_online')}"/>
                            </rich:tooltip>
                        </h:graphicImage>
                    </a4j:outputPanel>
                    <a4j:outputPanel>
                        <h:outputLink value="#{round.url}enter.jsp?user=#{LoginBean.user.userName}&amp;portalPassword=#{RoundBean.getPortalPassword(round.id)}">
                            <h:graphicImage id="join"  rendered="#{round.isPortalPasswordValid()}"   library="basic" name="images/icon_join.png">
                                <rich:tooltip >
                                    <h:outputText value="#{MLBean.getML('round_status_join')}"/>
                                </rich:tooltip>
                            </h:graphicImage>
                        </h:outputLink>
                    </a4j:outputPanel>
                    <a4j:outputPanel rendered="#{round.hasStatus('RUNNING_NOUPDATE')}">
                        <h:graphicImage id="runningnoupdate"  rendered="#{round.hasStatus('RUNNING_NOUPDATE')}"   library="basic" name="images/icon_online.png">
                            <rich:tooltip >
                                <h:outputText value="#{MLBean.getML('round_status_runningnotick')}"/>
                            </rich:tooltip>
                        </h:graphicImage>
                    </a4j:outputPanel><a4j:outputPanel rendered="#{round.hasStatus('RUNNING_NOUPDATE')}">
                        <h:graphicImage id="runningnoupdate_icon"  rendered="#{round.hasStatus('RUNNING_NOUPDATE')}"   library="basic" name="images/icon_noupdate.png">
                            <rich:tooltip >
                                <h:outputText value="#{MLBean.getML('round_status_runningnotick')}"/>
                            </rich:tooltip>
                        </h:graphicImage>
                    </a4j:outputPanel>
                    <a4j:outputPanel  rendered="#{round.hasStatus('REGISTRATION')}">
                        <h:graphicImage id="registration"  rendered="#{round.hasStatus('REGISTRATION')}"   library="basic" name="images/icon_registration.png">
                            <rich:tooltip >
                                <h:outputText value="#{MLBean.getML('round_status_registration')}"/>
                            </rich:tooltip>
                        </h:graphicImage>
                    </a4j:outputPanel>
                    <a4j:outputPanel rendered="#{round.downForMaintenance}">
                        <h:graphicImage id="maintenance" rendered="#{round.downForMaintenance}"   library="basic" name="images/icon_maintenance.png">
                            <rich:tooltip >
                                <h:outputText value="#{MLBean.getML('round_status_maintenance')}"/>
                            </rich:tooltip>
                        </h:graphicImage>
                    </a4j:outputPanel>
                    <h:panelGrid rendered="#{LoginBean.adminLogged}" columnClasses="rightAlign, leftAlign"   class="scroller"  columns="2">
                        <a4j:commandLink rendered="#{LoginBean.adminLogged}" value="" render="infoRounds" action="#{round.changeMaintenance()}">
                            <h:graphicImage rendered="#{LoginBean.adminLogged}" library="basic" name="/images/change.png" />
                        </a4j:commandLink>
                    </h:panelGrid>
                    <h:panelGrid rendered="#{LoginBean.adminLogged}"    class="scroller" columns="1">
                        <a4j:commandLink rendered="#{LoginBean.adminLogged}" value="" render="infoRounds" action="#{round.incrementStatus()}">
                            <h:graphicImage rendered="#{LoginBean.adminLogged}"  library="basic" name="images/up.png"  />
                        </a4j:commandLink>
                        <a4j:commandLink rendered="#{LoginBean.adminLogged}" value="" render="infoRounds" action="#{round.decrementStatus()}">
                            <h:graphicImage rendered="#{LoginBean.adminLogged}"  library="basic" name="images/down.png" />
                        </a4j:commandLink>
                    </h:panelGrid>
                </h:panelGrid>
            </rich:column>
            <rich:column rendered="#{!round.hasStatus('NOCONNECTION')}">
                <h:outputText rendered="#{!round.hasStatus('NOCONNECTION')}"   value="#{round.getUserOnlineCount()}/#{round.getUserCount()}"/>
            </rich:column>
        </rich:dataTable>
        <rich:dataTable rows="4"  value="#{ServiceBean.getLastChanges()}" var="change">
            <rich:column breakRowBefore="true">
                <f:facet name="header">
                    #{MLBean.getML('informationpanel_lbl_lastChanges')}
                </f:facet>
                <h:panelGrid  columns="1" cellpadding="0" cellspacing="0">
                    <h:panelGrid  columns="2"  cellpadding="0" cellspacing="0">
                        <h:graphicImage id="bug" rendered="#{change.isBug()}" library="basic" name="images/bug.png">
                            <rich:tooltip >
                                #{MLBean.getML('informationpanel_lbl_bug')}
                            </rich:tooltip>
                        </h:graphicImage>
                        <h:graphicImage id="task" rendered="#{change.isTask()}" library="basic" name="images/task.png">
                            <rich:tooltip >
                                #{MLBean.getML('informationpanel_lbl_task')}
                            </rich:tooltip>
                        </h:graphicImage>
                        <h:outputText  value="#{ConversionBean.longToDateString(change.date)}"/>
                    </h:panelGrid>
                    <h:panelGrid columns="2" >
                        <h:graphicImage id="taskStatus" library="basic" rendered="#{change.isTask()}"  name="#{ConversionBean.taskStatusToIconName(change.getTaskStatus())}">
                            <rich:tooltip >
                                <h:outputText value="#{ConversionBean.taskStatusToName(change.getTaskStatus())}"/>
                            </rich:tooltip>
                        </h:graphicImage>
                        <h:graphicImage id="bugStatus" library="basic" rendered="#{change.isBug()}"  name="#{ConversionBean.bugStatusToIconName(change.getBugStatus())}">
                            <rich:tooltip >
                                <h:outputText value="#{ConversionBean.bugStatusToName(change.getBugStatus())}"/>
                            </rich:tooltip>
                        </h:graphicImage>
                        <h:panelGrid >
                            <h:outputText value="#{change.name}"/>
                        </h:panelGrid>
                    </h:panelGrid>
                </h:panelGrid>
            </rich:column>
        </rich:dataTable>
        <h:panelGrid  >
            <h:outputLink target="_new" value="http://www.ibgdb.de/games/1105-dark-destiny/like">
                <h:graphicImage url="http://www.ibgdb.de/assets/magich.gif"/>
            </h:outputLink>
            <h:outputLink target="_new" value="http://www.spreadfirefox.com/?q=affiliates&amp;id=0&amp;t=70">
                <h:graphicImage url="http://sfx-images.mozilla.org/affiliates/Buttons/88x31/get.gif"/>
            </h:outputLink>
        </h:panelGrid>
    </h:form>
</html>