
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich">

    <h:form>
        <a href="loginmain.xhtml"></a>
        <c:if test="#{!LoginBean.logged}">
            <h:panelGrid columns="1"  style="margin: 0 auto; width:250px;">
                <h:panelGrid style="margin:0 auto; width:80%" columnClasses="h_label,h_input,h_label,h_input,,h_button" cellpadding="0" cellspacing="0"  columns="2">
                    <dd:outputLabel value="#{ML.lang.sites.header.lbl.login}" class="loginlabel" for="login"/>
                    <h:inputText class="logininput" id="login" size="9" value="#{LoginBean.user.userName}"/>
                    <dd:outputLabel  value="#{ML.lang.sites.header.lbl.password}" class="loginlabel" for="password"/>
                    <h:inputSecret class="logininput" id="password" size="9" value="#{LoginBean.user.password}"/>
                </h:panelGrid>
                <h:commandButton class="loginbutton" id="submit" value="#{MLBean.getML(ML.lang.sites.header.lbl.login)}" action="#{LoginBean.login()}"/>
                <h:link outcome="passwordRecovery" id="forgotpassword" value="#{MLBean.getML(ML.lang.sites.header.link.forgotpassword)}"/>
                <c:if test="#{LoginBean.containsError()}">
                    <dd:outputMessage error="true" value="#{LoginBean.getErrorMsgToML()}"/>
                    #{LoginBean.setErrorMsg('')}
                </c:if>
            </h:panelGrid>
            <h:panelGrid columns="2" style="margin: 0 auto;">
                <dd:outputText value="#{ML.lang.sites.loginmain.msg.registernow}"/>
                <h:button class="registerbutton" value="#{MLBean.getML(ML.lang.sites.loginmain.lbl.registernow)}" outcome="register" />
                <dd:outputText value="#{ML.lang.sites.loginmain.msg.testaccount}"/>
                <h:button class="registerbutton" value="#{MLBean.getML(ML.lang.sites.loginmain.lbl.testaccount)}" />
            </h:panelGrid>
        </c:if>

    </h:form>
</ui:composition>