<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:dd="http://java.sun.com/jsf/composite/dd"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:rich="http://richfaces.org/rich">

    <h:form id="Login">
        <h:panelGrid id="Panel"
                     columns="1">
            <rich:messages id="Message"
                           for="loginPanel" />
        </h:panelGrid>

        <c:if test="#{!LoginBean.logged}">
            <dd:outputText id="notlogged"
                           value="#{ML.lang.sites.login.msg.hello}" params="Gast" />
        </c:if>
        <c:if test="#{LoginBean.logged}">
            <dd:outputText id="logged"
                          value="#{ML.lang.sites.login.msg.hello}" params="#{LoginBean.user.userName}" />
            <h:commandLink id="logout" action="#{LoginBean.logout()}" >
                <dd:outputText  value="#{ML.lang.sites.header.lbl.logout}" />
            </h:commandLink>
        </c:if>
    </h:form>
</html>