<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich">


    <h:form>
        <ul class="menu_new">
            <li><h:link class="home" value="Dark Destiny" outcome="/sites/index.xhtml"/>
                <ul>
                    <li><h:link class="menuitem" value="#{MLBean.getML('menu_lbl_news')}" outcome="/sites/news/news" /></li>
                    <li><h:link class="menuitem" value="#{MLBean.getML('menu_lbl_info')}" outcome="/sites/information/info" /></li>
                    <li><a class="menu_forum" href="http://www.thedarkdestiny.at/board/index.php" target="new">Forum</a></li>
                    <li><h:link rendered="#{LoginBean.logged}" class="menuitem" value="#{MLBean.getML('menu_lbl_profile')}" outcome="profile" /></li>
                    <c:if test="#{LoginBean.adminLogged}">
                        <li><h:link class="menuadmin" value="#{MLBean.getML('menu_lbl_rounds')}" outcome="/sites/rounds/rounds" /></li>
                        <li><h:link class="menuadmin" value="#{MLBean.getML('menu_lbl_mailing')}" outcome="/sites/admin/mailingList" /></li>
                        <li><h:link class="menuadmin" value="#{MLBean.getML('menu_lbl_users')}" outcome="/sites/admin/users" /></li>
                    </c:if>
                </ul>
            </li>
            <li><a href="#">#{MLBean.getML('menu_lbl_media')}</a>
                <ul>
                    <li><h:link class="menuitem" value="#{MLBean.getML('menu_lbl_screenshots')}" outcome="/sites/media/screenshots" /></li>
                    <li><h:link class="menuitem" value="#{MLBean.getML('menu_lbl_halloffame')}" outcome="/sites/highscore/highscore" /></li>
                </ul>
            </li>
            <li><a href="#">#{MLBean.getML('menu_lbl_project')}</a>
                <ul>
                    <li><a class="menu_sourceforge" href="http://sourceforge.net/projects/darkdestiny/" target="new">Sourceforge</a></li>
                    <li><h:link class="menuitem" value="#{MLBean.getML('menu_lbl_bugtracker')}" outcome="/sites/bugtracker/bugs" /></li>
                    <li><h:link class="menuitem" value="#{MLBean.getML('menu_lbl_tasktracker')}" outcome="/sites/tasktracker/tasks" /></li>
                    <li><h:link class="menuitem" value="#{MLBean.getML('menu_lbl_releasenotes')}" outcome="/sites/releasenotes/releaseNotes" /></li>
                </ul>
            </li>
            <li><a href="#">#{MLBean.getML('menu_lbl_help')}</a>
                <ul>
                    <li><a href="http://www.thedarkdestiny.at/wiki/index.php/Hauptseite" target="new" class="menu_wiki">Wiki</a></li>
                    <li><h:link class="menuitem" value="#{MLBean.getML('menu_lbl_download')}" outcome="/sites/download" /></li>
                </ul>
            </li>
            <li><a class="language_#{MLBean.activeLanguage}" href="#">&#160;</a>
                <ul>
                    <li><h:commandLink class="menu_german" id="german" value="Deutsch" action="#{ServiceBean.setLanguage('DE','de')}"/></li>
                    <li><h:commandLink class="menu_english" id="english" value="English" action="#{ServiceBean.setLanguage('GB','en')}"/></li>
                </ul>
            </li>
        </ul>
    </h:form>
</ui:composition>