<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich">

    <h:form id="Menu">
        <DIV >#{LoginBean.autologin()}</DIV>
        <rich:toolbar id="Bar"
                      itemSeparator="line">
            <rich:dropDownMenu id="ddml1" label="Dark Destiny" mode="server">
                <rich:menuItem id="ddml2" label="#{MLBean.getML(ML.lang.sites.menu.lbl.home)}" action="/sites/index"/>
                <rich:menuItem id="ddml3" label="#{MLBean.getML(ML.lang.sites.menu.lbl.download)}" action="/sites/download"/>
            </rich:dropDownMenu>
            <rich:dropDownMenu label="#{MLBean.getML(ML.lang.sites.media.lbl.media)}" mode="server">
                <rich:menuItem id="ddm21" label="#{MLBean.getML(ML.lang.sites.menu.lbl.screenshots)}" action="/sites/media/screenshots"/>
                <rich:menuItem id="ddm22" label="#{MLBean.getML(ML.lang.sites.menu.lbl.halloffame)}" action="/sites/media/highscore"/>
                <rich:menuItem id="ddm23" label="#{MLBean.getML(ML.lang.sites.menu.lbl.replays)}" action="/sites/media/roundreplay"/>
            </rich:dropDownMenu>
            <rich:dropDownMenu mode="server">
                <f:facet name="label">
                    <h:panelGroup>
                        <dd:outputText value="#{ML.lang.sites.menu.lbl.project}" />
                    </h:panelGroup>
                </f:facet>
                <rich:menuItem id="ddm31"  onclick="window.open('http://sourceforge.net/projects/darkdestiny/', 'sourceforge')">
                    <h:outputLink target="sourceforge" value="http://sourceforge.net/projects/darkdestiny/">
                        <h:outputText value="Sourceforge"></h:outputText>
                    </h:outputLink>
                </rich:menuItem>
                <rich:menuItem id="ddm32" label="#{MLBean.getML(ML.lang.sites.menu.lbl.bugtracker)}" action="/sites/bugtracker/bugs"/>
                <rich:menuItem id="ddm33" label="#{MLBean.getML(ML.lang.sites.menu.lbl.tasktracker)}" action="/sites/tasktracker/tasks"/>
                <rich:menuItem id="ddm34" label="#{MLBean.getML(ML.lang.sites.menu.lbl.releasenotes)}" action="/sites/releasenotes/releaseNotes"/>
            </rich:dropDownMenu>

            <rich:dropDownMenu  rendered="#{!LoginBean.logged}" label="[#{MLBean.getML(ML.lang.global.lbl.notlogged)}]" mode="server">
                <rich:menuItem id="ddm411" label="#{MLBean.getML(ML.lang.sites.header.lbl.login)}" action="/sites/index"/>
                <rich:menuItem id="ddm412" label="#{MLBean.getML(ML.lang.sites.header.lbl.register)}" action="/sites/register"/>
            </rich:dropDownMenu>

            <rich:dropDownMenu  rendered="#{LoginBean.logged}" label="[#{LoginBean.user.userName}]" mode="server">
                <rich:menuItem id="ddm421" label="#{MLBean.getML(ML.lang.sites.profile.lbl.profile)}" action="/sites/profile/profile"/>
                <rich:menuItem id="ddm422" label="#{MLBean.getML(ML.lang.sites.header.lbl.logout)}" action="#{LoginBean.logout()}"/>
            </rich:dropDownMenu>
            <rich:dropDownMenu label="#{MLBean.getML(ML.lang.sites.menu.lbl.community)}" mode="server">
                <rich:menuItem id="ddm51" onclick="window.open('http://www.thedarkdestiny.at/wiki/index.php/Hauptseite', 'wiki')">
                    <h:outputLink target="wiki"  value="http://www.thedarkdestiny.at/wiki/index.php/Hauptseite">
                        <dd:outputText value="#{ML.lang.sites.menu.lbl.wiki}"/>
                    </h:outputLink>
                </rich:menuItem>
                <rich:menuItem id="ddm52" onclick="window.open('http://www.thedarkdestiny.at/board/index.php', 'forum')">
                    <h:outputLink target="forum"  value="http://www.thedarkdestiny.at/board/index.php">
                        <dd:outputText value="#{ML.lang.sites.menu.lbl.forum}"/>
                    </h:outputLink>
                </rich:menuItem>
            </rich:dropDownMenu>
            <rich:dropDownMenu mode="server">
                <f:facet name="label" >
                    <h:graphicImage library="basic" name="pic/#{ServiceBean.language.pic}"/>
                </f:facet>
                <c:forEach items="#{ServiceBean.languages}" var="language">
                    <rich:menuItem action="#{ServiceBean.setLanguage(language)}">
                        <h:panelGrid columns="2">
                            <h:graphicImage library="basic" name="pic/#{language.pic}"/>
                            <dd:outputText value="#{language.name}"/>
                        </h:panelGrid>
                    </rich:menuItem>
                </c:forEach>
            </rich:dropDownMenu>

            <rich:dropDownMenu rendered="#{LoginBean.adminLogged}" label="Admin" mode="server">
                <rich:menuItem id="ddm61" label="Users" action="/sites/admin/users"/>
                <rich:menuItem id="ddm62" label="MailingList" action="/sites/admin/mailingList"/>
                <rich:menuItem id="ddm63" label="Rounds" action="/sites/rounds/rounds"/>
            </rich:dropDownMenu>
        </rich:toolbar>
    </h:form>
</ui:composition>