
<ui:composition template="./index.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd">

    <ui:define name="title">#{MLBean.getMLTitle(ML.lang.sites.passwordrecovery.lbl.passwordrecovery)}</ui:define>
    <ui:define name="content">
        <h:form>
            <h:panelGrid class="indexPanelGrid">
                <f:facet name="header">
                    <dd:outputText value="#{ML.lang.sites.passwordrecovery.lbl.passwordrecovery}"/>
                </f:facet>
                <h:panelGrid columns="2">
                    <dd:outputText value="#{ML.lang.sites.passwordrecovery.lbl.username}"/>
                    <h:inputText id="pwRecoveryUsername" size="10" value="#{EmailServiceBean.userName}"/>
                </h:panelGrid>
                <h:commandButton id="pwRecovery" value="#{MLBean.getML(ML.lang.sites.passwordrecovery.lbl.resetpassword)}" action="#{EmailServiceBean.resetPasswordRequestEmail()}"/>
                <c:if test="#{!EmailServiceBean.error and not empty EmailServiceBean.message}">
                    <dd:outputMessage  value="#{EmailServiceBean.message}" error="false"/>
                </c:if>
                <c:if test="#{EmailServiceBean.error and not empty EmailServiceBean.message}">
                    <dd:outputMessage  value="#{EmailServiceBean.message}" error="true"/>
                </c:if>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>