<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="./template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich">
    <ui:define name="title">#{MLBean.getMLTitle(ML.lang.sites.register.lbl.registration)}</ui:define>
    <ui:define name="content">
        #{RegistrationBean.createNewUser()}
        <h:outputStylesheet library="basic" name="css/register.css" />
        <c:if test="#{!RegistrationBean.error and not empty RegistrationBean.resultMsg}">
            <dd:outputMessage value="#{RegistrationBean.resultMsg}" error="false" />
        </c:if>
        <c:if test="#{RegistrationBean.error and not empty RegistrationBean.resultMsg}">
            <dd:outputMessage value="#{RegistrationBean.resultMsg}" error="true" />
        </c:if>
        <br/>
        <h:form>
            <rich:graphValidator value="#{RegistrationBean}" id="gv">
                <h:form>
                    <dd:indexPanelGrid>
                        <f:facet name="header">
                            <dd:outputText value="#{ML.lang.sites.register.lbl.registration}"/>
                        </f:facet>
                        <h:panelGrid style="margin: 0 auto;" columnClasses="registerlabel, registeritem" columns="3">
                            <dd:outputLabel for="userName" value="#{ML.lang.sites.register.lbl.username}"/>
                            <h:inputText id="userName" value="#{RegistrationBean.user.userName}" validatorMessage="#{MLBean.getML(ML.lang.global.validation.err.length)}">
                                <f:validateLength minimum="2" maximum="20"/>
                                <f:validateRequired />
                                <rich:validator/>
                            </h:inputText>
                            <rich:messages for="userName" />
                            <h:outputLabel for="password1" value="#{MLBean.getML(ML.lang.sites.register.lbl.password)}"/>
                            <h:inputSecret id="password1" value="#{RegistrationBean.user.password}" validatorMessage="#{MLBean.getML(ML.lang.global.validation.err.length)}">
                                <f:validateLength  minimum="4" maximum="40"/>
                                <f:validateRequired />
                                <rich:validator/>
                            </h:inputSecret>
                            <rich:messages for="password1" />
                            <h:outputLabel for="password2" value="#{MLBean.getML(ML.lang.sites.register.lbl.passwordrepeat)}"/>
                            <h:inputSecret id="password2" value="#{RegistrationBean.confirmationPassword}" validatorMessage="#{MLBean.getML(ML.lang.global.validation.err.length)}">
                                <f:validateLength minimum="4" maximum="40"/>
                                <f:validateRequired />
                                <rich:validator/>
                            </h:inputSecret>
                            <rich:message for="password2" />
                            <h:outputLabel for="email" value="#{MLBean.getML(ML.lang.sites.register.lbl.email)}"/>
                            <h:inputText id="email" value="#{RegistrationBean.user.email}" validatorMessage="#{MLBean.getML(ML.lang.global.validation.err.novalidemail)}">
                                <f:validateRegex
                                    pattern="^(([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+([;.](([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+)*$"></f:validateRegex>
                                <rich:validator />
                            </h:inputText>
                            <rich:messages for="email" />
                            <h:outputLabel for="language" value="#{MLBean.getML(ML.lang.sites.register.lbl.language)}"/>
                            <h:selectOneMenu id="language" value="#{RegistrationBean.languageId}">
                                <f:selectItems value="#{RegistrationBean.getLanguageDropDown()}" var="language" />
                            </h:selectOneMenu>
                            <rich:message for="language" />
                        </h:panelGrid>
                        <h:panelGrid  columnClasses="registerlabel"  style="margin: 0 auto;" columns="3">
                            <h:outputLabel escape="true" for="userAgreement">
                                #{MLBean.getML(ML.lang.sites.register.msg.useragreement1)}
                                <h:link  outcome="userAgreement" target="new">#{MLBean.getML(ML.lang.sites.register.msg.useragreement2)}</h:link>
                                    #{MLBean.getML(ML.lang.sites.register.msg.useragreement3)}
                            </h:outputLabel>
                            <h:selectBooleanCheckbox id="userAgreement" value="#{RegistrationBean.user.acceptedUserAgreement}"/>
                            <rich:message for="userAgreement" />
                            <h:outputLabel for="roundNotification">#{MLBean.getML(ML.lang.sites.register.msg.msgnewround)}</h:outputLabel>
                            <h:selectBooleanCheckbox id="roundNotification" value="#{RegistrationBean.user.roundNotification}"/>
                            <rich:message for="roundNotification" />
                        </h:panelGrid>
                        <h:panelGrid columns="1"  style="margin: 0 auto;">
                            <h:outputText escape="false" value="#{MLBean.getML(ML.lang.sites.register.msg.captcha)}"/>
                        </h:panelGrid>
                        <h:panelGrid columns="2"  style="margin: 0 auto;">
                            <h:graphicImage id="capimg" value="../Captcha.jpg"/>
                            <h:inputText value="#{RegistrationBean.validate}"/>
                        </h:panelGrid>
                        <h:panelGrid columns="1"  style="margin: 0 auto;">
                            <h:commandButton value="#{MLBean.getML(ML.lang.sites.register.but.submitdata)}" action="#{RegistrationBean.register()}" />
                        </h:panelGrid>
                    </dd:indexPanelGrid>
                </h:form>
            </rich:graphValidator>
        </h:form>
    </ui:define>
</ui:composition>
