
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich">

    <dd:outputText rendered="#{LoginBean.logged}" value="#{ML.lang.sites.loginmain.lbl.serverselect_1}" class="logintext"/>
    <dd:outputText rendered="#{LoginBean.logged}" value="#{ML.lang.sites.loginmain.lbl.serverselect_2}" class="logintext"/>
    <h:form>
        <rich:dataTable class="newsDataGrid" id="infoRounds" style="margin: 0 auto;" value="#{RoundBean.getServers()}" columnClasses="srvColStyle1,srvColStyle2,srvColStyle2,srvColStyle3,srvColStyle4" var="server">
            <rich:column>
                <h:outputText  id="server" value="#{server.round.name}"/>
            </rich:column>
            <rich:column>
                <a4j:outputPanel>
                    <h:graphicImage  id="image" library="basic" name="#{server.statusImage}">
                        <rich:tooltip >
                            <h:outputText value="#{MLBean.getML(server.statusTooltip)}"/>
                        </rich:tooltip>
                    </h:graphicImage>
                </a4j:outputPanel>
            </rich:column>
            <rich:column>
                <a4j:outputPanel>
                    <h:graphicImage id="info" library="basic" name="images/infoT.png">
                        <rich:tooltip >
                            <h:panelGrid columnClasses="rightAlign, leftAlign"  columns="2">
                                <dd:outputLabel for="hoster" value="#{ML.lang.sites.round.lbl.hoster}" />
                                <h:outputText id="hoster" value="#{server.round.hoster}"/>
                                <dd:outputLabel for="startDate" value="#{ML.lang.sites.round.lbl.startdate}" />
                                <h:outputText id="startDate" value="#{ConversionBean.longToDateString(server.round.startDate)}"/>
                                <dd:outputLabel for="version" value="#{ML.lang.sites.round.lbl.version}" />
                                <h:outputText id="version" value="#{server.round.version}"/>
                                <dd:outputLabel for="url" value="#{ML.lang.sites.round.lbl.url}" />
                                <h:outputText id="url" value="#{server.round.url}"/>
                                <dd:outputLabel rendered="#{LoginBean.adminLogged}" for="webServiceUrl" value="#{ML.lang.sites.round.lbl.webserviceurl}" />
                                <h:outputText rendered="#{LoginBean.adminLogged}" id="webServiceUrl" value="#{server.round.webServiceUrl}"/>
                            </h:panelGrid>
                        </rich:tooltip>
                    </h:graphicImage>
                </a4j:outputPanel>
            </rich:column>
            <rich:column rendered="#{!server.hasStatus('NOCONNECTION')}">
                <h:outputText rendered="#{!server.hasStatus('NOCONNECTION')}"   value="#{server.getUserOnlineCount()}/#{server.getUserCount()}"/>
            </rich:column>
            <rich:column rendered="#{LoginBean.logged}">
                <a4j:outputPanel>
                    <h:commandButton class="joinbutton" rendered="#{server.isPortalPasswordValid() and !server.hasStatus('NOCONNECTION')}" id="join_round" value="#{MLBean.getML(ML.lang.sites.loginmain.lbl.join)}" action="#{LinkBean.login(server.round.url,LoginBean.user.userName,RoundBean.getPortalPassword(server.round.id))}"/>
                    <h:commandButton class="registerbutton" rendered="#{!server.isPortalPasswordValid() and !server.hasStatus('NOCONNECTION')}" id="register_round" value="#{MLBean.getML(ML.lang.sites.loginmain.lbl.register)}" action="#{RoundBean.roundRegistration(server.round.id)}"/>
                </a4j:outputPanel>
            </rich:column>
        </rich:dataTable>
    </h:form>
</ui:composition>