<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:rich="http://richfaces.org/rich">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="-1" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1"/>
        <title><ui:insert name="title">DarkDestiny Portal</ui:insert></title>
    </h:head>

    <h:body id="body">
        <h:outputStylesheet library="#{ServiceBean.themeSrc}" name="css/common/index.css" />
        <h:outputStylesheet library="#{ServiceBean.themeSrc}" name="css/common/lightbox.css" />
        <h:outputScript library="#{ServiceBean.themeSrc}" name="js/jquery-1.7.2.min.js" />
        <h:outputScript library="#{ServiceBean.themeSrc}" name="js/lightbox.js" />

        <!--<ui:include id="LoginBox" src="login.xhtml" class="login" /> -->

        <ui:include id="MenuBox" src="menu.xhtml" class="menu" />

        <div id="ContentBox">
            <ui:insert class="content" name="content" />
        </div>

        <ui:include id="Footer" src="footer.xhtml" class="footer" />

    </h:body>

</html>