<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<ui:composition template="./index.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:rich="http://richfaces.org/rich">


    <ui:define name="title"><h:outputText value="#{MLBean.getMLTitle(ML.lang.sites.useragreement.title)}"/></ui:define>
    <ui:define name="content">
        <B><dd:outputText value="#{ML.lang.sites.useragreement.lbl.usageagreement}"/></B>
        <h:panelGrid columns="1" >
            <h:outputText escape="false" value="#{MLBean.getUsageAgreementML('useragreement_1')}"/>
            <h:outputText escape="false" value="#{MLBean.getUsageAgreementML('useragreement_2')}"/>
            <h:outputText escape="false" value="#{MLBean.getUsageAgreementML('useragreement_3')}"/>
            <h:outputText escape="false" value="#{MLBean.getUsageAgreementML('useragreement_4')}"/>
            <h:outputText escape="false" value="#{MLBean.getUsageAgreementML('useragreement_5')}"/>
            <h:outputText escape="false" value="#{MLBean.getUsageAgreementML('useragreement_6')}"/>
            <h:outputText escape="false" value="#{MLBean.getUsageAgreementML('useragreement_7')}"/>
            <h:outputText escape="false" value="#{MLBean.getUsageAgreementML('useragreement_8')}"/>
            <h:outputText escape="false" value="#{MLBean.getUsageAgreementML('useragreement_9')}"/>
            <h:outputText escape="false" value="#{MLBean.getUsageAgreementML('useragreement_10')}"/>
            <h:outputText escape="false" value="#{MLBean.getUsageAgreementML('useragreement_11')}"/>
        </h:panelGrid>
        <B><dd:outputText value="#{ML.lang.sites.useragreement.lbl.dataagreement}"/></B>
        <ui:include src="dataAgreement.xhtml"/>
    </ui:define>
</ui:composition>