<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd"
                 xmlns:rich="http://richfaces.org/rich"
                 xmlns:f="http://xmlns.jcp.org/jsf/core"
                 xmlns:a4j="http://richfaces.org/a4j">

    <dd:baseGrid styleClass="content_table"
                 headerClass="content_table_header"
                 columnClasses="content_table_cell"
                 footerClass="content_table_footer"
                 columns="2">
        <f:facet name="header">
            <dd:outputText value="#{MLBean.lang.sites.management.economy.label.economy}"/>
        </f:facet>

        <h:panelGrid styleClass="content_table_body" columns="1">
            <dd:outputText value="#{MLBean.lang.sites.management.economy.label.productionpriorities}"/>

            <h:panelGrid id="economyValues" columns="3">
                <dd:outputText value="#{MLBean.lang.sites.management.economy.label.industrialbranch}"/>
                <dd:outputText value="#{MLBean.lang.sites.management.economy.label.priority}"/>
                <dd:outputText value="#{MLBean.lang.sites.management.economy.label.currentefficiency}"/>

                <!-- Industry -->
                <dd:outputText value="#{MLBean.lang.sites.management.economy.label.industry}"/>
                <dd:inplaceSelect  value="#{ManagementBean.viewData.economyValues.priorityIndustry}" items="#{ManagementBean.priorityOptions}"
                                   listener="#{ManagementBean.updatePriorities()}" render="economyValues"/>
                <dd:formatValue valueType="double" precision="2" value="#{ManagementBean.viewData.economyValues.efficiencyIndustry}" />

                <!-- Agriculture -->
                <dd:outputText value="#{MLBean.lang.sites.management.economy.label.agriculture}"/>

                <dd:inplaceSelect  value="#{ManagementBean.viewData.economyValues.priorityAgriculture}" items="#{ManagementBean.priorityOptions}"
                                   listener="#{ManagementBean.updatePriorities()}" />

                <dd:formatValue valueType="double" precision="2" value="#{ManagementBean.viewData.economyValues.efficiencyAgriculture}" />

                <!-- Research -->
                <dd:outputText value="#{MLBean.lang.sites.management.economy.label.research}"/>
                <dd:inplaceSelect  value="#{ManagementBean.viewData.economyValues.priorityResearch}" items="#{ManagementBean.priorityOptions}"
                                   listener="#{ManagementBean.updatePriorities()}" />
                <dd:formatValue valueType="double" precision="2" value="#{ManagementBean.viewData.economyValues.efficiencyResearch}" />

            </h:panelGrid>

            <h:panelGrid columns="2">
                <dd:outputText value="#{MLBean.lang.sites.management.economy.taxes.label.taxes}" />
                <dd:inplaceInput listener="#{ManagementBean.updateTaxes()}" render="taxes" value="#{ManagementBean.viewData.economyValues.taxes}"/>
            </h:panelGrid>
            <a4j:outputPanel id="taxes">
                <h:panelGrid columns="2">

                    <dd:outputText value="#{MLBean.lang.sites.management.economy.taxes.label.base}" />
                    <dd:formatValue valueType="long" value="#{ManagementBean.viewData.economyValues.taxesBase}" />

                    <dd:outputText value="#{MLBean.lang.sites.management.economy.taxes.label.riots}" />
                    <dd:formatValue valueType="long" value="#{ManagementBean.viewData.economyValues.taxesRiots}" />

                    <dd:outputText value="#{MLBean.lang.sites.management.economy.taxes.label.criminality}" />
                    <dd:formatValue valueType="long" value="#{ManagementBean.viewData.economyValues.taxesCriminality}" />

                    <dd:outputText value="#{MLBean.lang.sites.management.economy.taxes.label.total}" />
                    <dd:formatValue valueType="long" value="#{ManagementBean.viewData.economyValues.taxesTotal}" />
                </h:panelGrid>
            </a4j:outputPanel>

        </h:panelGrid>
    </dd:baseGrid>
</ui:composition>

