<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:f="http://xmlns.jcp.org/jsf/core"
                 xmlns:rich="http://richfaces.org/rich">

    <dd:baseGrid styleClass="content_table"
                 headerClass="content_table_header"
                 columnClasses="content_table_cell"
                 footerClass="content_table_footer"
                 columns="2">
        <f:facet name="header">
            <dd:outputText value="Overview" />
        </f:facet>
        <h:panelGrid styleClass="content_table_body" columns="1">
            <h:panelGrid columnClasses="first_table" columns="2">
                <h:graphicImage styleClass="content_table_planetimage" value="/faces/GetPlanetPic" width="150" height="150"/>
                <h:panelGrid columnClasses="content_table_cells" columns="1">
                    <h:panelGrid columnClasses="content_table_cells" columns="2">
                        <dd:outputText value="#{MLBean.lang.sites.management.overview.label.planet}"/>
                        <dd:inplaceInput listener="#{ManagementBean.changePlanetName()}" value="#{ManagementBean.planetName}"/>
                    </h:panelGrid>
                    <h:panelGrid columnClasses="content_table_cells" columns="2">
                        <dd:outputText value="#{MLBean.lang.sites.management.overview.label.system}"/>
                        <h:outputText value="#{ServiceBean.actSystemName}"/>
                    </h:panelGrid>
                    <h:panelGrid  columnClasses="content_table_cells" columns="2">
                        <dd:outputText value="#{MLBean.lang.sites.management.overview.label.coordinates}"/>
                        <h:outputText value="#{ServiceBean.actCoordinates}"/>
                    </h:panelGrid>
                </h:panelGrid>
            </h:panelGrid>
            <h:panelGrid columns="4">
                <h:panelGrid>
                    <a4j:commandLink render="disbandColony" onclick="#{rich:component('disbandColony')}.hide();" oncomplete="#{rich:component('disbandColony')}.show();">
                        <h:panelGrid columns="1">
                            <dd:graphicImage name="/pic/icons/abandonColony.jpg" tooltip="true">
                                <dd:outputText value="#{MLBean.lang.sites.management.overview.label.abandonplanet}"/>
                            </dd:graphicImage>
                        </h:panelGrid>
                    </a4j:commandLink>
                </h:panelGrid>
<!--                <h:panelGrid>
                    <dd:graphicImage name="/pic/icons/renameColony.jpg"/>
                    <dd:outputText value="#{MLBean.lang.sites.management.overview.label.rename}"/>
                </h:panelGrid>-->
                <h:panelGrid>
                    <dd:graphicImage  name="/pic/icons/freeColony.jpg"/>
                    <dd:outputText value="#{MLBean.lang.sites.management.overview.label.freecolony}"/>
                </h:panelGrid>
                <h:panelGrid>
                    <a4j:commandLink render="colonySettings" onclick="#{rich:component('colonySettings')}.hide();" oncomplete="#{rich:component('colonySettings')}.show();">
                        <h:panelGrid columns="1">
                            <dd:graphicImage name="/pic/icons/settingsColony.jpg"/>
                        </h:panelGrid>
                    </a4j:commandLink>
                </h:panelGrid>
            </h:panelGrid>
            <ui:include src="popups.xhtml"/>
        </h:panelGrid>
    </dd:baseGrid>

</ui:composition>
