<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd"
                 xmlns:rich="http://richfaces.org/rich"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">

        <dd:baseGrid styleClass="content_table" 
                      headerClass="content_table_header" 
                      columnClasses="content_table_cell" 
                      footerClass="content_table_footer" 
                      columns="2">
            <f:facet name="header">
                <dd:outputText value="#{MLBean.lang.sites.management.population.label.population}"/>
            </f:facet>
            <h:panelGrid styleClass="content_table_body" columns="1">

                <h:panelGrid columns="2">
                    <dd:outputText value="#{MLBean.lang.sites.management.population.label.population}"/>
                    <dd:formatValue value="#{ManagementBean.viewData.populationValues.population}" valueType="long" />

                    <dd:outputText value="#{MLBean.lang.sites.management.population.label.populationgrowth}"/>
                    <dd:formatValue value="#{ManagementBean.viewData.populationValues.populationGrowth}" valueType="long" />

                    <dd:outputText value="#{MLBean.lang.sites.management.population.label.migration}"/>
                    <dd:formatValue value="#{ManagementBean.viewData.populationValues.migration}" valueType="long" />
                </h:panelGrid>

                <h:panelGrid columns="2">
                    <dd:outputText value="#{MLBean.lang.sites.management.population.label.moral}"/>
                    <dd:formatValue value="#{ManagementBean.viewData.populationValues.moral}" valueType="double" />
                    <dd:outputText value="#{MLBean.lang.sites.management.population.label.moralbonus}"/>
                    <dd:formatValue value="#{ManagementBean.viewData.populationValues.moralBonus}" valueType="double" />
                    <dd:outputText value="#{MLBean.lang.sites.management.population.label.moralfood}"/>
                    <dd:formatValue value="#{ManagementBean.viewData.populationValues.moralFood}" valueType="long" />
                    <dd:outputText value="#{MLBean.lang.sites.management.population.label.moraltaxes}"/>
                    <dd:formatValue value="#{ManagementBean.viewData.populationValues.moralTaxes}" valueType="double" />
                </h:panelGrid>

                <h:panelGrid columns="2">
                    <dd:outputText value="#{MLBean.lang.sites.management.population.label.criminality}"/>
                    <dd:formatValue value="#{ManagementBean.viewData.populationValues.criminality}" valueType="long" />
                    <dd:outputText value="#{MLBean.lang.sites.management.population.label.loyality}"/>
                    <dd:formatValue value="#{ManagementBean.viewData.populationValues.loyality}" valueType="long" />
                    <dd:outputText value="#{MLBean.lang.sites.management.population.label.riots}"/>
                    <dd:formatValue value="#{ManagementBean.viewData.populationValues.riots}" valueType="long" />
                </h:panelGrid>
            </h:panelGrid>

        </dd:baseGrid>
</ui:composition>

