<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:dd="http://java.sun.com/jsf/composite/dd"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    <dd:popupPanel width="310" header="#{MLBean.lang.sites.management.overview.popup.dismantle.label.dismantle}" ref="disbandColony">
        <a4j:region id="disbandColonyRegion">
            <h:panelGrid cellpadding="1" cellspacing="1" style="margin: 0 auto;">
                <h:panelGrid>
                    <dd:outputText value="#{MLBean.lang.sites.management.overview.popup.dismantle.message.dismantle}"/>
                </h:panelGrid>
                <h:panelGrid columns="2">
                    <dd:outputText value="#{MLBean.lang.sites.management.overview.popup.dismantle.label.dismantle}"/>
                    <h:selectBooleanCheckbox value="#{ManagementBean.viewData.dismantle}">
                        <a4j:ajax event="change"/>
                    </h:selectBooleanCheckbox>
                </h:panelGrid>
                <h:panelGrid columns="1" style="margin: 0 auto; text-align: center;">
                     <a4j:commandButton value="#{MLBean.getML(MLBean.lang.common.buttons.label.ok)}" action="#{ManagementBean.updatePlayerPlanet()}" oncomplete="#{rich:component('disbandColony')}.hide();" />
                </h:panelGrid>
            </h:panelGrid>
        </a4j:region>
    </dd:popupPanel>
    <dd:popupPanel width="310" header="#{MLBean.lang.sites.management.overview.popup.dismantle.label.dismantle}" ref="colonySettings">
        <a4j:region id="colonySettingsRegion">
            <h:panelGrid cellpadding="1" cellspacing="1" style="margin: 0 auto;">
                <h:panelGrid>
                    <dd:outputText value="#{MLBean.lang.sites.management.overview.popup.dismantle.label.dismantle}"/>
                </h:panelGrid>
            </h:panelGrid>
        </a4j:region>
    </dd:popupPanel>

</ui:composition>

