<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd"
                 xmlns:rich="http://richfaces.org/rich"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">

        <dd:baseGrid styleClass="content_table" 
                      headerClass="content_table_header" 
                      columnClasses="content_table_cell" 
                      footerClass="content_table_footer" 
                      columns="2">
            <f:facet name="header">
                <dd:outputText value="#{MLBean.lang.sites.management.stock.label.minimumquantitystored}"/>
            </f:facet>

        <h:panelGrid styleClass="content_table_body" columns="1">
            <dd:outputText value="#{MLBean.lang.sites.management.stock.label.minimumstored}"/>
                <rich:dataTable id="stocks" var="res" value="#{ManagementBean.viewData.stockValues.resourceValues}">
                    <rich:column>
                        <f:facet name="header">
                            <dd:outputText value="#{MLBean.lang.sites.management.stock.label.resource}"/>
                        </f:facet>
                        <dd:graphicImage style="width:15px; height:15px;" name="#{res.imageLocation}" />
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <dd:outputText value="#{MLBean.lang.sites.management.stock.label.production}"/>
                        </f:facet>
                        <dd:inplaceInput listener="#{ManagementBean.updateStockValues()}" value="#{res.minProductionStock}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <dd:outputText value="#{MLBean.lang.sites.management.stock.label.transport}"/>
                        </f:facet>
                        <dd:inplaceInput  listener="#{ManagementBean.updateStockValues()}" value="#{res.minTransportStock}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <dd:outputText value="#{MLBean.lang.sites.management.stock.label.trade}"/>
                        </f:facet>
                        <dd:inplaceInput  listener="#{ManagementBean.updateStockValues()}" value="#{res.minTradeStock}"/>
                    </rich:column>
                </rich:dataTable>
            </h:panelGrid>

        </dd:baseGrid>
</ui:composition>

