<ui:composition  template="../index.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:rich="http://richfaces.org/rich"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd">
    <ui:define name="content">

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-8 col-lg-6">
                <ui:include id="management_overview" src="overview.xhtml"/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-8 col-lg-6">
                <ui:include id="management_economy" src="economy.xhtml"/>
            </div>
            <div style="clear: both;" />
            <div class="col-xs-12 col-sm-4 col-md-8 col-lg-6">
                <ui:include id="management_population" src="population.xhtml"/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-8 col-lg-6">
                <ui:include id="management_stock" src="stock.xhtml"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" 
                 style="margin-bottom: 1em;">
                <div style="box-shadow: 1em 1em 1em #000000;">
                <dd:baseGrid columns="1" 
                              styleClass="center" 
                              style="border-top-left-radius: 2em; border-top-right-radius: 2em;">
                    <f:facet name="header">
                        <dd:outputText style="" 
                                        value="#{MLBean.lang.sites.management.charts.surface.label.surfceusage}" />
                    </f:facet>
                    <a4j:mediaOutput style="width: 100%; border-color: none; box-shadow: 1em 1em 1em #000000;" 
                                      element="img" 
                                      cacheable="false" 
                                      createContent="#{ManagementBean.surfaceChart}"
                                      mimeType="png" />
                </dd:baseGrid>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" 
                 style="margin-bottom: 1em;">
                <div style="box-shadow: 1em 1em 1em #000000;">
                <dd:baseGrid columns="1" 
                              styleClass="center" 
                              style="border-top-left-radius: 2em; border-top-right-radius: 2em;">
                    <f:facet name="header">
                        <dd:outputText value="#{MLBean.lang.sites.management.charts.worker.label.workerusage}" />
                    </f:facet>
                    <a4j:mediaOutput style="width: 100%; border-color: none;" 
                                      element="img" 
                                      cacheable="false" 
                                      createContent="#{ManagementBean.workerChart}"
                                      mimeType="png" />
                </dd:baseGrid>
                </div>
            </div>
        </div>

    </ui:define>
</ui:composition>

