<ui:composition  template="../index.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:c="http://java.sun.com/jsp/jstl/core"
                 xmlns:rich="http://richfaces.org/rich">

    <ui:define name="title">#{MLBean.getMLTitle(ML.lang.sites.profile.lbl.profile)}</ui:define>
    <ui:define name="content">
        Profil
        #{ProfileBean.setUserFromLogin()}
        <h:form>
            <rich:graphValidator value="#{ProfileBean}" id="gv">
                <h:form>
                    <h:panelGrid  columns="1">
                        <rich:messages globalOnly="true"/>
                        <rich:messages for="gv"/>
                    </h:panelGrid>
                    <h:panelGrid   columnClasses="rightAlign, leftAlign" columns="3">
                        <h:outputLabel for="userName" value="#{MLBean.getML('profile_lbl_username')}"/>
                        <h:outputText id="userName" value="#{ProfileBean.user.userName}"/>
                        <rich:message for="userName" />
                        <h:outputLabel for="passwordold" value="#{MLBean.getML('profile_lbl_passwordold')}"/>
                        <h:inputSecret id="passwordold" value="#{ProfileBean.passwordOld}" validatorMessage="Zeichenlänge 4-40">
                            <f:validateLength  minimum="0" maximum="40"/>
                            <rich:validator/>
                        </h:inputSecret>
                        <rich:message for="passwordold" />
                        <h:outputLabel for="password1" value="#{MLBean.getML('profile_lbl_passwordnew')}"/>
                        <h:inputSecret id="password1" value="#{ProfileBean.passwordNew}" validatorMessage="Zeichenlänge 4-40">
                            <f:validateLength minimum="0" maximum="40"/>
                            <rich:validator/>
                        </h:inputSecret>
                        <rich:message for="password1" />
                        <h:outputLabel for="password2" value="#{MLBean.getML('profile_lbl_passwordnewconfirm')}"/>
                        <h:inputSecret id="password2" value="#{ProfileBean.passwordNewConfirmation}" validatorMessage="Zeichenlänge 4-40">
                            <f:validateLength minimum="0" maximum="40"/>
                            <rich:validator/>
                        </h:inputSecret>
                        <rich:message for="password2" />
                        <h:outputLabel for="email" value="#{MLBean.getML('profile_lbl_email')}"/>
                        <h:inputText id="email" value="#{ProfileBean.user.email}" validatorMessage="Dies ist keine gültige E-Mail">
                            <f:validateRegex
                                pattern="^(([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+([;.](([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+)*$"></f:validateRegex>
                            <rich:validator />
                        </h:inputText>
                        <rich:message for="email" />
                        <h:outputLabel for="language" value="#{MLBean.getML('profile_lbl_language')}"/>
                        <h:selectOneMenu id="language" value="#{ProfileBean.languageId}">
                            <f:selectItems value="#{ProfileBean.getLanguageDropDown()}" var="language" />
                        </h:selectOneMenu>
                        <rich:message for="language" />
                    </h:panelGrid>
                    <h:panelGrid  columns="3">
                        <h:outputLabel for="roundNotification">#{MLBean.getML('register_msg_msgnewround')}</h:outputLabel>
                        <h:selectBooleanCheckbox id="roundNotification" value="#{ProfileBean.user.roundNotification}"/>
                        <rich:message for="roundNotification" />
                    </h:panelGrid>
                    <h:panelGrid  columns="1">
                        <h:commandButton value="#{MLBean.getML('profile_lbl_senddata')}" action="#{ProfileBean.update()}" />
                        <h:outputText value="#{ProfileBean.resultMsg}"/>
                    </h:panelGrid>
                </h:form>
            </rich:graphValidator>
        </h:form>
        <h:form>
            <h:panelGrid  columns="1">
                <h:outputText escape="false" value="#{ProfileBean.deletionWarning}"/>
                <h:commandButton value="#{MLBean.getML('profile_lbl_deleteaccount')}" action="#{ProfileBean.prepareDelete()}" />
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>
