<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j">
    <h:head>

    </h:head>
    <h:body>
        <rich:dataTable id="testPanel1" value="#{TestBean.items}" var="item">
            <rich:column>
                <f:facet name="header">
                    <h:outputText value="Name"/>
                </f:facet>
                <h:outputText value="#{item.name}"/>
            </rich:column>
            <rich:column>
                <f:facet name="header">
                    <h:outputText value="Priority"/>
                </f:facet>
                <dd:inplaceSelect render="testPanel1, clicks" items="#{TestBean.options}" listener="#{TestBean.invokeListener()}" value="#{item.priority}"/>
            </rich:column>
        </rich:dataTable>

        <h:outputText value="#{TestBean.invokeListener}"/>
        <h:panelGrid columns="1">
            <h:outputText value="test.xhtml"/>
            <h:graphicImage name="screen_1.PNG"/>
            <h:outputText value="dd:inplaceSelect"/>
            <h:graphicImage name="screen_2.PNG"/>
        </h:panelGrid>
    </h:body>
</html>
