<ui:composition  template="../index.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:c="http://java.sun.com/jsp/jstl/core"
                 xmlns:dd="http://java.sun.com/jsf/composite/dd"
                 xmlns:rich="http://richfaces.org/rich">


    <ui:define name="title"><h:outputText value="#{ML.lang.sites.news.lbl.news}"/></ui:define>
    <ui:define name="content">
        <h:form>
            <div align="center">
                <rich:dataTable value="#{NewsBean.getNewsToCreate()}" var="news">
                    <rich:column>
                        <rich:panel>
                            <f:facet name="header">
                                <h:outputText value="#{MLBean.getML(ConversionBean.languageIdToLanguage(news.languageId).name)}"/>
                            </f:facet>
                            <h:panelGrid rules="center"  columns="2">
                                <dd:outputLabel class="form" for="subject" value="#{ML.lang.sites.news.lbl.subject}"/>
                                <h:inputText id="subject" value="#{news.subject}"/>
                                <dd:outputLabel  class="form" for="version" value="#{ML.lang.sites.news.lbl.message}" />
                                <h:inputTextarea cols="30" rows="10" id="version" value="#{news.message}"/>
                            </h:panelGrid>
                        </rich:panel>
                    </rich:column>
                </rich:dataTable>
                <h:commandButton rendered="#{!NewsBean.editMode}" value="#{MLBean.getML(ML.lang.sites.news.lbl.addnews)}" action="#{NewsBean.addNews()}" />
                <h:commandButton rendered="#{NewsBean.editMode}" value="#{MLBean.getML(ML.lang.sites.news.lbl.updatenews)}" action="#{NewsBean.updateNews()}" />
            </div>
        </h:form>
    </ui:define>
</ui:composition>