<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:dd="http://java.sun.com/jsf/composite/dd"
    xmlns:rich="http://richfaces.org/rich">

    <h:form>
        <h:commandLink rendered="#{LoginBean.adminLogged}" value="#{MLBean.getML(ML.lang.sites.news.lbl.addnews)}" action="#{NewsBean.createNewNews()}" />
    </h:form>
    <h:form>
        <h:panelGrid columns="1" style="margin: 0 auto; width:100%; text-align: right;">
            <h:panelGrid columns="2">
                <h:outputText value="Anzahl der Nachrichten"/>
                <h:selectOneMenu value="#{NewsBean.numberOfEntries}">
                    <a4j:ajax event="valueChange" render="news" execute="@this" />
                    <f:selectItems value="#{NewsBean.numberDropDown}"/>
                </h:selectOneMenu>
            </h:panelGrid>
        </h:panelGrid>
        <rich:dataTable class="newsDataGrid" style="margin: 0 auto;" id="news"  rows="#{NewsBean.numberOfEntries}" value="#{NewsBean.newsList}" var="news">
            <rich:column>
                <h:panelGrid columnClasses="newsdate,newssubject" columns="2">
                    <h:outputText value="#{ConversionBean.longToDateString(news.date)}"/>
                    <h:outputText escape="false" value="#{news.subject}"/>
                </h:panelGrid>
                <h:panelGrid  columnClasses="newsmessage" columns="1">
                    <h:outputFormat class="newsmessage" escape="false" value="#{news.message}" />
                </h:panelGrid>
                <h:panelGrid style="margin: 0 auto;" class="c4"  columns="1">
                    <a4j:commandLink  value="#{MLBean.getML(ML.lang.sites.news.lbl.comments, NewsBean.getCommentSize(news.newsId))}" render="comments" onclick="#{NewsBean.createNewComment()};" oncomplete="#{rich:component('comments')}.hide();#{rich:component('comments')}.show();">
                        <a4j:param value="#{news.newsId}" assignTo="#{NewsBean.newsForComment}" />
                    </a4j:commandLink>
                </h:panelGrid>
            </rich:column>
            <rich:column rendered="#{LoginBean.adminLogged}">
                <f:facet name="header">#{MLBean.getML(ML.lang.global.lbl.actions)}</f:facet>
                <h:commandLink  rendered="#{LoginBean.adminLogged}" value="#{MLBean.getML(ML.lang.global.lbl.delete)}" action="#{NewsBean.deleteNews(news.newsId)}" /><br/>
                <h:commandLink  rendered="#{LoginBean.adminLogged}" value="#{MLBean.getML(ML.lang.global.lbl.edit)}" action="#{NewsBean.setNews(news)}" />
            </rich:column>
            <f:facet name="footer">
                <rich:dataScroller fastControls="hide" id="scroller" />
            </f:facet>
        </rich:dataTable>
    </h:form>
    <h:form>
        <rich:popupPanel width="400" domElementAttachment="form" id="comments" modal="false" autosized="true" resizeable="false">
            <f:facet name="header">
                <h:outputText value="#{MLBean.getML(ML.lang.sites.news.lbl.commentsheader)}" />
            </f:facet>
            <f:facet name="controls">
                <h:outputLink  value="#" onclick="#{rich:component('comments')}.hide();
                            return false;">
                    x
                </h:outputLink>
            </f:facet>
            <rich:dataTable id="dataTable"  rows="5" value="#{NewsBean.getComments()}" var="comment">
                <rich:column>
                    <h:panelGrid  columnClasses="c1,c2" columns="2">
                        <h:outputText class="c1" value="#{ConversionBean.longToDateString(comment.date)}"/>
                        <h:outputText class="c2" value="#{comment.name}"/>
                    </h:panelGrid>
                    <h:panelGrid  columnClasses="c3" columns="1">
                        <h:outputText  escape="false" class="c3" value="#{comment.messageReplaced}" />
                    </h:panelGrid>
                </rich:column>
                <rich:column rendered="#{LoginBean.adminLogged}">
                    <f:facet name="header">#{MLBean.getML(ML.lang.global.lbl.actions)}</f:facet>
                    <a4j:commandButton render="dataTable"  rendered="#{LoginBean.adminLogged}" value="#{MLBean.getML(ML.lang.global.lbl.delete)}" action="#{NewsBean.deleteComment(comment.id)}" /><br/>
                </rich:column>
                <f:facet name="footer">
                    <rich:dataScroller id="scroller" />
                </f:facet>
            </rich:dataTable>
            <c:if test="#{LoginBean.logged}">
                <h:panelGrid columns="2" id="input">
                    <dd:outputLabel for="name" value="#{ML.lang.global.lbl.name}"/>
                    <h:outputText id="name" value="#{LoginBean.user.userName}"/>
                    <dd:outputLabel for="message" value="#{ML.lang.global.lbl.message}"/>
                    <h:inputTextarea id="message" rows="10" cols="30" value="#{NewsBean.comment.message}"/>
                </h:panelGrid>
                <h:panelGrid  columns="1">
                    <a4j:commandButton render="dataTable,news"   value="#{MLBean.getML(ML.lang.sites.news.lbl.addcomment)}" action="#{NewsBean.addComment()}"/>
                    <h:outputLink  value="#" onclick="#{rich:component('comments')}.hide();
                            return false;"><dd:outputText value="#{ML.lang.global.lbl.close}" />
                    </h:outputLink>
                </h:panelGrid>
            </c:if>
            <c:if test="#{!LoginBean.logged}">
                <dd:outputText value="#{ML.lang.global.msg.msglogin}"/>
            </c:if>
        </rich:popupPanel>
    </h:form>
</ui:composition>