

#menu {
    background-color: red;
    width:100px;
    height:100px;
}

#footer {
    background-color: green;
    width:100px;
    height:100px;
}

#header {
    background-color: blue;
    width:100px;
    height:100px;
}

#status {
    background-color: yellow;
    width:100px;
    height:100px;
}


#content {
    background-color: gray;
    width:100px;
    height:100px;
}