<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:dd="http://java.sun.com/jsf/composite/dd"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:view>
    <h:head id="HtmlHeader" lang="EN">
        <title>Dark Destiny 2 - Codename: The Web is not the Limit</title>
        <meta name="viewport" 
              content="width=device-width, initial-scale=1"/>
    </h:head>
    <h:body id="Theme">
        <h:outputStylesheet id="IndexCssLibrary"
                            library="basic/css/sites/"
                            name="richfacesIndex.css" />
        <!--
         /** Der Seiten-Container
           * Hier werden alle Haupt-Container in das Seiten-Panel 
           * mit ui:include eingehängt
           */
        -->
        <rich:panel id="ThemePanel" title="Main Panel">
            <!-- Der Kopf-Container -->
            <ui:include id="HeaderBar"
                        src="header/template.xhtml" />
            <!-- Der Menü-Container -->
            <ui:include id="MenuBar"
                        src="menu/template.xhtml" />
            <!-- Der Inhalt-Container -->
            <ui:include id="Content"
                        src="richfacesContent.xhtml" />
            <!-- Der Status-Container -->
            <ui:include id="Statusbar"
                        src="status/template.xhtml" />
            <!-- Der Timeline-Container -->
            <ui:include id="Timeline"
                        src="timeline/template.xhtml" />
        </rich:panel>

    </h:body>
    </f:view>
</html>

