<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
    <h:head>
        <title>Facelet Title</title>
        <meta name="viewport" 
              content="width=device-width, initial-scale=1"/>
    </h:head>
    <h:body style="background-color: black;">
        <h:form>
            <h:panelGrid styleClass="Hochformat">
                <h:outputLabel  for="login">Login</h:outputLabel>
                <h:inputText id="login" size="10" value="#{LoginBean.user.userName}"/>
                <h:outputLabel for="password">Password</h:outputLabel>
                <h:inputSecret id="password" size="10" value="#{LoginBean.user.password}"/>
                <h:outputLabel for="submit">&nbsp;</h:outputLabel>
                <h:commandButton id="submit" value="Login" action="#{LoginBean.login()}"/>
                <h:outputText style="font-size: 11px; color:red; font-weight: bolder;" id="error" value=""/>
            </h:panelGrid>

            <a4j:outputPanel id="mr">
                <dd:messages/>
            </a4j:outputPanel>
          
        </h:form>
        <h:outputStylesheet library="basic/css/sites" name="richfacesIndex.css"/>
    </h:body>

</html>

