<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:dd="http://java.sun.com/jsf/composite/dd">

    <h:head>
        <title>Dark Destiny - The ultimate space strategy experience</title>


        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

    </h:head>
    <h:body style="margin: 0 auto;">
        <h:outputStylesheet library="basic" name="css/test.css"/>
        <div class="testClass">
            smallest
        </div>
    </h:body>

</html>

