<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd" 
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:a4j="http://richfaces.org/a4j" 
      xmlns:rich="http://richfaces.org/rich">
    <h:head id="FrontHead">
        <title id="FrontTitle">Dark Destiny 2 - codname: The web != the Limit! :D</title>
    </h:head>
    <h:body id="FrontPage">
        <h:outputStylesheet id="FrontCss"
                            library="basic" 
                            name="css/richfaces.css"/>
        <h:form id="FrontPageForm">
            <rich:toolbar id="Toolbar" styleClass="">
                <rich:dropDownMenu id="FrontDropDown" 
                                   mode="ajax">
                    <f:facet id="FirstMenuGroupLabel" name="label">
                        <h:panelGroup id="FirstMenuGroup">
                            <h:outputText value="Dark Destiny" />
                        </h:panelGroup>
                    </f:facet>
                    <rich:menuItem id="FirstMenuItem" 
                                   label="News" 
                                   onclick="document.location.href = 'http://thedarkdestiny.at/portal/faces/news.xhtml'" 
                                   icon="/images/icons/create_doc.gif" />
                    <rich:menuItem id="SecondItem" label="Info" 
                                   action="#{dropDownMenuBean.doOpen}" 
                                   icon="/images/icons/open.gif" />
                    <rich:menuItem label="Forum" 
                                   action="#{dropDownMenuBean.doClose}" />
                    <rich:menuSeparator id="menuSeparator11" />
                    <rich:menuItem label="Exit" 
                                   action="#{dropDownMenuBean.doExit}" />

                </rich:dropDownMenu>

                <rich:dropDownMenu mode="ajax">
                    <f:facet name="label">
                        <h:panelGrid cellpadding="0" 
                                     cellspacing="0" 
                                     columns="2" 
                                     style="vertical-align:middle">
                            <h:outputText value="Media" />
                        </h:panelGrid>
                    </f:facet>
                    <rich:menuItem mode="ajax" 
                                   onclick="document.location.href = 'http://labs.jboss.com/jbossrichfaces/'">
                        <h:outputText value="RichFaces Home Page" />
                    </rich:menuItem>
                    <rich:menuItem mode="client"
                                   onclick="document.location.href = 'http://jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=261'">
                        <h:outputText value="RichFaces Forum" />
                    </rich:menuItem>
                </rich:dropDownMenu>

                <rich:dropDownMenu mode="ajax">
                    <f:facet name="label">
                        <h:panelGrid cellpadding="0" cellspacing="0" columns="2" style="vertical-align:middle">
                            <h:outputText value="Projekt" />
                        </h:panelGrid>
                    </f:facet>
                    <rich:menuItem mode="client" onclick="document.location.href = 'http://labs.jboss.com/jbossrichfaces/'">
                        <h:outputText value="RichFaces Home Page" />
                    </rich:menuItem>
                    <rich:menuItem mode="client"
                                   onclick="document.location.href = 'http://jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=261'">
                        <h:outputText value="RichFaces Forum" />
                    </rich:menuItem>
                </rich:dropDownMenu>

                <rich:dropDownMenu mode="ajax">
                    <f:facet name="label">
                        <h:panelGrid cellpadding="0" cellspacing="0" columns="2" style="vertical-align:middle">
                            <h:outputText value="Sprache" />
                        </h:panelGrid>
                    </f:facet>
                    <rich:menuItem mode="client" onclick="document.location.href = 'http://labs.jboss.com/jbossrichfaces/'">
                        <h:outputText value="RichFaces Home Page" />
                    </rich:menuItem>
                    <rich:menuItem mode="client"
                                   onclick="document.location.href = 'http://jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=261'">
                        <h:outputText value="RichFaces Forum" />
                    </rich:menuItem>
                </rich:dropDownMenu>
                <rich:dropDownMenu mode="ajax">
                    <f:facet name="label">
                        <h:panelGrid cellpadding="0" cellspacing="0" columns="2" style="vertical-align:middle">
                            <h:outputText value="Hilfe" />
                        </h:panelGrid>
                    </f:facet>
                    <rich:menuItem mode="client" onclick="document.location.href = 'http://labs.jboss.com/jbossrichfaces/'">
                        <h:outputText value="RichFaces Home Page" />
                    </rich:menuItem>
                    <rich:menuItem mode="client"
                                   onclick="document.location.href = 'http://jboss.com/index.html?module=bb&amp;op=viewforum&amp;f=261'">
                        <h:outputText value="RichFaces Forum" />
                    </rich:menuItem>
                </rich:dropDownMenu>

                <a4j:outputPanel ajaxRendered="true">
                    <h:outputText value="Current Selection: "></h:outputText>
                    <h:outputText style="font-weight:bold" value="#{dropDownMenuBean.current}"></h:outputText>
                </a4j:outputPanel>
            </rich:toolbar>
        </h:form>

    </h:body>

</html>
