<ui:composition
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:rich="http://richfaces.org/rich"
    xmlns:nim="http://xmlns.jcp.org/jsf/composite/nim"
    xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd">

    <rich:panel id="ContentPanel" 
                styleClass="col-xs-9 col-sm-8 col-md-8 col-lg-14">
        <ui:insert id="ContentBlock" 
                   name="content" />
        <!-- testcontent Anfang wird bald gelöscht -->
        <rich:tabPanel id="ContentTab" 
                       switchType="client" 
                       styleClass="col-lg-8">
            <rich:tab id="Overview" 
                      header="#{MLBean.getML(MLBean.lang.sites.management.overview.label.system)} 
                             #{ManagementBean.planetName}
                             #{MLBean.getML(MLBean.lang.sites.management.overview.label.planet)} 
                             #{ManagementBean.planetName}">
                <h:panelGrid id="TabGrid" columns="2">
                    <h:graphicImage id="PlanetPicture" value="../resources/basic/pic/M/nb1.jpg" alt="PlanetPic" />

                    <dd:outputText value="#{MLBean.lang.sites.management.overview.label.planet}"/>
                    <dd:inplaceInput listener="#{ManagementBean.changePlanetName()}" value="#{ManagementBean.planetName}"/>
                </h:panelGrid>>
            </rich:tab>

            <rich:tab header="JSF 2 and RichFaces 4">
                <p>We are working hard on RichFaces 4.0 which will have full JSF 2 integration. That is not all though, here is
                    a summary of updates and features:</p>
                <ul>
                    <li>Redesigned modular repository and build system.</li>
                    <li>Simplified Component Development Kit with annotations, faces-config extensions, advanced templates
                        support and more..</li>
                    <li>Ajax framework improvements extending the JSF 2 specification.</li>
                    <li>Component review for consistency, usability, and redesign following semantic HTML principles where
                        possible.</li>
                    <li>Both server-side and client-side performance optimization.</li>
                    <li>Strict code clean-up and review.</li>
                </ul>
            </rich:tab>

        </rich:tabPanel>

        <!-- testcontent Ende -->



    </rich:panel>

</ui:composition>
