<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

    </h:head>
    <h:body>
        <a4j:outputPanel id="testPanel" >
            <h:form>
                <h:panelGrid columns="3" cellpadding="30">
                    <h:outputText value="selected value"/>
                    <h:outputText value="#{TestBean.selectedValue}"/>
                    <rich:inplaceSelect value="#{TestBean.selectedValue}">
                        <a4j:ajax event="change" listener="#{TestBean.invokeListener()}" render="testPanel" execute="@this"/>
                        <f:selectItems value="#{TestBean.options}"/>
                    </rich:inplaceSelect>
                </h:panelGrid>
            </h:form>
        </a4j:outputPanel>
    </h:body>
</html>
