
.buttons .basic{text-align: center;  color:red; background-color: green; width:100px}

a.joinbutton {
    background-color: #d4cfc7;
    background-image: url("/portal/faces/rfRes/buttonBackgroundImage.png?v=4.3.2.Final&db=eAFjZGBkZOBm!P-f8f!bV88Y!185f5yBCQBPWAk3&ln=org.richfaces.images");
    background-position: left top;
    background-repeat: repeat-x;
    border-color: #c4c0b9;
    border-radius: 0;
    border-width: 5px;
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    margin: 5px;
}

a.joinbutton:active {
    border-style: inset;
}