/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.09.2014, 19:31:26
    Author     : Stefan
*/

#loginbox {
    background-color: #0B610B;
    border-left-color: #0B610B;
    border-right-color: #0B610B;
}