/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.09.2014, 19:24:47
    Author     : Stefan
*/

.srvColStyle1 { 
    width: 200px;
}
.srvColStyle2 { 
    width: 200px;
}
.srvColStyle3 { 
    width: 200px;
}