#menu {
    position: absolute;
    top :60px;
    left: 5px;
    width: 201px;
    text-align: center;
    height: 660px;
    position: absolute;
    background-image: url("../../pic/background_left.png");
    background-repeat: no-repeat;

    /* background-color: #00FF00;*/
}
#top_left {
    position: absolute;
    top :20px;
    left: 3px;
    width: 199px;
    text-align: center;
    height: 43px;
    position: absolute;
    background-image: url("../../pic/top_left.png");
    background-repeat: no-repeat;

    /* background-color: #00FF00;*/
}
#top_right {
    position: absolute;
    top :20px;
    left: 720px;
    width: 199px;
    text-align: center;
    height: 43px;
    position: absolute;
    background-image: url("../../pic/top_right.png");
    background-repeat: no-repeat;

    /* background-color: #00FF00;*/
}
.menuitem{
    color: #FFFFFF;
    font-size: 16px;
    font-family: Tahoma;
    font-weight: bold;
    text-decoration: none;
    text-align: left;


}

.menugrid{
    width:100%;
    margin: 20px auto;
}
.menupanel{
    width: 142px;
    height: 32px;
    margin: 0 auto;
    position: inherit;
    text-align: left;
    background-image: url("../../pic/menuitem.png");
    background-repeat: no-repeat;
}
a.link_menu:link{
    color: #FFFFFF;
    font-size: 16px;

}