/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.09.2014, 18:32:24
    Author     : Stefan
*/

.menu_new,
.menu_new ul,
.menu_new li,
.menu_new a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 
.menu_new {
    height: 40px;
    width: auto;
 
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
.menu_new li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
}

.menu_new li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
 
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
 
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
 
.menu_new li:first-child a { border-left: none; }
.menu_new li:last-child a{ border-right: none; }
 
.menu_new li:hover > a { color: #8fde62; }

.menu_new ul {
    position: absolute;
    top: 40px;
    left: 0;
 
    opacity: 0;
    background: #1f2024;
 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
 
.menu_new li:hover > ul { opacity: 1; }
 
.menu_new ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
 
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
 
.menu_new li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}

.menu_new ul li a {
    width: 100px;
    padding: 4px 0 4px 40px;
    margin: 0;
 
    border: none;
    border-bottom: 1px solid #353539;
}
 
.menu_new ul li a.menuadmin {
    color: #FF7777;
    border-bottom: 1px solid #000000;
}

.menu_new ul li:last-child a { border: none; }

.menu_new a.menu_german { background: url(../../pic/german.png) no-repeat 6px center; }
.menu_new a.menu_english { background: url(../../pic/english.png) no-repeat 6px center; }
.menu_new a.language_de { background: url(../../pic/german.png) no-repeat 6px center; }
.menu_new a.language_en { background: url(../../pic/english.png) no-repeat 6px center; }
