/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.09.2014, 19:31:37
    Author     : Stefan
*/

#loginbox {
    background-color: #8A0808;
    border-left-color: #8A0808;
    border-right-color: #8A0808;    
}