
/* styles for JSF 2.0 Introduction project */

body {
    font-family: Helvetica, sans-serif;
    background-color: #f9f9f9;
    background-image: url("../../pic/background.jpg");

    text-align: center;
    color: #FFFFFF;
    position: relative;
    /* background-color: #000444;*/
}

h4 { margin: 10px 0 }

input { margin: 5px }

.scroller{
    width:10px;
    background-color: #AAAAAA;
    border: 1px solid #FFFFFF;
}

.outputfield {
    background-color: #222222;
    border: 1px solid #FFFFFF;
}


#main {
    top: 50px;
    text-align: center;
    width: 100%;
    height: 700px;
    margin: 0px auto;
    position: inherit;
    /* background-color: #FF00FF;*/
}

#header {
    top :0px;
    left: 220px;
    width: 1200px;
    text-align: center;
    position: absolute;
    height: 60px;
    background-image: url("../../pic/background_top_wide.png");
    background-repeat: no-repeat;
}
#footer {
    top :670px;
    left: 220px;
    width:  1200px;
    text-align: center;
    overflow: inherit;
    height: 40px;
    position: absolute;
    /* background-color: #00FFFF;*/
}

#content {
    top : 60px;
    left: 220px;
    width: 1200px;
    height: 600px;
    position: absolute;
    text-align: center;
    overflow: auto;
}


label.headerlabel{
    font-size: 9px;
    text-align: center;
    color:white;
}

label.form{
    font-size: 12px;
    text-align: center;
    color:white;
}
.c1{width: 20%; text-align:center;  color:white;}
.c2{width: 80%; text-align:center; font-weight: bolder;  color:white;}
.c3{width: 100%; text-align: justify;  color:white;}
.c4{width: 100%; text-align: center;  color:white;}
.c1black{width: 20%; text-align:center;  color:black;}
.c2black{width: 80%; text-align:center; font-weight: bolder;  color:black;}
.c3black{width: 100%; text-align: justify;  color:black;}
.rightAlign{text-align:  right;}
.leftAlign{text-align: left;}


a:visited {
    color: #FFFFFF;
}
a:hover {
    color: #CCCCCC;
    background-color: #333333;
    text-decoration: none;
}
a:active {
    color: #333333;
}

#backButton {
    margin: 55px 79px;
}

.highlight {
    font-size: larger;
    color: #c00;
}

.error {
    font-size: smaller;
    color: #c00;
}
.topAligned {
    vertical-align: top;
}

.whiteColor{
    color: #ffffff;
    font-weight: bolder;
}