
/* styles for JSF 2.0 Introduction project */

body {
    font-family: Helvetica, sans-serif;
    background-color: #f9f9f9;
    background-image: url("../../pic/background.jpg");

    text-align: center;
    color: #FFFFFF;
    position: relative;
    /* background-color: #000444;*/
}

h4 { margin: 10px 0 }

input { margin: 5px }


#main {
    top: 50px;
    text-align: center;
    width: 920px;
    height: 700px;
    margin: 0px auto;
    position: inherit;
    /* background-color: #FF00FF;*/
}



#header {
    top :0px;
    left: 202px;
    width: 520px;
    text-align: center;
    position: absolute;
    height: 60px;
    background-image: url("../../pic/background_top.png");
    background-repeat: no-repeat;

    /* background-color: #FF0000;*/
}
#footer {
    top :670px;
    left: 0px;
    width: 900px;
    text-align: center;
    overflow: inherit;
    height: 40px;
    position: absolute;
    /* background-color: #00FFFF;*/
}
#informationpanel {
    top :40px;
    left: 720px;
    width: 202px;
    text-align: center;
    overflow: inherit;
    height: 660px;
    position: absolute;
    background-image: url("../../pic/background_right.png");
    background-repeat: no-repeat;

    /* background-color: #0000FF; */
}


#content {
    top : 60px;
    left: 203px;
    width: 517px;
    height: 600px;
    position: absolute;
    text-align: center;
    overflow: auto;
    background-image: url("../../pic/background_center.png");
    background-repeat: no-repeat;
    /* background-color: #FFFF00;  */
}

label.form{
    font-size: 12px;
    text-align: center;
    color:white;
}
.newsdate{width: 20%; text-align:center;  color:white; font-weight: bold; font-family: Tahoma; font-size: 10px;}
.newssubject{width: 80%; text-align:center; font-weight: bold; font-family: Arial; font-size: 14px; font-weight: bolder;  color:white;}
.newsmessage{width: 100%; text-align: center; margin: 0 auto;  color:white; font-weight: bold; font-family: Tahoma; font-size: 12px;}
.c4{width: 100%; text-align: center;  color:white;}
.c1black{width: 20%; text-align:center;  color:black;}
.c2black{width: 80%; text-align:center; font-weight: bolder;  color:black;}
.c3black{width: 100%; text-align: justify;  color:black;}
.rightAlign{text-align:  right;}
.leftAlign{text-align: left;}


a:visited {
    color: #FFFFFF;
}
a:hover {
    color: #CCCCCC;
    background-color: #333333;
    text-decoration: none;
}
a:active {
    color: #333333;
}


.highlight {
    font-size: larger;
    color: #c00;
}

.error {
    font-size: smaller;
    color: #c00;
}
.topAligned {
    vertical-align: top;
}

.whiteColor{
    color: #ffffff;
}