
/* styles for JSF 2.0 Introduction project */

body {
    font-family: Helvetica, sans-serif;
    background-color: #f9f9f9;
    background-image: url("../../pic/background.jpg");
    background-attachment: fixed;

    text-align: center;
    color: #FFFFFF;
    /* background-color: #000444;*/
}

h4 { margin: 10px 0 }

input { margin: 5px }


#main {
    top: 50px;
    text-align: center;
    width: 920px;
    height: 700px;
    margin: 0px auto;
    position: inherit;
    /* background-color: #FF00FF;*/
}

#hideoverflow {
    float:left;
    width:100%;
    /* background-color: #FF0000; */
    /* border-bottom:4px solid #000; */
    overflow:hidden;
    position:relative;
    margin-top: 100px;
    z-index: 0;
}

#centerhelper {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
    z-index: 1;
    /* background-color: #0000FF; */
}

#header {
    top :0px;
    left: 202px;
    width: 520px;
    text-align: center;
    position: absolute;
    height: 60px;
    background-image: url("../../pic/background_top.png");
    background-repeat: no-repeat;

    /* background-color: #FF0000;*/
}
#footer {
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    overflow: inherit;
    height: 40px;
    position: fixed;
    background-color: #170B3B;
    z-index: 4;
}

#loginbox {
    top: 0px;
    right: 0px;
    width: auto;
    text-align: center;
    overflow: inherit;
    height: 30px;
    position: fixed;
    z-index: 4;
    border-left:5px solid #FF0000;
    border-right:5px solid #FF0000;
}

#menubox {
    top: 0px;
    left: 0px;
    width: auto;
    text-align: center;
    overflow: inherit;
    height: auto;
    position: fixed;
    z-index: 5;
    /* background-color: #444444; */
}


#content {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   margin-bottom: 60px;
   padding:0;
   position:relative;
   right:50%;
   z-index: 2;
}

label.form{
    font-size: 12px;
    text-align: center;
    color:white;
}
.newsdate{width: 20%; text-align:center;  color:white; font-weight: bold; font-family: Tahoma; font-size: 10px;}
.newssubject{width: 80%; text-align:center; font-weight: bold; font-family: Arial; font-size: 14px; font-weight: bolder;  color:white;}
.newsmessage{width: 100%; text-align: center; margin: 0 auto;  color:white; font-weight: bold; font-family: Tahoma; font-size: 12px;}
.c4{width: 100%; text-align: center;  color:white;}
.c1black{width: 20%; text-align:center;  color:black;}
.c2black{width: 80%; text-align:center; font-weight: bolder;  color:black;}
.c3black{width: 100%; text-align: justify;  color:black;}
.rightAlign{text-align:  right;}
.leftAlign{text-align: left;}

.srvColStyle1 {
    width: 100px;
}
.srvColStyle2 {
    width: 20px;
}
.srvColStyle3 {
    width: 35px;
}
.srvColStyle4 {
    width: 100px;
}

.loginerror {
    color: #FF5555;
}

a:visited {
    color: #FFFFFF;
}
a:hover {
    color: #CCCCCC;
    background-color: #333333;
    text-decoration: none;
}
a:active {
    color: #333333;
}


.highlight {
    font-size: larger;
    color: #c00;
}

.error {
    font-size: smaller;
    color: #c00;
}
.topAligned {
    vertical-align: top;
}

.whiteColor{
    color: #ffffff;
}