<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd">

    <rich:panel>
        <rich:dataTable styleClass="content_table" value="#{ConstructionBean.viewData.getConstructionEntries(type)}" var="constructionView">
            <rich:column>
                <f:facet name="header">
                    <dd:outputText styleClass="rf-dt-cap" rendered="${ConstructionBean.viewData.getConstructionEntries(type).size() gt 0}" value="#{type}"/>
                </f:facet>
            </rich:column>
            <rich:column>
                <h:outputText styleClass="rf-dt-c" value="#{constructionView.constructionName}"/>
            </rich:column>
            <rich:column>
                <h:panelGrid columns ="3">
                    <h:outputText value="#{constructionView.planetConstruction.number}"/>
                    <h:outputText rendered="#{constructionView.construction.isIdleable()}" value=" / "/>
                    <dd:inplaceInput rendered="#{constructionView.construction.isIdleable()}" listener="#{ConstructionBean.updateIdle()}" render="taxes" value="#{constructionView.planetConstruction.idle}"/>
                </h:panelGrid>
            </rich:column>
        </rich:dataTable>
    </rich:panel>
</ui:composition>

