<ui:composition  template="template.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:rich="http://richfaces.org/rich"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd">
    <ui:define name="subcontent">

        <h:panelGrid style=" margin: 0 auto;">
            <ui:include src="constructionTable.xhtml">
                <ui:param name="type" value="ADMINISTRATION"/>
            </ui:include>
            <ui:include src="constructionTable.xhtml">
                <ui:param name="type" value="ZIVIL"/>
            </ui:include>
            <ui:include src="constructionTable.xhtml">
                <ui:param name="type" value="ENERGY"/>
            </ui:include>
            <ui:include src="constructionTable.xhtml">
                <ui:param name="type" value="INDUSTRY"/>
            </ui:include>
            <ui:include src="constructionTable.xhtml">
                <ui:param name="type" value="MILITARY"/>
            </ui:include>
            <ui:include src="constructionTable.xhtml">
                <ui:param name="type" value="PLANETARY_DEFENSE"/>
            </ui:include>
        </h:panelGrid>
    </ui:define>
</ui:composition>

