<ui:composition  template="../index.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:rich="http://richfaces.org/rich"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd">
    <ui:define name="content">
        <div id="Construction_table">
        <dd:baseGrid styleClass="construction_HeadMenu" columns="1">
            <f:facet name="header">
                <dd:link styleClass="construction_header" value="Übersicht" outcome="overview.xhtml"/>
                <dd:link styleClass="message-header" value="Administration" outcome="administration.xhtml"/>
                <dd:link styleClass="message-header" value="Zivil" outcome="civil.xhtml"/>
                <dd:link styleClass="message-header" value="Energie" outcome="energy.xhtml"/>
                <dd:link styleClass="message-header" value="Industrie"  outcome="industry.xhtml"/>
                <dd:link styleClass="message-header" value="Militär" outcome="military.xhtml"/>
            </f:facet>
        </dd:baseGrid>
        <ui:include src="../buildable/inBuildTable.xhtml">
            <ui:param name="inBuildEntries" value="#{ConstructionBean.viewData.inConstructionEntries}"/>
            <ui:param name="id" value="inConstructionTable"/>
            <ui:param name="updateBean" value="#{ConstructionBean}"/>
            <ui:param name="updateAction" value="updatePriorities"/>
        </ui:include>
        <ui:insert name="subcontent">
            Construction subcontent
        </ui:insert>
        </div>
    </ui:define>
</ui:composition>

