<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">


    <composite:interface>
        <composite:attribute name="listener" required="true"  method-signature="void actionListener(javax.faces.event.AjaxBehaviorEvent)" />
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="render" required="false"/>
        <composite:attribute name="items" required="true"/>
    </composite:interface>

    <composite:implementation>
        <a4j:region>
            <h:form>
                <h:panelGrid columns="2" cellpadding="0" cellspacing="0">
                    <rich:inplaceSelect editEvent="dblclick" id="researchSelect" showControls="false" saveOnSelect="true"
                                        saveOnBlur="false" value="#{cc.attrs.value}">
                        <a4j:ajax event="change" listener="#{cc.attrs.listener}" render="#{cc.attrs.render}" execute="@this"/>

                        <f:selectItems value="#{cc.attrs.items}"/>
                    </rich:inplaceSelect>
                </h:panelGrid>
            </h:form>
        </a4j:region>
    </composite:implementation>

</html>