<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:c="http://java.sun.com/jsp/jstl/core" 
                xmlns:dd="http://java.sun.com/jsf/composite/dd" 
                xmlns:f="http://xmlns.jcp.org/jsf/core" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:ui="http://java.sun.com/jsf/facelets">


    <!-- Anfang Planeten- und System-Block -->
    <div id="SwitchBlock" 
         class="col-xs-12 col-sm-10 col-md-10 col-lg-14">

        <!-- Anfang Container für den Kategorie-Wechsel -->
        <div id="CategoryRow" class="row">
            <h:form id="CategorySwitch">
                <a4j:outputPanel id="Category" 
                                 styleClass="col-xs-14 col-sm-14 col-md-14 col-lg-20"
                                 layout="block" 
                                 ajaxRendered="true">

                    <h:outputLabel id="CategoryLabel" 
                                   styleClass="col-lg-7 switchLabel" 
                                   for="SelectCategory" 
                                   value="#{MLBean.getML(MLBean.lang.sites.header.label.category)}" />

                    <rich:select id="CategorySelect" 
                                 styleClass="col-xs-20 col-sm-20 col-md-20 col-lg-6 textFloatLeft" 
                                 selectItemClass="text-FloetCenter"
                                 enableManualInput="true" 
                                 mode="client" 
                                 rendered="true"
                                 selectFirst="true" 
                                 value="#{HeaderBean.selectedCategoryId}" 
                                 defaultLabel="entry" 
                                 
                                 valueChangeListener="#{HeaderBean.updateHeaderValues}" 
                                 onchange="submit()">
                        <f:selectItems id="CategorySelectItem" 
                                       value="#{HeaderBean.viewData.getCategories().values()}" 
                                       var="#{entry.categoryId}" 
                                       actionListener="#{HeaderBean.setSelectedCategoryId(selectedCategoryId)}"
                                       itemValue="#{entry.categoryId}" 
                                       itemLabel="#{entry.categoryName}" />
                    </rich:select>
                </a4j:outputPanel>
            </h:form>
        </div>
        <!-- Ende Container für den Kategorie-Wechsel -->

        <!-- Anfang Cntainer für den System-Wechsel -->
        <div id="SystemRow" class="row">
            <h:form id="SystemSwitch">
                <a4j:outputPanel id="System" 
                                 styleClass="col-xs-8 col-sm-8 col-md-8 col-lg-20" 
                                 layout="block" 
                                 ajaxRendered="true">

                    <h:outputLabel id="SystemLabel" 
                                   styleClass="col-lg-7 switchLabel"
                                   for="SelectSystem"
                                   value="#{MLBean.getML(MLBean.lang.sites.header.label.system)}" />

                    <rich:select id="SystemSelect" 
                                 styleClass="col-xs-20 col-sm-20 col-md-20 col-lg-6 textFloatLeft" 
                                 selectItemClass="textFloatLeft" 
                                 style="margin: auto;"
                                 enableManualInput="true" 
                                 onchange="submit()" 
                                 mode="client" 
                                 selectFirst="true" 
                                 valueChangeListener="#{HeaderBean.updateHeaderValues}"
                                 value="#{HeaderBean.selectedSystemId}" 
                                 defaultLabel="[ default ]" >
                        <f:selectItems id="SystemSelectItem" 
                                       value="#{HeaderBean.viewData.getSystems().values()}" 
                                       var="#{entry.systemId}" 
                                       itemValue="#{system.systemId}" 
                                       itemLabel="#{system.systemName}" />
                    </rich:select>
                    <h:outputText id="SelectedCategoryOutput" 
                                  styleClass="col-lg-7 textFloatLeft" 
                                  value="#{HeaderBean.selectedCategoryId}"/>
                </a4j:outputPanel>
            </h:form>
        </div>
        <!-- Ende Container für den System-Wechsel -->

        <!-- Anfang Container für den Planeten-Wechsel -->
        <div id="PlanetRow">
            <h:form id="PlanetSwitch">
                <a4j:outputPanel id="Planet" 
                                 layout="block" 
                                 ajaxRendered="true"
                                 styleClass="col-xs-4 col-sm-4 col-md-4 col-lg-20 row">

                    <h:outputLabel id="PlanetLabel" 
                                   styleClass="col-lg-7 switchLabel" 
                                   for="SelectPlanet" 
                                   value="#{MLBean.getML(MLBean.lang.sites.header.label.planet)}" />

                    <rich:select id="PlanetSelect" 
                                 styleClass="col-xs-20 col-sm-20 col-md-20 col-lg-6 textFloatLeft" 
                                 selectItemClass="testFloatCenter" 
                                 enableManualInput="true" 
                                 onchange="submit()" 
                                 mode="ajax" 
                                 selectFirst="true" 
                                 valueChangeListener="#{HeaderBean.updateHeaderValues}" 
                                 value="#{HeaderBean.selectedPlanetId}" 
                                 defaultLabel="[ default ]">
                        <f:selectItems id="SelectPlanetItem" 
                                       value="#{HeaderBean.viewData.getPlanets().values()}" 
                                       var="planet" 
                                       itemValue="#{planetId }" 
                                       itemLabel="#{planetName}" />
                    </rich:select>
                    <!-- Ende Container für den Planeten-Wechsel -->
                    <div id="KoordinatenRow" class="row col-lg-7">
                        <h:outputText id="SelectedSystemOutput" 
                                      styleClass="col-lg-9" 
                                      style="clear: both; text-align: right;" 
                                      value="#{HeaderBean.selectedSystemId}" />
                        <h:outputText id="Spacer" styleClass="col-lg-1" value=":"/>
                        <h:outputText id="SelectedPlanetOutput" 
                                      styleClass="col-lg-10" 
                                      style="float:right; text-align: left;" 
                                      value="#{HeaderBean.selectedPlanetId}" />
                    </div>
                </a4j:outputPanel>
            </h:form>
        </div>
        <!-- Ende Cntainer für den Planeten-, System-Wechsel -->

        <!-- Ende Planeten- und System-Wechsel-Block -->
    </div>

</ui:composition>
