<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:a4j="http://richfaces.org/a4j">
        <!-- Anfang Ticker-Container -->
        <h:form id="TickerBlock" 
                styleClass="col-xs-4 col-sm-3 col-md-3 col-lg-3">

            <a4j:outputPanel id="Timer" 
                             layout="block" 
                             styleClass="col-xs-20 col-sm-20 col-md-20 col-lg-20" 
                             ajaxRendered="true">
                <h:outputLabel for="time" 
                               id="TimerLabel" 
                               styleClass="col-xs-20 col-sm-20 col-md-20 col-lg-20 tickerLabel" 
                               value="#{MLBean.getML(MLBean.lang.sites.header.label.nexttick)}" />
                <h:outputLabel id="time" 
                               styleClass="col-xs-20 col-sm-20 col-md-20 col-lg-20 tickerOutput"
                               value="#{ServiceBean.time}" />
            </a4j:outputPanel>

        </h:form>
        <!-- Ende Container für den Ticker -->
        
</ui:composition>
