<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:c="http://java.sun.com/jsp/jstl/core" 
                xmlns:dd="http://java.sun.com/jsf/composite/dd" 
                xmlns:f="http://xmlns.jcp.org/jsf/core" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <!-- Anfang für den Sprach-Wechsel-Block -->
    <h:form id="Language" 
            styleClass="hidden-xs col-sm-4 col-md-3 col-lg-3">

        <div id="LanguageBlock">
            <div id="LanguageBlockLabel" 
                 class="col-xs-20 col-sm-20 col-md-20 col-lg-20 languagelabel">
                <h:outputText id="LanguageBlockLabelText" 
                              value="[ Sprachauswahl ]" />
            </div>

            <div id="LanguageBlockSwitch" 
                 class="col-xs-20 col-sm-20 col-md-20 col-lg-20 languagetoggle">
                <h:panelGrid style="padding: 0;" 
                             columns="#{ServiceBean.getLanguages().size() + 1}">
                    <h:form>
                        <h:commandLink action="#{HelpBean.switchHelp()}">
                            <dd:graphicImage name="/pic/icons/infoT.png"/>
                        </h:commandLink>
                    </h:form>
                    <c:forEach items="#{ServiceBean.getLanguages()}" 
                               var="language">
                        <h:form>
                            <h:commandLink action="#{ServiceBean.setLanguage(language)}">
                                <dd:graphicImage styleClass="languageFlag" 
                                                 name="/pic/icons/#{language.pic}"/>
                            </h:commandLink>
                        </h:form>
                    </c:forEach>
                </h:panelGrid>
            </div>

        </div>

    </h:form>

    <!-- Anfang für den Sprach-Wechsel-Block -->

</ui:composition>
