<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- PollEvent für den Tick -->
    <a4j:region id="TickerPoll" 
                rendererType="time">
        <h:form id="Form">
            <a4j:poll id="Output" 
                      enabled="true" 
                      interval="60000"
                      render="time" />
        </h:form>
    </a4j:region>


    <!--    // header.xhtml bz. richfacesHeader.xhtml gesplitted in
            // richfachesTicker,xhtml
            // richfaces.Switch.xhtml
            // richfaces.Language.xhtml
    -->
    <rich:panel id="HeaderPanel" 
                styleClass="col-xs-20 col-sm-20 col-md-20 col-lg-20">

        <ui:include id="TickerBlock" 
                    src="richfacesTicker.xhtml" />

        <ui:include id="SwitchBlock" 
                    src="richfacesSwitch.xhtml" />

        <ui:include id="LanguageBlock" 
                    src="richfacesLanguage.xhtml" />
    </rich:panel>
</ui:composition>
