@import "../../bootstrap.less";
@import "../../table.less";

#Construction_table {
    display: table;
    border: 1px dotted white;
    border-collapse: collapse;
}

.content-table-row {}

/** This class defines styles for the table.                          *
  * default skin parameter    css-mapped                              *
  * tableBackgroundcolor  ->  background-color                        *
  * tableBorderWidth      ->  border-left-width                       *
  *                           border-top-width                        *
  * tableBorder-Color     ->  border-left-color                       *
  *                           border-top-color                        *
  */
.rf-dt {
    display: inline-table;
    padding: 0px;
    border: 1px solid black; // for test display uncomment this line
    border-collapse: collapse;
}

/** This class defines styles for the table caption.                  *
  * no default skin parameters                                        *
  */
.rf-dt-cap {
    .content_table_header;
}

/** This class defines styles for the table caption.                  *
  * no default skin parameters                                        *
  */
.rf-dt-r {
    .content-table-row;
}

/** This class defines styles for a table cell.                       *
  * default skin parameter    css-mapped                              *
  * tableBorderColor      ->  border-bottom-color                     *
  *                       ->  border-right-color                      *
  * generalTextColor      ->  color                                   *
  * genaralFamilyFont     ->  font-family                             *
  * generalSizeFont       ->  font-size                               *
  * tableBorderWidth      ->  border-bottom-width                     *
  *                       ->  border-right-width                      *
  * tableBorderColor      ->  borderbottom-color                      *
  *                       ->  border-right-color                      *
  */
.rf-dt-c {
    .content_table_cells;
}