<ui:composition  template="../index.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:c="http://java.sun.com/jsp/jstl/core"
                 xmlns:dd="http://java.sun.com/jsf/composite/dd"
                 xmlns:rich="http://richfaces.org/rich">

    <ui:define name="title">Version : #{VersionBean.getActVersion().name}</ui:define>
    <ui:define name="content">
        <h:form>
            <h:outputText value="Version : #{VersionBean.getActVersion().name}"/>
            <BR/>
            <rich:dataTable class="datagrid themeBoxBorder" style="margin: 0 auto;" columnClasses="themeBackgroundColor" value="#{VersionBean.getTasks()}"  var="task">
                <f:facet name="header">
                    <dd:outputText style="font-weight:bolder;" value="#{ML.lang.sites.tasks.lbl.tasks}"/>
                </f:facet>
                <h:column>
                    <h:outputText rendered="${task.status ne 'FINISHED_LIVE'}"  value="#{task.subject}"/>
                    <h:outputText rendered="${task.status eq 'FINISHED_LIVE'}"  value="#{task.subject}"/>
                </h:column>
                <rich:collapsibleSubTable style="text-align:left;" columnClasses="themeBackgroundColorBrighter80" value="#{TaskBean.getMessages(task.id)}" var="message">
                    <h:column>
                        <h:outputText escape="false" value="#{message.message}"/>
                    </h:column>
                </rich:collapsibleSubTable>
            </rich:dataTable>

            <BR/>
            <rich:dataTable class="datagrid themeBoxBorder" columnClasses="themeBackgroundColor" style="margin: 0 auto;" value="#{VersionBean.getBugs()}"  var="bug">
                <f:facet name="header">
                    <dd:outputText style="font-weight:bolder;" value="#{ML.lang.sites.bugs.lbl.bugs}"/>
                </f:facet>
                <h:column>
                    <h:outputText rendered="${bug.status ne 'FINISHED_LIVE' and bug.status ne 'WONTFIX'}"  value="#{bug.subject}"/>
                    <h:outputText rendered="${bug.status eq 'FINISHED_LIVE' or bug.status eq 'WONTFIX'}"  value="#{bug.subject}"/>
                </h:column>
                <rich:collapsibleSubTable columnClasses="themeBackgroundColorBrighter80" value="#{BugBean.getMessages(bug.id)}" var="message">
                    <h:column>
                        <h:outputText escape="false" value="#{message.message}"/>
                    </h:column>
                </rich:collapsibleSubTable>
            </rich:dataTable>
        </h:form>
    </ui:define>
</ui:composition>