<ui:composition  template=".././template.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:c="http://java.sun.com/jsp/jstl/core"
                 xmlns:rich="http://richfaces.org/rich">

    <ui:define name="title">Versions</ui:define>
    <ui:define name="content">
        <br/><br/>
        <h:form>
            <rich:dataTable class="datagrid" style="margin: 0 auto;" id="versions" value="#{VersionBean.getVersions()}" var="version">
                <h:column>
                    <f:facet name="header">Id</f:facet>
                        #{version.id}
                </h:column>
                <h:column>
                    <f:facet name="header">Name</f:facet>
                        #{version.name}
                </h:column>
                <h:column>
                    <f:facet name="header">Version</f:facet>
                        #{version.version}
                </h:column>
                <h:column>
                    <f:facet name="header">Bugs/Tasks</f:facet>
                    #{VersionBean.getBugCount(version.id)}/#{VersionBean.getTaskCount(version.id)}
                </h:column>
                <h:column>
                    <f:facet name="header">Release</f:facet>
                        #{version.released}
                </h:column>
                <h:column>
                    <f:facet name="header"></f:facet>
                    <h:commandLink action="#{VersionBean.setReleaseId(version.id)}" value="Details"/><BR/>
                    <a4j:commandLink  value="Release" render="versions"  action="#{version.changeReleaseStatus()}"/>

                </h:column>
            </rich:dataTable>
        </h:form>
    </ui:define>
</ui:composition>