<ui:composition  template="../index.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml" 
                 xmlns:h="http://java.sun.com/jsf/html" 
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets" 
                 xmlns:a4j="http://richfaces.org/a4j" 
                 xmlns:rich="http://richfaces.org/rich">

    <ui:define name="title">Mailinglist</ui:define>
    <ui:define name="content">
        #{RegistrationBean.createNewUser()}
        <h:outputStylesheet library="basic" name="css/register.css" />
        <rich:panel>
            <f:facet name="header">
                MailingList
            </f:facet>
            <h:panelGrid columns="1">
                <h:panelGrid columns="4">
                    <a4j:outputPanel id="mailingList">
                        <h:form>
                            <h:outputText value="MailingList : "/>
                            <h:selectOneMenu value="#{MailingBean.selectedMailingListId}">
                                <f:selectItems value="#{MailingBean.mailingLists}" var="ml"
                                               itemLabel="#{ml.name}" itemValue="#{ml.id}"/>
                                <a4j:ajax event="valueChange" render="mailingListEntry, emailString"/>
                            </h:selectOneMenu>
                            <h:inputText value="#{MailingBean.mailingListName}"/>
                            <a4j:commandButton value="Create" action="#{MailingBean.createMailingList()}" render="mailingList, mailingListEntry"/>
                            <a4j:commandButton value="Delete" action="#{MailingBean.deleteMailingList()}" render="mailingList, mailingListEntry"/>
                        </h:form>
                    </a4j:outputPanel>
                </h:panelGrid>
                <h:panelGrid columns="2">
                    <a4j:outputPanel>
                        <h:form>
                            <h:panelGrid columns="1">
                                <h:form>
                                    <h:selectOneListbox id="mailingListEntry" value="#{MailingBean.selectedMailingListEntryId}" size="20">
                                        <f:selectItems  value="#{MailingBean.mailingListEntries}"  var="mle"
                                                        itemLabel="#{mle.email}" itemValue="#{mle.id}"/>
                                        <a4j:ajax event="click"/>
                                    </h:selectOneListbox>
                                    <a4j:commandButton value="Delete" action="#{MailingBean.delete()}"  render="mailingListEntry"/>
                                </h:form>
                                <h:form>
                                    <h:inputText value="#{MailingBean.emails}"/>
                                    <a4j:commandButton value="addEmail" action="#{MailingBean.createMailingListEntry()}" render="mailingListEntry, emailString" />
                                </h:form>
                            </h:panelGrid>
                        </h:form>
                    </a4j:outputPanel>
                    <h:form>
                        <h:panelGrid columns="1" >
                            <h:panelGrid columns="2">
                                <h:outputText value="subject"/>
                                <h:inputText id="subject" value="#{MailingBean.subject}" size="30" />
                            </h:panelGrid>
                            <h:inputTextarea id="message" value="#{MailingBean.message}" cols="43" rows="20" />
                            <a4j:commandButton value="sendMail to whole mailinglist"  action="#{MailingBean.sendMail()}"  render="subject, message, result, clearResult" />
                        </h:panelGrid>
                    </h:form>
                    <h:form>
                        <rich:dataTable id="result" value="#{MailingBean.result}" var="result">
                            <rich:column>
                                <h:outputText value="#{result}"/>
                            </rich:column>
                        </rich:dataTable>
                        <a4j:commandButton id="clearResult" rendered="#{MailingBean.resultNotEmpty}" value="clearresult" action="#{MailingBean.clearResult()}"  render="result, clearResult"/>
                    </h:form>
                </h:panelGrid>
            </h:panelGrid>
            <h:panelGrid columns="2" >
                <h:outputText value="Emails as String" />
                <h:inputText id="emailString" size="80" value="#{MailingBean.emailsAsString}"/>
            </h:panelGrid>
        </rich:panel>
    </ui:define>
</ui:composition>