<ui:composition  template="../index.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:rich="http://richfaces.org/rich">
    <ui:define name="title">Users</ui:define>
    <ui:define name="content">
        <br/><br/><br/><br/><br/>
        <h:form>
            <rich:dataTable sortMode="single" class="datagrid marginCenter" value="#{UserBean.getUsers()}" var="user">
                <rich:column>
                    <f:facet name="header">Name</f:facet>
                        #{user.userName}
                </rich:column>
                <rich:column>
                    <f:facet name="header">Type</f:facet>
                        #{user.userType}
                </rich:column>
                <rich:column>
                    <f:facet name="header">Email</f:facet>
                        #{user.email}
                </rich:column>
                <rich:column sortBy="#{user.joinDate}">
                    <f:facet name="header">Joindate</f:facet>
                        #{ConversionBean.longToDateString(user.joinDate)}
                </rich:column>
                <rich:column sortBy="#{ServiceBean.getNumberOfRegisteredRounds(user.id)}">
                    <f:facet name="header">Registered Rounds</f:facet>
                        #{ServiceBean.getNumberOfRegisteredRounds(user.id)}
                </rich:column>


            </rich:dataTable>
        </h:form>
        <br/>
        <h:form>
            <h:commandLink rendered="#{LoginBean.adminLogged}" value="Add Round" action="#{RoundBean.createNewRound()}" />
        </h:form>
    </ui:define>
</ui:composition>