@import "../bootstrap.less";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.08.2014, 15:13:54
    Author     : Admin
*/

body#FrontPage {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
}

#FrontpageForm .rf-tb {
    .themeBackgroundColorGradient;
    height: 40px;
    display: block;
    color: white;
    margin: 0px auto;
    border: 1px solid white;
}
