@import "../bootstrap.less";

#StatusPanel {
    background-color: transparent;
    margin-bottom: @themeFontSize * 1.5;
    padding: @themeFontSize 0 @themeFontSize @themeFontSize;
    border: 1px solid antiquewhite;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    .themeBoxShadow;
}

#StatusbarContentBox {
    .themeBackgroundColorGradient;
}

#EnergybarBar{
    height: 5px;
}

#DevelopmentBar{
    height: 5px;
}

#StatusToolTopPanel {
    border: 2px groove silver;
    border-radius: @themeFontSize;
}