@import "../bootstrap.less";

/** Dateiname: richfacesContent.less *
  * Zweck    : css-Styles für den    *
  *            Content-Block         *
  * Neuaufbau: 10.09.2014            *
  * Autor:     Nimphonost            *
  */

/** === ContentBlock-Container === **/
#ContentBlock {
    .themeFont;
    .themeColorDarker;
    .themeBackgroundColorGradient;
    .themeBoxBorder;
}

#ContentPanel {
    padding: 0 @themeFontSize *1.5;
}

#ContentMessageBox {
    .themeBoxShadow;
}

.rf-tbp {
    color: white;
    font-size: 12px;
    border: none;
}

.rf-tab-hdr {
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: #400000;
    color: @themeColor;
    vertical-align: middle;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-collapse: separate;
    margin: 0;
    padding: 0;
}


/*
table{
    border-collapse: separate;
}
.rf-tbp {
    color: white;
    font-size: 12px;
    border: none;
}
.rf-tab-hdr {
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: #400000;
    color: @themeColor;
    vertical-align: middle;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-collapse: separate;
    margin: 0;
    padding: 0;
}

.rf-tab-hdr-act.rf-tab-hdr-top {
    color: antiquewhite;
    .themeBackgroundColorBrighterGradient;
    padding: 2px 4px;
    margin-right: 4px;
    border: none;
}

.rf-tab-hdr-inact.rf-tab-hdr-top {
    .themeBackgroundColorGradient;
    color: dimgray;
    padding: 2px 4px;
    margin-right: 4px;
    border: none;
}

.rf-tab-hdr-brd {
    border: none;
    height: 0;
}
.rf-tab-hdr-lbl {
    padding: 4px;
    background-color: blue;
}
.rf-tab-hdr-tabs {
    background: none;
    border: none;
    border-collapse: separate;
}

.rf-tab-hdr-spcr,td.rf-tab-hdr-spcr {
    border: none;
    padding: 0;
    margin: 0;
}

.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    border-collapse: separate;
}

.rf-tab-cnt {
    .themeBackgroundColorBrighterGradient;
    border: none;
}

*/