@import "../bootstrap.less";

/** 
  * überschreiben der default-Abstände 
  * der rich:panel-Klasse .rf-p für den 
  * Top-Level-Container ThemePanel.
  * Die Klasse wird von rich:panel 
  * automatisch erzeugt
  */
#ThemePanel.rf-p {
    margin: 0;
    padding: 0;
    border: none;
}

/** überschreiben der default-Abstände 
  * der rich:panel-Klasse .rf-p-b für den 
  * Top-Level-Container ThemePanel_body
  * Die Klasse wird von rich:panel 
  * automatisch erzeugt
  */
#ThemePanel.rf-p-b {
    margin: 0;
    padding: 0;
    border: none;
}

#ThemePanel.rf-p-hdr {
    margin: 0;
    padding: 0;
    border: none;
}

