@import "../bootstrap.less";

// TODO
// aus irgendeinem Grund muß hier form#MenuPanel noch angegeben werden.
// schaumermal, das das weg kommt.                                    
//
form#MenuPanel {
   border: 1px solid antiquewhite;
    border-left-style: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/** erzeugte richface-Klasse rich:panelMenu .rf-pm                    *
  * Die Klasse definiert automatisch folgrnde Basis-Styles            *
  * skin parameter     ->  mapped css property                        *
  * generalFontFamily  ->  font-family                                *
  * generalSizeFont    ->  font-size                                  *
  */

#MenuPanel .rf-pm {
/*    .themeLightBorder;
    .themeBorderRadius;*/
    border: 1px solid antiquewhite;
    border-left-style: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/** erzeugte richface-Klasse richPanelMenu .rf-pm-gr für die          *
  * Menügruppen                                                       *
  * skin parameter     ->  mapped css property                        *
  * panelBorderColor   ->  border-top-color                           *
  */
#MenuPanel .rf-pm-gr {
    .themeBackgroundColorGradient;
    .themeMenuItemBorder;
    .themeBorderRadius;
    margin: 6px;
    .themeBoxShadow;
    border-color: blue;
}

/** erzeugte richface-Klasse richPanelMenu .rf-pm-top-gr für die      *
  * Toplevel-Menügruppen                                              *
  * skin parameter     ->  mapped css property                        *
  * panelBorderColor   ->  border-top-color                           *
  */
#MenuPanel .rf-pm-top-gr {
    .themeBackgroundColorBrighterGradient;
    border-color: red;
    .themeMenuItemBorder;
    .themeBorderRadius;
    margin-top: @themeMargin /2;
    .themeBoxShadow;
}

/** erzeugte richface-Klasse richPanelMenu .rf-pm-top-gr-hdr für die  *
  * Toplevel-Menügruppen Header                                       *
  * skin parameter     ->  mapped css property                        *
  * headerTextColor    ->  color                                      *
  * headerBackgroundColor  background-color                           *
  */
#MenuPanel .rf-pm-top-gr-hdr {
    color: inherit;
    background-color: transparent;
}

/** erzeugte richface-Klasse richPanelMenu .rf-pm-top-gr-gr für die   *
  * Untergruppen der Toplevel-Menügruppen                             *
  * erzeugt keine automatischen Parameter für css-styles              *
  * Wird als table class="rf-pm-top-gr-gr" automatisch generiert      *
  * praktisch unsichtbares Element                                    *
  */
.rf-pm-top-gr-gr {
    margin: 0;
}

#MenuPanel .rf-pm-top-itm {
    .themeBackgroundColorGradient;
    .themeBorderRadius;
    border: 2px outset white;
    margin-left: 0.5em;
    margin-right: 0.5;
    margin-bottom: @themeFontSize /1.5;
}

#MenuPanel .rf-pm-itm {
    .themeBackgroundColorGradient;
    .themeBorderRadius;
    border: 2px outset white;
    margin: @themeFontSize /1.5;
}

#MenuPanel .rf-pm-top-gr-hdr.rf-pm-top-gr-sel.rf-pm-hdr-exp {
    border-bottom: 2px inset silver;
    .themeBackgroundColorGradient;
    .themeBorderRadius;
    background: transparent;
    padding: 0;
}

#MenuPanel .rf-pm-gr.rf-pm-shdr {
    .themeBackgroundColorGradientRevers;
    margin: @themeFontSize /1.5;
    margin: @themeFontSize /1.5;
    padding: 0;
}

