@import "../bootstrap.less";

#Timeline {
    /* -> nur für Tests -> */
    position: relative;
    bottom: @themeFontSize * 1.5;
    left: 0;
    right: 0;
    height:50px;
    /* <- nur für Tests <- */
    .themeFont;
    .themeBackgroundColorGradient;
    .textFloatCenter;;
    .nullMargin;
    .themePadding;
    .themeBoxShadow;
    .themeTimelineBorder;
    margin-top: @themeMargin;
    margin-bottom: 1.1%;
}