@import "../bootstrap.less";

/** -------------------------- Hauptpanel Kopfbereich                */

#HeaderPanel {
    .themeFont;
    .themeBackgroundColorGradient;
    .textFloatCenter;
    .themePadding;
    .themeHeaderBarBorder;
    .themeMarginBottom;
    .themeBoxShadow;
}

#HeaderPanel.rf-p {
}

/* --------------------------- Ticker -------------------------------*/
/* Der Container für den Ticker 
 * setzt den Außenabstand und die 
 * Ausrichtung des Ticker-Labels 
 * und des Tickers
 */
#TickerBlock {
    .textFloatCenter;
    .nullMargin;
    .nullPadding;
}

/* Label für den Ticker */
.tickerLabel {
    clear: both;
    .themeTextLabel;
    margin-bottom: 4px;
    width: 99%;
}

/*  der Ticker selbst */
.tickerOutput {
    clear: both; 
    .themeFontBold;
    .themeColor;
    font-size: @themeFontSize *2;
    .textFloatCenter;
    .themeBackgroundBlack;
    .nullMargin;
    .nullPadding;
    padding: 2px 0;
    border: 3px inset black;
    .themeBorderRadius;
}

/* ----------------------- CAtegirie, System und Planeten-Auswahl -----------*/
/* Der Container für die System- und 
 * Planeten-Listen  bzw die Switch-Buttons 
 */
#SwitchBlock {
    .textFloatCenter;
    .nullMargin;
    .nullPadding;
    border-collapse: separate;
}

.switchLabel {
    .themeFont;
    font-size: @themeFontSize * 1.5;
    .textFloatRight;
    padding-top: 5px;
    text-shadow: 4px 4px 3px black;
}

#SwitchBlock input *{
    font-size: @themeFontSize;
    color: blue;
    background-color: gray;
    padding: 0;
    margin: 0;
}
/* Der Container für die Sprachauswahl*/
#LanguageBlock {
    .textFloatRight;
    .nullMargin;
    .nullPadding;
}

.languagelabel {
    .textFloatRight;
    .themeTextLabel;
    .textFloatCenter;
    margin-bottom: 4px;
}

.languagetoggle {
    clear: both;
    .textFloatCenter;
    .themeBackgroundBlack;
    .themeColor;
    border: 3px inset black;
    .nullMargin;
    .nullPadding;
    border-radius: 2em;
}

.languagetoogle a {
    .nullMargin;
    padding: 0 2px;
}

img.langugeflag {
    margin: 9 -1px;
}


