<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:dd="http://java.sun.com/jsf/composite/dd">

    <div class="col-lg-12">
        <a4j:outputPanel>
            <div class="creditbar_image col-lg-1">
                <rich:tooltip layout="block">
                    <dd:outputText value="#{MLBean.lang.sites.status.creditbar.label.credits}"/>
                </rich:tooltip>
            </div>
        </a4j:outputPanel>
        <div>
            <dd:formatValue styleClass="statusbar_label col-lg-8" 
                            value="#{StatusBean.creditClazz.globalCredits}" 
                            valueType="long" 
                            tooltip="true">
                <dd:outputText value="#{MLBean.lang.sites.status.creditbar.label.creditstotal}"/>
            </dd:formatValue>
        </div>

        <div style="margin: 0; padding: 0; color: green; border: 1px dotted green;">
            <dd:formatValue styleClass="statusbar_label col-lg-3"
                            value="#{StatusBean.creditClazz.planetCredits}" 
                            valueType="long" 
                            tooltip="true">
                <dd:outputText value="#{MLBean.lang.sites.status.creditbar.label.incomeplanet}"/>
            </dd:formatValue>
        </div>
    </div>

</ui:composition>

