<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:dd="http://java.sun.com/jsf/composite/dd">


    <div>
        <a4j:outputPanel>
            <div class="developmentbar_image">
                <rich:tooltip  layout="block">
                    <dd:outputText value="#{MLBean.lang.sites.status.developementbar.label.developementpoints}"/>
                </rich:tooltip>
            </div>
        </a4j:outputPanel>
        <div>
            <dd:formatValue styleClass="statusbar_label" value="#{StatusBean.developementClazz.globalDevelopement}" valueType="long" tooltip="true">
                <dd:outputText value="#{MLBean.lang.sites.status.developementbar.label.developementpointstotal}"/>
            </dd:formatValue>
        </div>

        <div>
            <dd:formatValue styleClass="statusbar_label" value="#{StatusBean.developementClazz.planetDevelopement}" valueType="long" tooltip="true">
                <dd:outputText value="#{MLBean.lang.sites.status.developementbar.label.developementpointsplanet}"/>
            </dd:formatValue>
        </div>
    </div>
</ui:composition>

