<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:rich="http://richfaces.org/rich">

    <div class="row">
        <div class="col-lg-2 energy_icon">
            <dd:graphicImage name="#{StatusBean.energyClazz.icon}" tooltip="true">
                <dd:outputText value="#{MLBean.lang.sites.status.energybar.label.energy}"/>
            </dd:graphicImage>
        </div>
        <div class="col-lg-10">
            <div class="row statusbar_label">
                <a4j:outputPanel>
                    <div class="energybar_bar_production_now col-lg-12" style="z-index: #{StatusBean.energyClazz.productionNowZIndex}; width:#{StatusBean.energyClazz.barLengthProductionNow}px;">
                        <rich:tooltip layout="block">
                            <h:panelGrid columns="2" cellpadding="0" cellspacing="0">
                                <dd:outputText value="#{MLBean.lang.sites.status.energybar.label.productionnow}"/>
                                <dd:formatValue value="#{StatusBean.energyClazz.productionNow}" valueType="long" />
                                <dd:outputText value="#{MLBean.lang.sites.status.energybar.label.productionlater}"/>
                                <dd:formatValue value="#{StatusBean.energyClazz.productionLater}" valueType="long" />
                            </h:panelGrid>
                        </rich:tooltip>
                    </div>
                </a4j:outputPanel>
            </div>
            <div class="row statusbar_label">
                <a4j:outputPanel>
                    <div class="energybar_bar_production_later col-lg-12" style="z-index: 1; width:#{StatusBean.energyClazz.barLengthProductionLater}px;">
                        <rich:tooltip  layout="block">
                            <h:panelGrid columns="2" cellpadding="0" cellspacing="0">
                                <dd:outputText value="#{MLBean.lang.sites.status.energybar.label.productionnow}"/>
                                <dd:formatValue value="#{StatusBean.energyClazz.productionNow}" valueType="long" />
                                <dd:outputText value="#{MLBean.lang.sites.status.energybar.label.productionlater}"/>
                                <dd:formatValue value="#{StatusBean.energyClazz.productionLater}" valueType="long" />
                            </h:panelGrid>
                        </rich:tooltip>
                    </div>
                </a4j:outputPanel>
            </div>
            <div class="row statusbar_label">
                <a4j:outputPanel>
                    <div class="energybar_bar_consumption_now col-lg-12" style="z-index: #{StatusBean.energyClazz.consumptionNowZIndex}; width:#{StatusBean.energyClazz.barLengthConsumptionNow}px;">
                        <rich:tooltip  layout="block">
                            <h:panelGrid columns="2" cellpadding="0" cellspacing="0">
                                <dd:outputText value="#{MLBean.lang.sites.status.energybar.label.consumptionnow}"/>
                                <dd:formatValue value="#{StatusBean.energyClazz.consumptionNow}" valueType="long"/>
                                <dd:outputText value="#{MLBean.lang.sites.status.energybar.label.consumptionlater}"/>
                                <dd:formatValue value="#{StatusBean.energyClazz.consumptionLater}" valueType="long"/>
                            </h:panelGrid>
                        </rich:tooltip>
                    </div>
                </a4j:outputPanel>
            </div>
            <div class="row statusbar_label">
                <a4j:outputPanel>
                    <div class="energybar_bar_consumption_later col-lg-12" style="z-index: 1; width:#{StatusBean.energyClazz.barLengthConsumptionLater}px;">
                        <rich:tooltip  layout="block">
                            <h:panelGrid  columns="2" cellpadding="0" cellspacing="0">
                                <dd:outputText value="#{MLBean.lang.sites.status.energybar.label.consumptionnow}"/>
                                <dd:formatValue value="#{StatusBean.energyClazz.consumptionNow}" valueType="long"/>
                                <dd:outputText value="#{MLBean.lang.sites.status.energybar.label.consumptionlater}"/>
                                <dd:formatValue value="#{StatusBean.energyClazz.consumptionLater}" valueType="long"/>
                            </h:panelGrid>
                        </rich:tooltip>
                    </div>
                </a4j:outputPanel>
            </div>
        </div>
    </div>
</ui:composition>

