<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:dd="http://java.sun.com/jsf/composite/dd">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <dd:status_tooltip
                resourceId="#{resourceId}"
                resourceImage="foodbar_image"
                showTransport="#{StatusBean.foodClazz.showTransport}"
                showTrade="#{StatusBean.foodClazz.showTrade}"
                showProduction="#{StatusBean.foodClazz.showProduction}"
                resourceName="#{MLBean.lang.sites.status.foodbar.label.food}"
                production="#{StatusBean.foodClazz.production}"
                consumption="#{StatusBean.foodClazz.consumption}"
                tradeIncoming="#{StatusBean.foodClazz.tradeIncoming}"
                tradeOutgoing="#{StatusBean.foodClazz.tradeOutgoing}"
                transportIncoming="#{StatusBean.foodClazz.transportIncoming}"
                transportOutgoing="#{StatusBean.foodClazz.transportOutgoing}"/>

        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 statusbar_label">
                <a4j:outputPanel>
                    <div class="foodbar_bar_production" style="width:#{StatusBean.foodClazz.productionWidth}; z-index: #{StatusBean.foodClazz.productionZIndex}">
                        <rich:tooltip layout="block">
                            <h:panelGrid columns="2" cellpadding="0" cellspacing="0">
                                <dd:outputText value="#{MLBean.lang.sites.status.foodbar.label.production}"/>
                                <dd:formatValue value="#{StatusBean.foodClazz.production}" valueType="long"/>
                                <dd:outputText value="#{MLBean.lang.sites.status.foodbar.label.consumption}"/>
                                <dd:formatValue value="#{StatusBean.foodClazz.consumption}" valueType="long"/>
                            </h:panelGrid>
                        </rich:tooltip>
                    </div>
                </a4j:outputPanel>
            </div>
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 statusbar_label">
                <a4j:outputPanel>
                    <div class="foodbar_bar_consumption" style="width:#{StatusBean.foodClazz.consumptionWidth}; z-index: #{StatusBean.foodClazz.consumptionZIndex}">
                        <rich:tooltip layout="block">
                            <h:panelGrid columns="2" cellpadding="0" cellspacing="0">
                                <dd:outputText value="#{MLBean.lang.sites.status.foodbar.label.production}"/>
                                <dd:formatValue value="#{StatusBean.foodClazz.production}" valueType="long"/>
                                <dd:outputText value="#{MLBean.lang.sites.status.foodbar.label.consumption}"/>
                                <dd:formatValue value="#{StatusBean.foodClazz.consumption}" valueType="long"/>
                            </h:panelGrid>
                        </rich:tooltip>
                    </div>
                </a4j:outputPanel>
            </div>
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 statusbar_label">
                <a4j:outputPanel>
                    <div class="foodbar_bar_stock" style="width:#{StatusBean.foodClazz.stockWidth}; background-color: red;">
                        <rich:tooltip layout="block">
                            <dd:outputText value="statusbar_pop_storeusage" params="#{FormatBean.format(StatusBean.foodClazz.stockPercentage, 'double', '2', 'normal', 'false')}%,#{FormatBean.format(StatusBean.foodClazz.stockMax, 'long', '0', 'normal', 'false')}"/>
                        </rich:tooltip>
                    </div>
                </a4j:outputPanel>
            </div>
            <div class="row statusbar_label col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="">
                    <dd:status_stock width="#{StatusBean.foodClazz.stockWidth}"
                                     change="#{StatusBean.foodClazz.production - StatusBean.foodClazz.consumption +
                                               StatusBean.foodClazz.tradeIncoming - StatusBean.foodClazz.tradeOutgoing +
                                               StatusBean.foodClazz.transportIncoming - StatusBean.foodClazz.transportOutgoing }"
                                     maxStock="#{FormatBean.format(StatusBean.foodClazz.stockMax, 'long', '0', 'normal', 'false')}"
                                     percentage="#{FormatBean.format(StatusBean.foodClazz.stockPercentage, 'double', '2', 'normal', 'false')}%">
                    </dd:status_stock>
                </div>
            </div>
        </div>
    </div>
</ui:composition>

