<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">

    <div class="row">
        <c:if test="${StatusBean.populationClazz.morale ge 100}">
            <a4j:outputPanel>
                <div class="populationbar_morale_image_verygood col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <rich:tooltip layout="block">
                        <dd:outputText value="#{MLBean.lang.sites.status.populationbar.label.morale}"/>
                        <h:outputText value=": " escape="false"/>
                        <dd:formatValue value="#{StatusBean.populationClazz.morale}" valueType="long"/>
                    </rich:tooltip>
                </div>
            </a4j:outputPanel>
        </c:if>
        <c:if test="${(StatusBean.populationClazz.morale ge 75) and (StatusBean.populationClazz.morale le 100)}">
            <div class="populationbar_morale_image_good col-xs-2 col-sm-2 col-md-2 col-lg-2"/>
        </c:if>
        <c:if test="${(StatusBean.populationClazz.morale ge 50) and (StatusBean.populationClazz.morale le 75)}">
            <div class="populationbar_morale_image_equal col-xs-2 col-sm-2 col-md-2 col-lg-2"/>
        </c:if>
        <c:if test="${StatusBean.populationClazz.morale le 50}">
            <a4j:outputPanel>
                <div class="populationbar_morale_image_bad col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <rich:tooltip layout="block">
                        <dd:outputText value="#{MLBean.lang.sites.status.populationbar.label.morale}"/>
                        <h:outputText value=": " escape="false"/>
                        <dd:formatValue value="#{StatusBean.populationClazz.morale}" valueType="long"/>
                    </rich:tooltip>
                </div>
            </a4j:outputPanel>
        </c:if>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 statusbar_label">
                    <dd:formatValue value="#{StatusBean.populationClazz.population}" valueType="long" tooltip="true">
                        <dd:outputText value="#{MLBean.lang.sites.status.populationbar.label.population}"/>
                    </dd:formatValue>
                </div>
            </div>
            <div class="row">
            <c:if test="${StatusBean.populationClazz.populationChange ge 0}">
                <div class="populationbar_growth_plus col-xs-2 col-sm-2 col-md-2 col-lg-2"/>
            </c:if>
            <c:if test="${StatusBean.populationClazz.populationChange lt 0}">
                <div class="populationbar_growth_minus col-xs-2 col-sm-2 col-md-2 col-lg-2"/>
            </c:if>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 statusbar_label">
                    <dd:formatValue value="#{StatusBean.populationClazz.populationChange}" valueType="long" tooltip="true">
                        <h:panelGrid styleClass="tooltip_text" columns="2" cellpadding="0" cellspacing="0">
                            <dd:outputText value="#{MLBean.lang.sites.status.populationbar.label.growh}"/>
                            <dd:formatValue value="#{StatusBean.populationClazz.growthPopulation}" valueType="long"/>
                            <dd:outputText value="#{MLBean.lang.sites.status.populationbar.label.migration}"/>
                            <dd:formatValue value="#{StatusBean.populationClazz.migration}" valueType="long"/>
                        </h:panelGrid>
                    </dd:formatValue>
                </div>
            </div>
        </div>
    </div>


</ui:composition>

