<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <div>

        <dd:status_tooltip
            resourceId="#{resourceId}"
            resourceImage="#{StatusBean.resourceClazz.getRessourceBarEntry(resourceId).getStyleClazz()}"
            showTransport="#{StatusBean.resourceClazz.getRessourceBarEntry(resourceId).showTransport}"
            showTrade="#{StatusBean.resourceClazz.getRessourceBarEntry(resourceId).showTrade}"
            showProduction="#{StatusBean.resourceClazz.getRessourceBarEntry(resourceId).showProduction}"
            resourceName="#{StatusBean.resourceClazz.getRessourceBarEntry(resourceId).resourceName}"
            production="#{StatusBean.resourceClazz.getRessourceBarEntry(resourceId).production}"
            consumption="#{StatusBean.resourceClazz.getRessourceBarEntry(resourceId).consumption}"
            tradeIncoming="#{StatusBean.resourceClazz.getRessourceBarEntry(resourceId).tradeIncoming}"
            tradeOutgoing="#{StatusBean.resourceClazz.getRessourceBarEntry(resourceId).tradeOutgoing}"
            transportIncoming="#{StatusBean.resourceClazz.getRessourceBarEntry(resourceId).transportIncoming}"
            transportOutgoing="#{StatusBean.resourceClazz.getRessourceBarEntry(resourceId).transportOutgoing}"/>

        <div>
            <dd:formatValue value="#{StatusBean.resourceClazz.getRessourceBarEntry(resourceId).ressStock}" valueType="long"/>
        </div>
    </div>

</ui:composition>

