<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:panelGrid cellpadding="0" cellspacing="0" columns="1">
        <c:forEach items="#{StatusBean.resourceClazz.rawResourceIds}" var="resourceId" >
            <h:column>
                <c:if test="#{StatusBean.resourceClazz.getRessourceBarEntry(resourceId).showResource}">
                    <ui:include src="rawResourceBarEntry.xhtml">
                        <ui:param name="resourceId" value="#{resourceId}"/>
                    </ui:include>
                </c:if>
            </h:column>
        </c:forEach>
    </h:panelGrid>

</ui:composition>

