<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-12">
            <h:panelGrid cellpadding="0" cellspacing="0" columns="1">
                <c:forEach items="#{StatusBean.resourceClazz.resourceIds}" var="resourceId" >
                    <h:column>
                        <c:if test="#{StatusBean.resourceClazz.getRessourceBarEntry(resourceId).showResource}">
                            <ui:include src="resourceBarEntry.xhtml">
                                <ui:param name="resourceId" value="#{resourceId}"/>
                            </ui:include>
                        </c:if>
                    </h:column>
                </c:forEach>
            </h:panelGrid>
        </div>
    </div>
</ui:composition>
