<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:dd="http://java.sun.com/jsf/composite/dd" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:panelGroup id="StatusDevelop" 
                  layout="block"
                  styleClass="col-xs-20 col-sm-20 col-md-20 
                  col-lg-20 textFloatRight"
                  style="padding-bottom: 5px;">

        <a4j:outputPanel id="DevelopToolTipPanel"
                         layout="block">
            <rich:tooltip id="DevelopToolTip" 
                          layout="block">
                <dd:outputText id="DevelopToolTipText" 
                               value="#{MLBean.lang.sites.status.developementbar.label.developementpoints}" />
            </rich:tooltip>
        </a4j:outputPanel>

        <h:panelGroup id="DevelopIcon" 
                      styleClass="col-lg-5 row">
            <dd:graphicImage name="#{StatusBean.developementClazz.icon}" 
                             tooltip="true">
                <dd:outputText value="#{MLBean.lang.sites.status.developementbar.label.developementpoints}" />
            </dd:graphicImage>
        </h:panelGroup>

        <h:panelGroup id="DevelopValuesPanel" 
                      styleClass="col-lg-15" 
                      style="float:right">
            <dd:formatValue id="DevelopGlobal" 
                            styleClass="col-lg-20 row statusDigits" 
                            value="#{StatusBean.developementClazz.globalDevelopement}" 
                            valueType="long" 
                            tooltip="true">
                <dd:outputText id="DevelopTotal" 
                               styleClass="col-lg-20 row themeBackgroundBlack textFloatRight " 
                               value="#{MLBean.lang.sites.status.developementbar.label.developementpointstotal}" />
            </dd:formatValue>
            <dd:formatValue id="DevelopPlanet"
                            styleClass="col-lg-20 row statusDigits" 
                            value="#{StatusBean.developementClazz.planetDevelopement}" 
                            valueType="long" 
                            tooltip="true">
                <dd:outputText id="DevelopPlanetPoints"
                               styleClass="col-lg-20 row themeBackgroundBlack textFloatRight " 
                               value="#{MLBean.lang.sites.status.developementbar.label.developementpointsplanet}" />
            </dd:formatValue>
        </h:panelGroup>
    </h:panelGroup>
</ui:composition>

