<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:dd="http://java.sun.com/jsf/composite/dd" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:panelGroup id="StatusCredit" 
                  layout="block"
                  styleClass="col-xs-20 col-sm-20 col-md-20 
                  col-lg-20 textFloatRight"
                  style="padding-bottom: 5px;">

        <a4j:outputPanel id="CreditTooltipPanel"
                         layout="block">
            <rich:tooltip id="CreditTooltip" 
                          layout="block">
                <dd:outputText id="CreditTooltipText" 
                              value="#{MLBean.lang.sites.status.creditbar.label.credits}" />
            </rich:tooltip>
        </a4j:outputPanel>

        <h:panelGroup id="GalaxIcon" 
                      styleClass="col-lg-5 row">
            <dd:graphicImage name="#{StatusBean.creditClazz.icon}" 
                             tooltip="true">
                <dd:outputText value="#{MLBean.lang.sites.status.creditbar.label.credits}" />
            </dd:graphicImage>
        </h:panelGroup>

        <h:panelGroup styleClass="col-lg-15 textFloatRight">
            <dd:formatValue id="CreditGlobal" 
                            styleClass="col-lg-20 row statusDigits" 
                            value="#{StatusBean.creditClazz.globalCredits}" 
                            valueType="double" 
                            tooltip="true">
                <dd:outputText id="CreditTotal" 
                              styleClass="col-lg-20 row themeBackgroundBlack textFloatRight" 
                              value="#{MLBean.lang.sites.status.creditbar.label.creditstotal}" />
            </dd:formatValue>

            <dd:formatValue id="CreditPlanet" 
                            styleClass="col-lg-20 row statusDigits" 
                            value="#{StatusBean.creditClazz.planetCredits}" 
                            valueType="long" 
                            tooltip="true">
                <dd:outputText id="CreditIncomePlanet" 
                              styleClass="col-lg-20 row themeBackgroundBlack textFloatRight " 
                              value="#{MLBean.lang.sites.status.creditbar.label.incomeplanet}"/>
            </dd:formatValue>
        </h:panelGroup>

    </h:panelGroup>

</ui:composition>

