<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:dd="http://java.sun.com/jsf/composite/dd" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:panelGroup id="StatusEnergy" 
                  layout="block"
                  styleClass="col-xs-20 col-sm-20 col-md-20 col-lg-20 textFloatRight"
                  style="padding-bottom: 5px;">

        <a4j:outputPanel id="EnergyTooltipPanel"
                         layout="block">
            <rich:tooltip id="EnergyTooltip" 
                          layout="block">
                <dd:outputText id="EnergyTooltipText" 
                               value="#{MLBean.lang.sites.status.energybar.label.energy}" />
            </rich:tooltip>
        </a4j:outputPanel>

        <h:panelGroup id="EnergyIconGroup" 
                      styleClass="col-lg-5 row">
            <dd:graphicImage id="EnergyIcon" name="#{StatusBean.energyClazz.icon}" 
                             tooltip="true">
                <dd:outputText value="#{MLBean.lang.sites.status.energybar.label.energy}" />
            </dd:graphicImage>
        </h:panelGroup>

        <h:panelGroup styleClass="col-lg-15 textFloatRight">
            <dd:outputText value="#{MLBean.lang.sites.status.energybar.label.productionnow}"/>
            <dd:formatValue value="#{StatusBean.energyClazz.productionNow}" valueType="long" />
            <dd:outputText value="#{MLBean.lang.sites.status.energybar.label.productionlater}"/>
            <dd:formatValue value="#{StatusBean.energyClazz.productionLater}" valueType="long" />

            <dd:formatValue id="EnergyPlanet" 
                            styleClass="col-lg-20 row statusDigits" 
                            value="#{StatusBean.creditClazz.planetCredits}" 
                            valueType="long" 
                            tooltip="true">
                <dd:outputText id="EmergyIncomePlanet" 
                               styleClass="col-lg-20 row themeBackgroundBlack textFloatRight " 
                               value="#{MLBean.lang.sites.status.creditbar.label.incomeplanet}"/>
            </dd:formatValue>
        </h:panelGroup>

    </h:panelGroup>

</ui:composition>

