<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich">

    <rich:panel styleClass="spacer_label_position">
        
        <ui:insert id="SpacerContent" name="spacerContent">
            <h:outputText value="#{MLBean.getML(MLBean.lang.sites.status.creditbar.label.credits)}"/>
        </ui:insert>
        
    </rich:panel>
    
</ui:composition>

