<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    <rich:tooltip id="tooltip_#{resourceId}" followMouse="true" layout="block">

        <h:panelGrid>
            <h:panelGrid style="text-align: center; background-color:#DDDDDD; width:100%">
                <dd:outputText style="font-size:9pt; font-weight: bolder; color:black; text-align: left; width:100%; " value="#{resourceName}"/>
            </h:panelGrid>
            <h:panelGrid styleClass="tooltip_text_resourceentry" columns="4" cellpadding="0" rules="all" cellspacing="2">
                <h:outputText styleClass="tooltip_label" value=" "/>
                <dd:outputText styleClass="tooltip_label" value="statusbar_pop_production"/>
                <dd:outputText styleClass="tooltip_label" value="statusbar_pop_usage"/>
                <dd:outputText styleClass="tooltip_label" value="statusbar_pop_total"/>
                <c:if test="${showProduction}">
                    <dd:outputText styleClass="tooltip_label" value="statusbar_pop_planet"/>
                    <h:panelGrid style="background-color: #{StatusBean.getBgColor(production)};" styleClass="tooltip_cell" cellpadding="0" cellspacing="0">
                        <dd:formatValue styleClass="tooltip_value" value="#{production}" valueType="long"/>
                    </h:panelGrid>
                    <h:panelGrid style="background-color: #{StatusBean.getBgColor(consumption)};" styleClass="tooltip_cell" cellpadding="0" cellspacing="0">
                        <dd:formatValue styleClass="tooltip_value" value="#{consumption}" valueType="long"/>
                    </h:panelGrid>
                    <h:panelGrid style="background-color: #{StatusBean.getBgColor(production - consumption)};" styleClass="tooltip_cell" cellpadding="0" cellspacing="0">
                        <dd:formatValue styleClass="tooltip_value" value="#{production - consumption}" valueType="long"/>
                    </h:panelGrid>
                </c:if>
                <c:if test="${showTransport}">
                    <dd:outputText styleClass="tooltip_label" value="statusbar_pop_trade"/>
                    <h:panelGrid style="background-color: #{StatusBean.getBgColor(tradeIncoming)};" styleClass="tooltip_cell" cellpadding="0" cellspacing="0">
                        <dd:formatValue styleClass="tooltip_value" value="#{tradeIncoming}" valueType="long"/>
                    </h:panelGrid>
                    <h:panelGrid style="background-color: #{StatusBean.getBgColor(tradeOutgoing)};" styleClass="tooltip_cell" cellpadding="0" cellspacing="0">
                        <dd:formatValue styleClass="tooltip_value" value="#{tradeOutgoing}" valueType="long"/>
                    </h:panelGrid>
                    <h:panelGrid style="background-color: #{StatusBean.getBgColor(tradeIncoming - tradeOutgoing)};" styleClass="tooltip_cell" cellpadding="0" cellspacing="0">
                        <dd:formatValue styleClass="tooltip_value" value="#{tradeIncoming - tradeOutgoing}" valueType="long"/>
                    </h:panelGrid>
                </c:if>
                <c:if test="${showTransport}">
                    <dd:outputText styleClass="tooltip_label" value="statusbar_pop_transport"/>
                    <h:panelGrid style="background-color: #{StatusBean.getBgColor(transportIncoming)};" styleClass="tooltip_cell" cellpadding="0" cellspacing="0">
                        <dd:formatValue styleClass="tooltip_value" value="#{transportIncoming}" valueType="long"/>
                    </h:panelGrid>
                    <h:panelGrid style="background-color: #{StatusBean.getBgColor(transportOutgoing)};" styleClass="tooltip_cell" cellpadding="0" cellspacing="0">
                        <dd:formatValue styleClass="tooltip_value" value="#{transportOutgoing}" valueType="long"/>
                    </h:panelGrid>
                    <h:panelGrid style="background-color: #{StatusBean.getBgColor(transportIncoming - transportOutgoing)};" styleClass="tooltip_cell" cellpadding="0" cellspacing="0">
                        <dd:formatValue styleClass="tooltip_value" value="#{transportIncoming - transportOutgoing}" valueType="long"/>
                    </h:panelGrid>
                </c:if>
                <dd:outputText styleClass="tooltip_label" value="statusbar_pop_total"/>
                <h:panelGrid style="background-color: #{StatusBean.getBgColor(production + tradeIncoming + transportIncoming)};" styleClass="tooltip_cell" cellpadding="0" cellspacing="0">
                    <dd:formatValue styleClass="tooltip_value" value="#{production + tradeIncoming + transportIncoming}" valueType="long"/>
                </h:panelGrid>
                <h:panelGrid style="background-color: #{StatusBean.getBgColor(consumption + tradeOutgoing + transportOutgoing)};" styleClass="tooltip_cell" cellpadding="0" cellspacing="0">
                    <dd:formatValue styleClass="tooltip_value" value="#{consumption + tradeOutgoing + transportOutgoing}" valueType="long"/>
                </h:panelGrid>
                <h:panelGrid style="background-color: #{StatusBean.getBgColor(production - consumption + tradeIncoming - tradeOutgoing + transportIncoming - transportOutgoing)};" styleClass="tooltip_cell" cellpadding="0" cellspacing="0">
                    <dd:formatValue styleClass="tooltip_value" value="#{production - consumption + tradeIncoming - tradeOutgoing + transportIncoming - transportOutgoing}" valueType="long"/>
                </h:panelGrid>
            </h:panelGrid>
        </h:panelGrid>
    </rich:tooltip>
</ui:composition>

