<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:dd="http://java.sun.com/jsf/composite/dd"
    xmlns:rich="http://richfaces.org/rich">

    <h:panelGrid columns="2" columnClasses="info_image, info_text">
        <h:graphicImage library="basic" name="images/darkdestiny.gif" />
        <h:outputText escape="false" value="#{MLBean.getMLFromPropertiesFile('Information', 'text_info')}"/>
    </h:panelGrid>
    <br/>
    <br/>
    <h:panelGrid columns="2" headerClass="info_header" columnClasses="info_text, info_image">
        <f:facet name="header">
            <h:outputText value="#{MLBean.getMLFromPropertiesFile('Information', 'text_starting')}"/>
        </f:facet>

        <h:panelGrid columns="2">
            <h:panelGrid style="width:350px;">
                <f:facet name="header" class="marginCenter">
                    <h:outputText value="#{MLBean.getMLFromPropertiesFile('Information', 'text_starting_build')}"/>
                </f:facet>
                <h:outputText escape="false" value="#{MLBean.getMLFromPropertiesFile('Information', 'text_starting_build_text')}"/>

                <h:panelGrid columns="2" class="themeBackgroundColorBrighter80" style="margin: 0 auto;">
                    <h:graphicImage library="basic" name="images/icons/iron.jpg" />
                    <dd:outputText value="#{ML.lang.sites.information.lbl.iron}" />
                    <h:graphicImage library="basic" name="images/icons/steel.jpg" />
                    <dd:outputText value="#{ML.lang.sites.information.lbl.steel}" />
                    <h:graphicImage library="basic" name="images/icons/terkonit.jpg" />
                    <dd:outputText value="#{ML.lang.sites.information.lbl.terkonit}" />
                    <h:graphicImage library="basic" name="images/icons/ynke.jpg" />
                    <dd:outputText value="#{ML.lang.sites.information.lbl.ynkelonium}" />
                    <h:graphicImage library="basic" name="images/icons/howal.jpg" />
                    <dd:outputText value="#{ML.lang.sites.information.lbl.howalgonium}" />
                    <h:graphicImage library="basic" name="images/icons/embinium.jpg" />
                    <dd:outputText value="#{ML.lang.sites.information.lbl.embinium}" />
                </h:panelGrid>
            </h:panelGrid>
            <h:panelGrid>
                <f:facet name="header">
                    <h:outputText value="#{MLBean.getMLFromPropertiesFile('Information', 'text_starting_research')}"/>
                </f:facet>
                <h:outputText value="#{MLBean.getMLFromPropertiesFile('Information', 'text_starting_research_text_1')}"/>
                <BR/>
                <h:outputText style="font-size: 8pt;" value="#{MLBean.getMLFromPropertiesFile('Information', 'text_starting_research_text_2')}"/>
            </h:panelGrid>
        </h:panelGrid>

        <h:graphicImage library="basic" style="width:150px;" name="images/planet.png" />
    </h:panelGrid>
    <br/>
    <br/>
    <h:panelGrid columns="2" headerClass="info_header" columnClasses="info_image, info_text">
        <f:facet name="header">
            <h:outputText value="#{MLBean.getMLFromPropertiesFile('Information', 'text_colonisation_expansion')}"/>
        </f:facet>

        <h:outputLink value="../../resources/basic/images/design.png" rel="lightbox[asdf]" title="Design">
            <h:graphicImage library="basic" styleClass="info_graphicimage" name="images/design.png" />
        </h:outputLink>
        <h:outputText value="#{MLBean.getMLFromPropertiesFile('Information', 'text_colonisation_expansion_text')}"/>
    </h:panelGrid>
    <br/>
    <br/>
    <h:panelGrid columns="2" headerClass="info_header" columnClasses="info_text, info_image">
        <f:facet name="header">
            <h:outputText value="#{MLBean.getMLFromPropertiesFile('Information', 'text_starmap')}"/>            
        </f:facet>
        <h:outputText value="#{MLBean.getMLFromPropertiesFile('Information', 'text_starmap_text')}"/>
        <h:outputLink value="../../resources/basic/images/starmap.png" rel="lightbox[asdf]" title="Design">
            <h:graphicImage library="basic" styleClass="info_graphicimage" name="images/starmap.png" />
        </h:outputLink>
    </h:panelGrid>
    <br/>
    <br/>
    <h:panelGrid columns="2" headerClass="info_header" columnClasses="info_text">
        <f:facet name="header">
            <h:outputText value="#{MLBean.getMLFromPropertiesFile('Information', 'text_trade_transport')}"/>  
        </f:facet>
        <h:outputText value="#{MLBean.getMLFromPropertiesFile('Information', 'text_trade_transport_text')}"/>  
    </h:panelGrid>
    <br/>
    <br/>
    <h:panelGrid columns="2" headerClass="info_header" columnClasses="info_text, info_image">
        <f:facet name="header">
            <h:outputText value="#{MLBean.getMLFromPropertiesFile('Information', 'text_diplomacy')}"/>              
        </f:facet>
            <h:outputText value="#{MLBean.getMLFromPropertiesFile('Information', 'text_diplomacy_text')}"/>
        <h:outputLink value="../../resources/basic/images/starmap2.png" rel="lightbox[asdf]" title="Design">
            <h:graphicImage library="basic" styleClass="info_graphicimage" name="images/starmap2.png" />
        </h:outputLink>
    </h:panelGrid>
</ui:composition>