<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich">
<!-- statische Test-Tabelle zur Demonstration von Inhalten -->
    <table style="width: 100%; margin: 0em 0em; float: left; box-shadow: black 12px 12px 12px 12px; border-top-left-radius: 1em; border-top-right-radius: 1em;">
            <tr>
                <th colspan="7" class="base_color_gradient" style="padding: 4px; font-size: 1.2em; text-align: center; margin: 0; border-top-left-radius: 1em; border-top-right-radius: 1em;">Planet Planet #28758 (#28758)</th>
            </tr>
            <tr class="base_color_brighter_gradient" style="border: 1px solid #400000;">
                <td colspan="2"><img src="./resources/basic/pic/M/cb1.jpg" alt="planetpicture" /></td>
                <td colspan="5"><span style="text-decoration: underline; font-weight: bold; font-size:1.1em;">Allgemein</span><br />

                    Planet Typ: Eisplanet, keine Atmosphäre, lebensfeindlich<br />
Durchmesser 13.800 km<br />
Mittlere Temperatur: -71 °C<br />
<br />
<span style="text-decoration: underline; font-weight: bold; font-size:1.1em;">Spezifische Daten</span>
<br />
Bebaubare Fläche: 199 Mio. km² (3980 Bauplätze)<br />
Max. Bevölkerung: 130.000</td>
            </tr>
    </table>
</ui:composition>