#tickTimePositioner{position:relative; top:0px; left:0px; width:0px; height:0px; border:0px; z-index:1; background-repeat:no-repeat; }
#tickTimeLabel{position:absolute; top:30px; left:12px; width:100px; height:0px; border:0px; z-index:1; background-repeat:no-repeat; }
#tickTime{position:absolute; top:27px; left:86px; width:37px; height:0px; border:0px; z-index:1; background-repeat:no-repeat; }

.tickTimeBackground{position:fixed; left:0px;}
.header_background{margin: 0 auto; text-align: center;}
.header_spacer{margin: 0 auto; width:100%; background-color: black; text-align: center; background-image: url(../../resources/basic/pic/menu/headerSpacer.png); background-repeat: repeat-x}
.ltop{position:inherit; right:0px;}
.rtop{position:inherit; left:120px;}
.countdowninput .inputText{border: solid 2px #000000; text-align:right; color: #ffffff; background-color: #000000; font-size:11px; font-family:"Courier New"; font-weight:bold;}