

#menu {
    background-color: red;
    width:100px;
    left:0px;
    top:100px;
    height:100%;
    position:fixed;
}

#footer {
    background-color: green;
    height:100px;
    left:100px;
    right:100px;
    bottom:0px;
    position:fixed;
}

#header {
    background-color: blue;
    width:100%;
    height:100px;
    top:0px;
    left:0px;
    position:absolute;
}

#status {
    background-color: yellow;
    width:100px;
    height:100%;
    right:0px;
    top:100px;
    position:fixed;
}


#content {
    background-color: gray;
    left:100px;
    top:100px;
    bottom:100px;
    right:100px;
    position:fixed;
}