<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <rich:panel id="Timeline" styleClass="col-xs-20 col-sm-20 col-md-20 col-lg-20">
        This is the richface Timelinepanel
    </rich:panel>
</ui:composition>