<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:dd="http://java.sun.com/jsf/composite/dd">
    <h:head>

    </h:head>
    <h:body>
        <h:outputStylesheet library="basic"
                            name="css/sites/chat.css"/>
        <h:form>

            <h:panelGrid columns="1">
                <a4j:push id="pushJms" address="pushTopicsContext">
                    <a4j:ajax event="dataavailable" render="chat" />
                </a4j:push>
                <a4j:outputPanel id="chat">
                    <h:outputText escape="false" value="#{ChatBean.getMessagesAsTextAreaString('pushTopicsContext')}"/>
                    <h:inputText value="#{ChatBean.message}"/>
                </a4j:outputPanel>
                <a4j:commandButton action="#{ChatBean.sendMessage('pushTopicsContext')}" value="sendMessage"/>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>