<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:dd="http://java.sun.com/jsf/composite/dd">
    <h:head>

    </h:head>
    <h:body>
        <h:outputStylesheet library="basic"
                            name="css/sites/chat.css"/>
        <h:form>
            <rich:tabPanel switchType="ajax" id="tp" headerPosition="top">
                <a4j:repeat value="#{ChatBean.topics}" var="topic">
                    <rich:tab header="#{topic.topicName}">
                        <h:panelGrid columns="1">
                            <a4j:push address="chat">
                                <a4j:ajax event="dataavailable" render="chat" />
                            </a4j:push>
                            <a4j:outputPanel id="chat">
                                <h:outputText escape="false" value="#{ChatBean.getMessagesAsTextAreaString(topic.topicName)}"/>
                                <h:inputText value="#{ChatBean.message}"/>
                            </a4j:outputPanel>
                            <a4j:commandButton action="#{ChatBean.sendMessage(topic.topicAddress)}" value="Senden"/>
                            <h:panelGrid columns="#{ChatBean.colorSelect.size()}">
                                <c:forEach items="#{ChatBean.colorSelect}" var="color">
                                    <a4j:commandLink action="#{ChatBean.setColor(color.label)}">
                                        <div style="width:20px; height: 20px; background-color: #{color.label};"/>
                                    </a4j:commandLink>
                                </c:forEach>
                            </h:panelGrid>
                        </h:panelGrid>
                    </rich:tab>
                </a4j:repeat>
            </rich:tabPanel>
        </h:form>
    </h:body>
</html>