<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:dd="http://java.sun.com/jsf/composite/dd">
    <h:head>

    </h:head>
    <h:body>
        <h:form>

            <a4j:push id="pushJms" address="pushTopicsContext">
                <a4j:ajax event="dataavailable" render="uuid" />
            </a4j:push>
            <h:panelGrid columns="2">
                <h:outputLabel value="New UUID:" />
                <a4j:outputPanel id="uuid" layout="block">
                    #{pushBean.UUID}
                </a4j:outputPanel>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>