<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:dd="http://java.sun.com/jsf/composite/dd">
    <h:head>
    </h:head>
    <h:body>
        <h:outputText value="#{PushConfiguration.isPushEnabled()}"/>
        <h:form>
            <a4j:commandButton action="#{TopicsContextMessageProducer.sendMessage()}" value="sendMessage"/>
        </h:form>
    </h:body>
</html>

