@import "./../../less/bootstrap.less";
@import "bootstrap.less";
/*
.menu_link_hover {
    background: -webkit-gradient(linear, left top, left bottom, from(@theme_color - #151515), to(@theme_color + #151515));
    background: -moz-linear-gradient(top,  @theme_color - #151515,  @theme_color + #151515);
}

.theme-border 
.theme_border {
    border: 1px solid @color_black;
}

.header-border-radius {
    border-bottom-left-radius: (@theme_font-size * 1.5);
    border-bottom-right-radius: (@theme_font-size * 1.5);
}

.menubar-border {
    border-top-right-radius: (@theme_font-size * 1.5);
    border-bottom-right-radius: (@theme_font-size * 1.5);
}

.statusbar-border {
    border-top-left-radius: (@theme_font-size * 1.5);
    border-bottom-left-radius: (@theme_font-size * 1.5);
}

.theme box-model 
@theme_box-model: content-box;

.theme_box-shadow {
    box-shadow: (@theme_font-size* 1.2) (@theme_font-size * 1.2) (@theme_font-size * 1.2) @color_black;
}

.theme margin & .theme padding 
.theme_margin {
    margin: (@theme_font-size / 2);
}

.null_margin {
    margin: 0;
}
.theme_padding {
    padding: (@theme_font-size / 2)
}

.null_padding {
    padding: 0;
}

======= FONTS ======

@theme_font: Tahoma;
@theme_font-family: Tahoma;
@theme_font-fixed: monospace;
@theme_font-size: 12px;
@theme_font-color: antiquewhite;
@theme_text-align: center;
@theme_text-shadow: 3px 3px 2px #004040;

.theme_font {
    font-family: @theme_font;
    font-size: @theme_font-size;
    color: @theme_font-color;
    text-shadow: @theme_text-shadow;
}

.message_table{
    .theme_font;
}

table {
    table-layout: auto;
    .theme_border;
    .theme_box-shadow;
    background-color: transparent;
    empty-cells: show;
    border-collapse: collapse;
}

table > thead > td {
    font-size: (@theme_font-size + 0.2em);
    font-weight: bold;
    text-align: center;
    color: @theme_font-color;
    padding: 0.2em;
}

table > tbody > td {
    font-size: (@theme_font-size);
    font-weight: normal;
    text-align:  auto;
    color: @theme_font-color;
    padding: 0.2em;
}



======= Link ======


.theme_link {
    a {
        color: @link_color;
    }
    a:visited {
        color: @link_visited_color;
    }
    a:hover {
        color: @link_hover-color;
    }
}

.sized_font_text {
    @media (max-width: @screen-xs) {
        font-size: 0.7em;
    }
    @media (max-width: @screen-sm) {
        font-size: 0.8em;
    }
    @media (max-width: @screen-md) {
        font-size: 0.9em;
    }
    @media (max-width: @screen-lg) {
        font-size: 1em;
    }
}

.center {
    margin: 0 auto;
}

.text-float-left {
    float: left;
    text-align: left;
    margin: 0;
    padding: 0;
}

.text-float-right {
    float: right;
    text-align: right;
    margin: 0;
    padding: 0;
}

.text-float-center {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.no-space-box {
    margin: 0;
}

span {
    margin: 0;
    padding: 0;
}

 ===== Layer-Index ===== 

.above {
    z-index: 50;
}

.on-top {
    z-index: 100;
}

.down {
    z-index: 10;
}

.canvas {
    z-index: 1;
}*/