@import "bootstrap.less";

/*#Content {
    .sized_font_text;
    border: 1px dotted white;
}

#Content_Container {
    margin: 0;
}

#Content_row {

}

#Content_Message_Box {
    box-shadow: 1em 1em 1em #000000;
}*/