/** Datai globalVariables.less                                        *
  * Deklaration globaler Variablen                                    *
  *                                                                   *
  * erstellt am: 18.08.2014                                           *
  *       Autor: Nimphonost ;)                                        *
  */

/*  ========== Farben ==============================================  *
 *                                                                    *
 * Variablen-Name          Farb-Name        rrggbb-Wert               *
 * theme_color:            dunkles rot      #400000                   *
 * theme_color_brighter    mittleres rot    #632323                   *
 * color_black             black            #000000                   *
 * link_color              goldenrod        #daa520                   *
 * link_hover_color        silver           #0c0c0c                   *
 */
@theme_color: #400000;
@theme_color_brighter: @theme_color + #232323;

@color_black: #000000;
@color_black_20p: fade(@color_black, 20%);

@theme_color_brighter_20: fade(@theme_color_brighter, 20%);
@theme_color_brighter_80: fade(@theme_color_brighter, 80%);


@link_color: goldenrod;
@link_visited_color: @link_color;
@link_hover-color: silver;


/*  ========== Umrandungen =========================================  */
@theme_border-radius: (@theme_font-size * 1.5);
