@import "bootstrap.less";

/** Diese Datei dient dazu, manche less-Originalwerte zu überschreiben.      */

// Die Anzahl der 12 Spalten wird mit praktikapleren 16 Spalten überschrieben //
// Eine gerade Zahl muß gewählt werden, damit die Inhalte besser ineinander 
// fließen

@SpaltenAnzahl: 20;

@SpaltenAbstand: (@themeFontSize / 2);


// Der richtige! Einsatz von gradient als background -> nämlich background-image. Sonst 
// ignorieren das einige Browser und versiuchen sich ihren eigenen Reim drauf zu machen, 
// indem sie in den (M$-)Quirks-Mod schalten.
.horizontal(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
    background-image: -webkit-linear-gradient(left, color-stop(@start-color @start-percent), color-stop(@end-color @end-percent)); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(left, @start-color @start-percent, @end-color @end-percent); // Opera 12
    background-image: linear-gradient(to right, @start-color @start-percent, @end-color @end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color))); // IE9 and down
  }
