@import "bootstrap.less";


html {
    .themeFontSize;
}

body {
    .themeFont;
    .themeColor;
    .themeBackgroundColor;
    .nullMargin;
    .nullPadding;
    .noBorder;
}

:before, :after {
    box-sizing: border-box;
}

*.rf-p, *rf-p-b, *.rf-p-hdr {
    .nullMargin;
    .nullPadding;
    .noBorder;
}

