@import "bootstrap.less";
@import "richfacesClasses.less";

/** 
  * die default-Werte für die Themes für den html body-Container. 
  * Dieser Contaainer bestimmt den Hintergrund, die Art des 
  * Seitenaufbaus und die Geometrie des Hintergrund-Bilds
  * todo: Variablen verwenden
  */

body#Theme {
    .themeFont;
    .themeLink;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("#{resource['basic/pic:bg3.jpg']}");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .themeBackgroundBlack;
    .themeBoxModel;
    .nullMargin;
    .nullPadding;
    background-clip: content-box;
}

/** 
  * der Top-Level-Container in den alle
  * Seitenelemente eingehängt werden.
  * todo: Variablen verwenden
  */
#ThemePanel {
    top:0;
    left:0;
    right:0;
    bottom:0;
    font-size: 10px;
    font-family: Tahoma;
    line-height: normal;
    color: antiquewhite;
    background-color: transparent;
    .themeBoxModel;
    .nullMargin;
    .nullPadding;
    overflow-x: hidden;
}
   
#ThemePanel_body {
    margin: 0;
    padding: 0;
}

#MenuPanel {
    .themeFont;
    .textFloatCenter;
    .themeBackgroundTransparent;
    .themeMarginBottom;
    .themePadding;
    .themeBoxShadow;
}

#MenuBar {
    .themeFont;
    .themeBackgroundColorGradient;
    .themeBoxShadow;
    .themePadding;
}
