@import "constants";

/** globale richfaces-Styles. Spezielle Klassen der einzelnen sites   *
  * sind in den zugehörigen richfaces[Name] definiert, da manche der  *
  * Klassen mehrmals in verschiedenen Container auftauchen.           *
  */

/* rich:dataTable */
.rf-dt {
    
}

/** This class defines styles for the message itself.                 *
  * skin parameter     ->  mapped css property                        *
  * generalFontFamily  ->  font-family                                *
  * generalSizeFont    ->  font-size                                  *
  */
.rf-msgs {
    .themeFont;
    font-size: @themeFontSize * 1.5;
    .themeBackgroundColorGradient;
    min-height: 24px; /* for test use only */
    max-width: 96.6%;
    border-radius: @themeFontSize * 1.5;
    border: 1px solid antiquewhite;
    .themeBoxShadow;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1.5em
}

/** This class defines styles for an error message.                   *
  * skin parameter     ->  mapped css property                        *
  * errorColor         ->  color                                      *
  */
.rf-msg-err {
    color: #ff0000;
}


/** This class defines styles for a fatal message.                    *
  * skin parameter     ->  mapped css property                        *
  * errorColor         ->  color                                      *
  */
.rf-msg-ftl {
    color: #950d0d;
}

/*    This class defines styles for an information message.           *
  * skin parameter     ->  mapped css property                        *
  * errorColor         ->  color                                      *
  */
.rf-msg-inf {
    color: #00ff00;
}


/*

.rf-msg-wrn

    This class defines styles for a warning message. 

	

warningTextColor
	

color

.rf-msg-ok

    This class defines styles for a basic OK message. 

	

generalTextColor
	

color

.rf-msg-sum, .rf-msg-det

    These classes define styles for the summary or details of a message. 


*/

/**
 * This class defines styles for the tool-tip content.                *
 *  skin parameter: none;                                             *
 */
.rf-tt-cnt {
    .themeBackgroundColorGradient;
    border: 1px solid #000000;
    padding: 0.1em;
    .themeFont;
}

/**
 * This class defines styles for the progressed portion of the        *
 * progress bar.                                                      *
 * skin parameter     ->  mapped css property                         *
 * tipBorderColor     ->  border-color                                *
 * generalFamilyFont  ->  font-family                                 *
 * generalSizeFont    ->  font-size                                   *
 */
.rf-tt-cntr {
    .themeBackgroundColorBrighterGradient;
    background-color: transparent;
/*    border: 1px dotted yellow;*/
    margin: 0.5em;
}

.rf-pp-hdr-cnt {
    .themeColorDarker;
    .themeBackgroundColorGradient;
    font-family: @themeFont;
    font-size: @themeFontSize;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 1px;

}
.rf-pp-hdr {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    cursor: move;
    padding:1px;
    position: relative;
}
.rf-pp-cnt {
    color: #FFFFFF;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .themeBackgroundColorBrighterGradient;
    font-family: @themeFont;
/*    overflow: hidden;*/
    font-size: 11px;
    padding: 0px;
}

.rf-ii {
    color: antiquewhite;
    background-color: black;
    box-shadow: 2px 2px 2px;
}

.rf-ii-lbl {
    color: antiquewhite;
}


.rf-is-lbl {color: red;}