@import "richfacesVariables.less";
@import "mixins/gradients.less";
/** globale Klassen Version 0.1 */

/* Basis Text- und Border-Farbe */
.themeColor {
    color: @themeColor;
}

.themeColorBlack {
    color: @themeColorBlack;
}

.themeBackgroundColor {
    background-color: @themeBackgroundColor;
}

/* Basis-Hintergrund-Farbverlauf */
.themeBackgroundColorGradient {
    background-image: linear-gradient(@gradientColor1, @gradientColor2);
}

/* hellerer Basis-Hintergrund-Farbverlauf */
.themeBackgroundColorBrighterGradient {
    background-image: linear-gradient(@gradientColor3, @gradientColor4);
}

/* Basis-Hintergrund-Farbverlauf */
.themeBackgroundColorGradientRevers {
    background-image: linear-gradient(top, @themeBackgroundColor - #151515, @themeBackgroundColor + #151515);
}

/* Basis-Hintergrund-Farbverlauf */
.blueBackgroundColorGradient {
    background-image: linear-gradient(top, @themeBackgroundColorBlue - #151515, @themeBackgroundColorBlue + #151515);
}

.themeBackgroundBlack {
    background-color: @themeColorBlack;
}
.themeBackgroundTransparent {
    background: transparent;
}

/* Basis-Schrift */
.themeFont {
    font-family: @themeFontFamily;
    font-size: @themeFontSize;
    color: @themeFontColor;
    text-align: @themeTextAlign;
    text-shadow: @themeTextShadow;
    line-height: @themeLineHeight;
}

.themeFontBold {
    font-weight: @themeFontBold;
}

.themeFontSize { 
    font-size: @themeFontSize;
}

.themeTextLabel {
    font: @themeTextLabel;
}

.themeColorDarker {
    color: @themeColorDarker20;
}

/* Basi Link */
.themeLink {
    a {
        color: @themeLinkColor;
    }
    a:visited {
        color: @themeLinkColorVisited;
    }
    a:hover {
        color: @themeLinkColorHover;
    }
}

/* Text- und Elemente-Fluß */
.textFloatLeft {
    text-align: @themeAlignLeft;
}

.textFloatCenter {
    text-align: @themeAlignCenter;
}

.textFloatRight {
    text-align: @themeAlignRight;
}


.textFloatTop {
    vertical-align: @themeAlignTop;
}

.textFloatMiddle {
    vertical-align: @themeAlignMiddle;
}

.textFloatBottom {
    vertical-align: @themeAlignBottom;
}

/*.textCenter {
    .textFloatCenter;
    .textFloatMiddle;
}*/
/* Text- und Elemente-Abstände */
.themeMargin{
    margin: @themeMargin;
}
.themeMarginLeftRight {
    margin: 0 @themeMargin;
}

.themeMarginBottom {
    margin-bottom: @themeMargin;
}

.themePadding {
    padding: @themePadding;
}

.themeLeftRightPadding {
    padding: 0 @themePadding;
}

.themeTopBottomPadding {
    padding: @themePadding;
}

.nullMargin {
    margin: 0px;
}
.nullPadding {
    padding: 0;
}

/* Basis Border- und Box-Modelle */
.themeBoxShadow {
    box-shadow: (@themeFontSize * 1.5) 
                (@themeFontSize * 1.5) 
                (@themeFontSize * 1.5) 
                black;
}

.themeBoxBorder {
    border: 1px solid antiquewhite;
}

.themeBorder {
    border: 1px solid @themeColorBlack;
}

.themeLightBorder {
    border: 1px inset silver;
}
.themeBorderRadius {
    border-radius: @themeBorderRadius;
}

.themeMenuBarBorder {
    .themeLightBorder;
    border-left: none;
    border-top-right-radius: @themeBorderRadius;
    border-bottom-right-radius: @themeBorderRadius;
}

.themeMenuItemBorder {
    border: 2px outset silver;
}

.themeStatusBarBorder {
    border-top-left-radius: @themeBorderRadius;
    border-bottom-left-radius: @themeBorderRadius;
}

.themeHeaderBarBorder {
    border-bottom-left-radius: @themeBorderRadius;
    border-bottom-right-radius: @themeBorderRadius;
}

.themeTimelineBorder {
    border-bottom-left-radius: @themeBorderRadius;
    border-bottom-right-radius: @themeBorderRadius;
}

.noBorder {
    border: none;
    border-collapse: separate;
}

.themeBoxModel {
    box-sizing: conten-box;
    background-clip: content-box;
    box-decoration-break: clone;
    background-origin: content-box;
    border: none;
}