/* global style overrides */

.rf-p {
    border: none;
}

.rf-p-b {
    border: none;
}

*.rf-p {
    border-width: 0px;
    border-style: none;
    padding: 0px;
}

*.rf-p-hdr {
    padding: 0px;
    border-width: 0px;
    border-style: none;
}

*.rf-p-b {
    padding: 0px;
}
