@import "bootstrap.less";
@import "lessOverrides.less";

/** Datai richfacesVariables.less                                     *
  * zur Deklaration globaler Variablen                                *
  * Anmerkung: die Unter- und Bindestriche habe ich zur leichteren    *
  * Unterscheidung zu automatisch generierten Klassen rausgenommen.   *
  * nimph                                                             *
  */

/*  ==========  Farb-Variablen  ====================================  *
 *                                                                    *
 * Variablen-Name      vergleichbarer     rrggbb-Wert   vergleichbare *
 *                     NetScapeFarbName                 Farbe         *
 * themeColor:         darkred            #400000       dunkles rot   *
 * themeColorBrighter  crimson            #632323       mittleres rot *
 * colorBlack          black              #000000       schwarz       *
 * linkColor           goldenrod          #daa520       goldgelb      *
 * linkHoverColor      silver             #0c0c0c       silbergrau    *
 */
/* Vordergrund-Farben*/
@themeColor: antiquewhite;
@themeColorDarker20: fade(@themeColor, -20%);
@themeColorBlack: #000000;
@themeColorBlack20p: fade(@themeColorBlack, 20%);

@themeThemeColor: @themeColor;
/* Farben für die Links */
@themeLinkColor: goldenrod;
@themeLinkColorHover: silver;
@themeLinkColorVisited: @themeLinkColor;

/* Hintergrund-Farben */
@themeBackgroundColor: #400000;
@themeBackgroundColorBlue: #000040;
@themeBackgroundColorBrighter: @themeBackgroundColor + #232323;
@themeBackgroundColorBrighter20: fade(@themeBackgroundColorBrighter, 20%);
@themeBackgroundColorBrighter80: fade(@themeBackgroundColorBrighter, 80%);

@themeBackgroundColorDarker20: fade(@themeBackgroundColorBrighter, -20%);
@themeBackgroundColorDarker80: fade(@themeBackgroundColorBrighter, -80%);

/** ==========  Text-Variablen  ===================================== *
  * Basisgröße ist 10px. Grund: Berechnungen lassen sich damit im     *
  * Hinblick auf kleinere und größere Bildschirmformate günstiger     *
  * realisieren, als mit 12px-Variante.                               *
  * Kleines Beispiel: font-size: 0.9em; = 9px bei der 10px-Variante   *
  *                   font-size: 0.9em; = 10,8px bei der 12px-Variante*
  * 10,8 px lassen sich aber schwer darstellen, deshalb wird auf 11px *
  * aufgerundet oder auf 10px abgerundet, je nach html-Client.        *
  * Das nur am Rand bemerkt. ;)                                       *
  */

@themeFont: @themeFontWeight @themeFontSize @themeFontFamily @themeFontColor;
@themeFontFamily: Tahoma, sans-serif;
@themeFontFixed: monospace;
@themeFontSize: 10px;
@themeFontColor: @themeColor;
@themeFontBold: bold;
@themeFontWeight: normal;

@themeLineHeight: normal;

@themeTextAlign: center;
@themeTextShadow: 3px 3px 2px @themeBackgroundColor;
@themeTextLabel: (@themeFontBold) 
                 (@themeFontSize * 1.2) 
                 (@themeFontFamily);

@themeAlignCenter: center;
@themeAlignLeft: left;
@themeAlignRight: right;
@themeAlignMiddle: middle;
@themeAlignTop: text-top;
@themeAlignBottom: bottom;

/*  ========== Text- und Elemente-Abstände  =======================  */
@themeMargin: (@themeFontSize * 1.5 );
@themeMarginTop: (@themeMargin);
@themeMarginRight: (@themeMargin);
@themeMarginBottom: (@themeMargin);
@themeMarginLeft: (@themeMargin);

@themePadding: ( @themeFontSize / 2);
@themePaddingTop: (@themePadding);
@themePaddingRight: (@themePadding);
@themePaddingBottom: (@themePadding);
@themePaddingLeft: (@themePadding);

/*  ========== Border- und Box-Modelle ============================  */
@themeBorder: (@themeBorderWidth) 
              (@themeBorderStyle) 
              (@themeBorderColor);
@themeBorderWidth: 1px;
@themeBorderStyle: solid;
@themeBorderColor: @themeColor;
@themeMenuBorder: @menuBarBorderWidth 
                  @menuBarBorderStyle 
                  @menuBarBordercolor;
@themeBorderRadius: (@themeFontSize * 1.5);
@themeBoxShadow: (@themeFontSize * 1.5) 
                 (@themeFontSize * 1.5) 
                 (@themeFontSize * 1.5) 
                 (@themeBackgroundColor);

                
@menuBarBorderWidth: 1px;
@menuBarBorderStyle: solid;
@menuBarBordercolor: @themeBorderColor;

@themeBoxModel: border-box;

/*  ========= eigens Raster-Modell ========================================  */
/* überschreibt hoffentlich die less-Werte. */
@grid-columns: @SpaltenAnzahl;
@grid-gutter-width: @SpaltenAbstand;