@import "bootstrap.less";

table, td{
    width: 100%; 
    table-layout: fixed;
    vertical-align: top;
}

.content_table {
    display: table;
    table-layout: fixed;
    width: 100%;
    border: none;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    .themeBoxShadow;
    .themeMargin;
    empty-cells: show;
}

.content_table_header {
    display: run-in;
    .themeBackgroundColorGradient;
    text-align: center;
    white-space: nowrap;
    width: auto;
    padding: 0.2em 0.5em;
    border: none;
    border-top-left-radius: 1.2em;
    border-top-right-radius: 1.2em;
    box-shadow: 0 1em 1em black;
    text-shadow: 3px 3px 2px black;
}

.content_table_body {
    .themeBackgroundColorBrighterGradient;
    width: 100%;
    height: 21em;
}

.content_table_cells {
    display: table-cell;
    font-weight: bold;
    white-space: nowrap;
    text-wrap: none;
/*    border: 1px solid black;*/
}

.content_table_footer {
    .themeBackgroundColorGradient;
    min-height: 1em;
}

.content_table_planetimage {
    width: 150px;
    height: 150px;
}

table.first_table {
    color: blue;
    background-color: white;
}