<ui:composition  template="template.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:rich="http://richfaces.org/rich"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd">
    <ui:define name="subcontent">


        <ui:include src="../buildable/buildable.xhtml">
            <ui:param name="type" value="SHIPS"/>
            <ui:param name="bean" value="#{ProductionBean}"/>
            <ui:param name="action" value="buildProductions"/>
        </ui:include>
    </ui:define>
</ui:composition>

