<ui:composition  template="../index.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:rich="http://richfaces.org/rich"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd">
    <ui:define name="content">
        <div class="row">
            <div class="col-md-12"  style="box-shadow: 1em 1em 1em #000000;">
                <dd:messages/>
            </div>
        </div>
        <dd:baseGrid style="width:100%; margin: 0 auto;" styleClass="message_box" columns="1">
            <f:facet name="header">
                <dd:link styleClass="message-header" value="Schiffe" outcome="ships.xhtml"/>
                <dd:link styleClass="message-header" value="Bodentruppen" outcome="groundtroops.xhtml"/>
                <dd:link styleClass="message-header" value="Schiffsdesign" outcome="shipdesign.xhtml"/>
            </f:facet>
        </dd:baseGrid>
        <ui:include src="../buildable/inBuildTable.xhtml">
            <ui:param name="inBuildEntries" value="#{ProductionBean.viewData.inProductionLocalEntries}"/>
            <ui:param name="id" value="inProductionLocalEntries"/>
            <ui:param name="bean" value="#{ProductionBean}"/>
        </ui:include>
        <ui:include src="../buildable/inBuildTable.xhtml">
            <ui:param name="inBuildEntries" value="#{ProductionBean.viewData.inProductionRemoteEntries}"/>
            <ui:param name="id" value="inProductionRemoteEntries"/>
            <ui:param name="bean" value="#{ProductionBean}"/>
        </ui:include>

        <ui:insert name="subcontent">
            Construction subcontent
        </ui:insert>
    </ui:define>
</ui:composition>

