<ui:composition  template="../index.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:dd="http://java.sun.com/jsf/composite/dd"
                 xmlns:c="http://java.sun.com/jsp/jstl/core"
                 xmlns:rich="http://richfaces.org/rich">

    <ui:define name="title">#{MLBean.getMLTitle(ML.lang.sites.rounds.lbl.rounds)}</ui:define>
    <ui:define name="content">
        <h:form>
            <div align="center">
                <h:panelGrid class="indexPanelGrid" id="newround" rules="center"  columns="2">
                    <f:facet name="header">
                        <h:panelGrid style="margin:0 auto;">
                            <dd:outputText value="#{ML.lang.sites.round.lbl.addround}"/>
                        </h:panelGrid>
                    </f:facet>
                    <dd:outputLabel for="name" value="#{ML.lang.sites.round.lbl.name}"/>
                    <h:inputText id="name" value="#{RoundBean.round.name}"/>
                    <dd:outputLabel for="hoster" value="#{ML.lang.sites.round.lbl.hoster}"/>
                    <h:inputText id="hoster" value="#{RoundBean.round.hoster}"/>
                    <dd:outputLabel for="version" value="#{ML.lang.sites.round.lbl.version}"/>
                    <h:inputText id="version" value="#{RoundBean.round.version}"/>
                    <dd:outputLabel for="url" value="#{ML.lang.sites.round.lbl.url}"/>
                    <h:inputText id="url" value="#{RoundBean.round.url}"/>
                    <dd:outputLabel for="webServiceUrl" value="#{ML.lang.sites.round.lbl.webserviceurl}"/>
                    <h:inputText id="webServiceUrl" value="#{RoundBean.round.webServiceUrl}"/>
                    <dd:outputLabel for="webServicePassword" value="#{ML.lang.sites.round.lbl.webservicepassword}"/>
                    <h:inputText id="webServicePassword" value="#{RoundBean.round.webServicePassword}"/>
                    <dd_outputLabel for="startDate" value="#{ML.lang.sites.round.lbl.startdate}"/>
                    <a4j:outputPanel  id="startDate">
                        <rich:calendar value="#{CalendarBean.selectedStartDate}"
                                       locale="#{CalendarBean.locale}"
                                       popup="#{CalendarBean.popup}"
                                       datePattern="#{CalendarBean.pattern}"
                                       />
                    </a4j:outputPanel>

                    <dd:outputLabel for="activateEndDate"  value="#{ML.lang.sites.round.lbl.activateenddate}"/>
                    <a4j:outputPanel>
                        <h:selectBooleanCheckbox id="activateEndDate" value="#{CalendarBean.endDate}">
                            <a4j:ajax render="endDate" event="change" />
                        </h:selectBooleanCheckbox>
                    </a4j:outputPanel>
                    <dd:outputLabel for="endDate" value="#{ML.lang.sites.round.lbl.enddate}"/>
                    <a4j:outputPanel  id="endDate">
                        <rich:calendar disabled="#{!CalendarBean.endDate}"
                                       value="#{CalendarBean.selectedEndDate}"
                                       locale="#{CalendarBean.locale}"
                                       popup="#{CalendarBean.popup}"
                                       datePattern="#{CalendarBean.pattern}"
                                       />
                    </a4j:outputPanel>
                    <f:facet name="footer">
                        <h:commandButton rendered="#{LoginBean.logged}" value="#{MLBean.getML(ML.lang.sites.round.lbl.addround)}" action="#{RoundBean.addRound()}" >
                            <f:setPropertyActionListener target="#{RoundBean.round.startDate}" value="#{CalendarBean.getSelectedStartDateAsLong()}" />
                            <f:setPropertyActionListener target="#{RoundBean.round.endDate}" value="#{CalendarBean.getSelectedEndDateAsLong()}" />
                        </h:commandButton>
                        <h:commandButton rendered="#{RoundBean.editMode}" value="#{MLBean.getML(ML.lang.global.lbl.edit)}" action="#{RoundBean.updateRound()}" >
                            <f:setPropertyActionListener target="#{RoundBean.round.startDate}" value="#{CalendarBean.getSelectedStartDateAsLong()}" />
                            <f:setPropertyActionListener target="#{RoundBean.round.endDate}" value="#{CalendarBean.getSelectedEndDateAsLong()}" />
                        </h:commandButton>
                    </f:facet>
                </h:panelGrid>
            </div>
        </h:form>
    </ui:define>
</ui:composition>