<ui:composition  template=".././template.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:a4j="http://richfaces.org/a4j"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                 xmlns:c="http://java.sun.com/jsp/jstl/core"
                 xmlns:rich="http://richfaces.org/rich">

    <ui:define name="content">
        <h:form>
            <rich:dataTable class="datagrid marginCenter" id="rounds"  value="#{RoundBean.rounds}" var="round">
                <rich:column>
                    <f:facet name="header">
                        <dd:outputText value="#{ML.lang.sites.round.lbl.name}"/>
                    </f:facet>
                        #{round.name}
                </rich:column>
                <rich:column>
                    <f:facet name="header">
                        <dd:outputText value="#{ML.lang.sites.round.lbl.startdate}"/>
                    </f:facet>
                        #{ConversionBean.longToDateString(round.startDate)}
                </rich:column>
                <rich:column>
                    <f:facet name="header">
                        <dd:outputText value="#{ML.lang.sites.round.lbl.enddate}"/>
                    </f:facet>
                    <h:outputText  rendered="#{round.endDateAvailable()}" value="#{ConversionBean.longToDateString(round.endDate)}"/>
                </rich:column>
                <rich:column>
                    <f:facet name="header">
                        <dd:outputText value="#{ML.lang.sites.round.lbl.info}"/>
                    </f:facet>
                    <a4j:outputPanel>
                        <h:graphicImage id="info" library="#{ServiceBean.themeSrc}" name="images/infoT.png">
                            <rich:tooltip >
                                <h:panelGrid columnClasses="rightAlign, leftAlign"  columns="2">
                                    <dd:outputLabel for="hoster" value="#{ML.lang.sites.round.lbl.hoster}"/>
                                    <h:outputText id="hoster" value="#{round.hoster}"/>
                                    <dd:outputLabel for="version" value="#{ML.lang.sites.round.lbl.version}"/>
                                    <h:outputText id="version" value="#{round.version}"/>
                                    <dd:outputLabel for="url" value="#{ML.lang.sites.round.lbl.url}"/>
                                    <h:outputText id="url" value="#{round.url}"/>
                                    <dd:outputLabel rendered="#{LoginBean.adminLogged}" for="webServiceUrl" value="#{ML.lang.sites.round.lbl.webserviceurl}"/>
                                    <h:outputText rendered="#{LoginBean.adminLogged}" id="webServiceUrl" value="#{round.webServiceUrl}"/>
                                </h:panelGrid>
                            </rich:tooltip>
                        </h:graphicImage>
                    </a4j:outputPanel>
                </rich:column>
                <rich:column>
                    <f:facet name="header">
                        <dd:outputText value="#{ML.lang.global.lbl.actions}"/>
                    </f:facet>
                    <h:commandLink rendered="#{LoginBean.adminLogged}" value="#{MLBean.getML(ML.lang.global.lbl.delete)}" action="#{RoundBean.deleteRound(round.id)}" /><br/>
                    <h:commandLink rendered="#{LoginBean.adminLogged}" value="#{MLBean.getML(ML.lang.global.lbl.edit)}" action="#{RoundBean.setRound(round)}" />
                </rich:column>
            </rich:dataTable>
        </h:form>
        <br/>
        <h:form>
            <h:commandLink rendered="#{LoginBean.adminLogged}" value="#{MLBean.getML(ML.lang.sites.round.lbl.addround)}" action="#{RoundBean.createNewRound()}" />
        </h:form>
    </ui:define>
</ui:composition>