<ui:composition  template="../index.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:c="http://java.sun.com/jsp/jstl/core"
                 xmlns:dd="http://java.sun.com/jsf/composite/dd"
                 xmlns:rich="http://richfaces.org/rich">

    <ui:define name="title">#{MLBean.getMLTitle(ML.lang.sites.rounds.lbl.rounds)}</ui:define>
    <ui:define name="content">
        <br/><br/><br/>
        <div align="center">
            <h:form>
                <c:if test="#{!LoginBean.logged}">
                    <dd:outputMessage error="true" value="#{ML.lang.global.lbl.notlogged}"/>
                    <h:outputText value="#{param['errors']}" />
                </c:if>
                <c:if test="#{LoginBean.logged}">
                    <rich:panel>
                        <h:panelGrid class="indexPanelGrid" rules="all" columns="2">
                            <dd:outputLabel  for="chosenRound" value="#{ML.lang.sites.round.lbl.chosenround}"/>
                            <h:outputText id="chosenRound" value="#{RoundBean.round.name}"/>
                            <dd:outputLabel for="serverConnection" value="#{ML.lang.sites.round.lbl.serverconnection}"/>
                            <h:outputText id="serverConnection" value="#{RoundBean.serverInformationData.canConnectToServer}"/>
                            <c:if test="#{RoundBean.serverInformationData.canConnectToServer() }">
                                <dd:outputLabel for="serverStatus" value="#{ML.lang.sites.round.lbl.serverstatus}"/>
                                <h:outputText id="serverStatus" value="#{RoundBean.serverInformationData.status}"/>
                                <dd:outputLabel value="#{ML.lang.sites.round.lbl.userstatus}"/>
                                <dd:outputText  rendered="#{RoundBean.serverInformationData.isUserRegistered()}" id="userStatusExisting" value="#{ML.lang.sites.rounds.msg.useralreadyexisting}"/>
                                <dd:outputText rendered="#{!RoundBean.serverInformationData.isUserRegistered()}" id="userStatusNotExisting" value="#{ML.lang.sites.rounds.msg.usernotyetexisting}"/>
                            </c:if>
                        </h:panelGrid>
                    </rich:panel>
                </c:if>
            </h:form>
            <c:if test="#{LoginBean.logged}">
                <c:if test="#{RoundBean.registrationPossible}">
                    <h:inputHidden id="portalUserId" value="#{LoginBean.user.id}"/>

                    <h:panelGrid columns="1" class="indexPanelGrid marginCenter">
                        <f:facet name="header">
                            <dd:outputText escape="false" value="#{ML.lang.sites.round.msg.thirdpartywarning}"/>
                        </f:facet>
                        <h:outputText escape="false" value="#{RoundBean.serverInformationData.getLoginForm()}"/>
                        <rich:dataTable value="#{RoundBean.serverInformationData.errors}" var="error">
                            <rich:column>
                                <h:outputText  value="#{error}"/>
                            </rich:column>
                        </rich:dataTable>
                    </h:panelGrid>
                </c:if>
            </c:if>
        </div>
    </ui:define>
</ui:composition>