<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:a4j="http://richfaces.org/a4j">

<!--    <h:outputStylesheet id="MenuStyleSheet"
                        library="basic"
                        name="css/sites/richfacesMenu.css" />-->

    <h:form id="MenuPanel" styleClass="col-xs-7 col-sm-2 col-md-2 col-lg-3">
        <rich:panelMenu
            id="MenuBar"
            itemMode="server"
            activeItem="Planet"
            topGroupExpandedLeftIcon="chevronUp"
            topGroupCollapsedRightIcon="chevronDown">

            <rich:panelMenuGroup id="Imperium"
                                 label="Imperium">
                <rich:panelMenuItem id="ImperiumVerwaltung"
                                    label="Verwaltung" />
                <rich:panelMenuItem id="ImperiumStarmap"
                                    label="Sternenkarte" />
                <rich:panelMenuItem id="ImperiumFleet"
                                    label="Flotte" />
                <rich:panelMenuItem id="ImperiumSystem"
                                    label="System" />
                <rich:panelMenuItem id="ImperiumForschung"
                                    label="Forschung" />
                <rich:panelMenuItem id="ImperiumTrade"
                                    label="Handel" />
                <rich:panelMenuItem id="ImperiumTransport"
                                    label="Transport" />
                <rich:panelMenuItem id="ImperiumAufgaben"
                                    label="Aufgaben" />
            </rich:panelMenuGroup>

            <rich:panelMenuGroup id="Planet"
                                 label="Planet">
                <rich:panelMenuItem id="PlanetOverview"
                                    label="Übersicht" render="PlanetOverviewForm."/>
                <rich:panelMenuItem id="PlanetVerwaltung" 
                                    action="#{MenuBean.management()}"
                                    label="Verwaltung" />
                <rich:panelMenuGroup id="PlanetConstruction"
                                     label="Konstruktion">
                    <rich:panelMenuItem id="PlanetConstructionVerwaltung"
                                        label="Verwaltung" />
                    <rich:panelMenuItem id="PlanetConstructionCivil"
                                         label="Zivil" 
                                         action="#{MenuBean.construction()}" />
                    <rich:panelMenuItem id="PlanetConstructionEnergie"
                                        label="Energie" />
                    <rich:panelMenuItem id="PlanetConstructionIndustrie"
                                        label="Industrie" />
                    <rich:panelMenuItem id="PlanetConstructionMilitary"
                                        label="Militär"/>
                </rich:panelMenuGroup>

                <rich:panelMenuGroup id="Production"
                                     label="Produktion">
                    <rich:panelMenuItem id="PlanetProductionSchips"
                                        label="Schiffe" />
                    <rich:panelMenuItem id="PlanetProduktionTroops"
                                        label="Truppen" />
                    <rich:panelMenuItem id="PlanetProductionBlueprints"
                                        label="Blaupausen" />
                </rich:panelMenuGroup>

            </rich:panelMenuGroup>

            <rich:panelMenuGroup id="CommunicationMessages"
                                 label="Nachrichten" >
                <rich:panelMenuItem id="CommunicationMessagesPrivate" 
                                    name="inbox" label="inbox" 
                                    action="#{MenuBean.messages()}"/>
                <rich:panelMenuItem id="CommunicationMessagesAlliance"
                                    label="Allianz" />
                <rich:panelMenuItem id="CommunicationMessagesSystem"
                                    label="System" />
            </rich:panelMenuGroup>

            <rich:panelMenuGroup>
                <rich:panelMenuItem id="Statistics"
                                    label="Statistik" />
                <rich:panelMenuItem id="Alliance"
                                    label="Allianz" />
                <rich:panelMenuItem id="Diplomacy"
                                    label="Diplomatie" />
            </rich:panelMenuGroup>
            <rich:panelMenuGroup id="sonstiges"
                                 label="sonstiges">
                <rich:panelMenuItem id="Einstellungen"
                                    label="Einstellungen" />
                <rich:panelMenuItem id="Forum"
                                    label="Forum" />
                <rich:panelMenuItem id="Wiki"
                                    label="Wiki" />
            </rich:panelMenuGroup>
            <rich:panelMenuItem id="Logout"
                                label="Logout" />
        </rich:panelMenu>
        <a4j:outputPanel ajaxRendered="true">
            <rich:panel rendered="#{not empty panelMenuBean.current}">
                <h:outputLink value="#{panelMenuBean.current} selected" id="current" />
            </rich:panel>
        </a4j:outputPanel>
    </h:form>
</ui:composition>
