<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:rich="http://richfaces.org/rich"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:a4j="http://richfaces.org/a4j">
    <h:head>
        <title>AI Debug</title>
    </h:head>
    <h:body>


        <h:form>
            <h:commandButton value="AI erstellen" action="debugBufferAI" >
                <f:setPropertyActionListener value="true" target="#{AIBean.dosome}"/>
            </h:commandButton>
            <BR/>
            <BR/>
            <BR/>
            <h:commandButton value="Update" action="debugBufferAI" />
        </h:form>
        <rich:panel id="output">
            <rich:panel>
                <f:facet name="header">
                    Threads
                </f:facet>
            <rich:dataTable id="threads" value="#{AIBean.threads}" rows="20" var="thread">
                <rich:column>
                    <f:facet name="header">     
                        <h:outputText value="UserId"/>    
                    </f:facet>      
                    <h:outputText value="#{thread.ai.userId}"/>    
                </rich:column>
                <rich:column>        
                    <f:facet name="header">     
                        <h:outputText value="UserName"/>    
                    </f:facet>             
                    <h:outputText value="#{thread.ai.gameName}"/>
                </rich:column>
                    <f:facet name="footer">
                        <rich:dataScroller id="scroller" />
                    </f:facet>
            </rich:dataTable>
            </rich:panel>
            <rich:panel>
                <f:facet name="header">
                    Debug
                </f:facet>
            <rich:dataTable id="debug" value="#{AIBean.itemKeys}" rows="20" var="key">
                <rich:column>
                    <f:facet name="header">     
                        <h:outputText value="Date"/>    
                    </f:facet>      
                    <h:outputText value="#{key}"/>    
                </rich:column>
                <rich:column>        
                    <f:facet name="header">     
                        <h:outputText value="Level"/>    
                    </f:facet>             
                    <h:outputText value="#{AIBean.entries[key].level}"/>
                </rich:column>
                <rich:column>         
                    <f:facet name="header">         
                        <h:outputText value="Message"/>    
                    </f:facet>          
                    <h:outputText value="#{AIBean.entries[key].message}"/>
                </rich:column>
                    <f:facet name="footer">
                        <rich:dataScroller id="scroller" />
                    </f:facet>
            </rich:dataTable>
            </rich:panel>
        </rich:panel>
    </h:body>
</html>
