<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:outputStylesheet library="basic" name="css/main_template.css"/>
        <!-- Elements of the page -->
        <div id="menu" class="menu">
            <ui:include class="menu" src="menu.xhtml"/>
        </div>
        <div id="header">
            <ui:include src="header.xhtml"/>
        </div>
        <div id="footer">
            <ui:include src="footer.xhtml"/>
        </div>
        <div id="status">
            <ui:include  src="status.xhtml"/>
        </div>
        <!-- Content placeholder -->
        <div id="content">
            <ui:insert name="content">
                define content here
            </ui:insert>
        </div>
    </h:body>
</html>

