<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd">

    <h:form>
        <rich:dataGrid var="buildableView" id="productionTable" value="#{productionBuildResult}">

            <rich:dataTable rendered="${not buildableView.buildableResult.missingRequirements.isEmpty()}" style="background-color: red;" var="missingRequirement" value="#{buildableView.buildableResult.missingRequirements}">
                <rich:column>
                    <f:facet name="header">
                        <dd:outputText value="Fehlende Vorraussetzungen"/>
                    </f:facet>
                    <h:outputText value="#{missingRequirement}"/>
                </rich:column>
            </rich:dataTable>
            <h:panelGrid columns="3">
                <h:outputText value="#{ConversionBean.buildableToBuildableView(buildableView.buildable).name}"/>
                <h:outputText value="#{ConversionBean.buildableToBuildableView(buildableView.buildable).description}"/>
                <h:panelGrid columns="3">
                    <h:outputText value="#{buildableView.buildableResult.possibleCount}"/>
                    <h:inputText value="#{buildableView.constructCount}"  />
                    <a4j:commandButton type="submit" action="#{bean[action]}" render="inConstructionTable productionTable" value="Bauen" >
                        <f:setPropertyActionListener value="#{ConversionBean.buildableToBuildableView(buildableView.buildable).id}"
                                                     target="#{bean.constructionId}" />
                        <f:setPropertyActionListener value="#{buildableView.constructCount}"
                                                     target="#{bean.constructCount}" />
                    </a4j:commandButton>
                </h:panelGrid>
                <h:panelGrid columns="1">
                    <h:graphicImage  library="basic" name="pic/construction/#{ConversionBean.buildableToBuildableView(buildableView.getBuildable()).image}"/>
                </h:panelGrid>
                <rich:dataTable var="res" value="#{buildableView.buildable.ressCost.ressArray}">
                    <rich:column>
                        <f:facet name="header">
                            <dd:outputText value="Resource"/>
                        </f:facet>
                        <h:graphicImage library="basic" style="width:20px; height:20px;" name="#{ConversionBean.resourceIdToResource(res.ressId).imageLocation}"/>
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <dd:outputText value="Amount"/>
                        </f:facet>
                        <dd:formatValue value="#{res.qty}" valueType="long" type="normal"/>
                    </rich:column>
                </rich:dataTable>
            </h:panelGrid>
        </rich:dataGrid>
    </h:form>
</ui:composition>

