<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd">

    <!-- Normale Gebäude die aber auch auf Grund von mangelnden Resourcen nicht gebaut werden könnten -->
    <ui:include src="buildableTable.xhtml">
        <ui:param name="type" value="#{type}"/>
        <ui:param name="productionBuildResult" value="#{BuildableBean.viewData.getProductionBuildResultBuildable(type, false)}"/>
    </ui:include>
    <!-- Gebäude die auf Grund von fehlender Forschung nicht gebaut werden können -->
    <ui:include src="buildableTable.xhtml">
        <ui:param name="type" value="#{type}"/>
        <ui:param name="productionBuildResult" value="#{BuildableBean.viewData.getProductionBuildResultBuildable(type, true)}"/>
    </ui:include>
</ui:composition>

