<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd">
    <rich:dataTable  id="#{id}" value="#{inBuildEntries}" var="construction">
        <rich:column>
            <f:facet name="header">
                <dd:outputText value="Running construction"/>
            </f:facet>
            <dd:outputText value="#{ConversionBean.modelToInBuildView(construction.unit, construction.order.type).name}"/>
        </rich:column>
        <rich:column>
            <f:facet name="header">
                <dd:outputText value="Amount"/>
            </f:facet>
            <dd:formatValue valueType="long" value="#{construction.action.number}"/>
        </rich:column>
        <rich:column>
            <f:facet name="header">
                <dd:outputText value="IND"/>
            </f:facet>
            <dd:formatValue valueType="double" value="#{construction.order.indPerc}" percentageSign="true"/>
        </rich:column>
        <rich:column>
            <f:facet name="header">
                <dd:outputText value="MOD"/>
            </f:facet>
            <dd:formatValue valueType="double" value="#{construction.order.modulePerc}" percentageSign="true"/>
        </rich:column>
        <rich:column>
            <f:facet name="header">
                <dd:outputText value="P.W."/>
            </f:facet>
            <dd:formatValue valueType="double" value="#{construction.order.dockPerc}" percentageSign="true"/>
        </rich:column>
        <rich:column>
            <f:facet name="header">
                <dd:outputText value="O.W."/>
            </f:facet>
            <dd:formatValue valueType="double" value="#{construction.order.orbDockPerc}" percentageSign="true"/>
        </rich:column>
        <rich:column>
            <f:facet name="header">
                <dd:outputText value="KAS"/>
            </f:facet>
            <dd:formatValue valueType="double" value="#{construction.order.kasPerc}" percentageSign="true"/>
        </rich:column>
        <rich:column>
            <f:facet name="header">
                <dd:outputText value="Priority"/>
            </f:facet>
            <a4j:outputPanel>
                <h:form>
                    <dd:inplaceSelect render="#{id}" items="#{ConstructionBean.priorityOptions}" listener="#{ConstructionBean.updatePriorities()}" value="#{construction.order.priority}"/>
                </h:form>
            </a4j:outputPanel>
<!--<dd:inplaceSelect rendered="${id eq 'inProductionLocalEntries' or id eq 'inProductionRemoteEntries'}" render="#{id}" items="#{ConstructionBean.priorityOptions}" listener="#{ProductionBean.updatePriorities()}" value="#{construction.order.priority}"/>-->
        </rich:column>
        <rich:column>
            <f:facet name="header">
                <dd:outputText value="Action"/>
                <a4j:commandLink>
                </a4j:commandLink>
            </f:facet>
        </rich:column>
    </rich:dataTable>
</ui:composition>

