<ui:composition  template="template.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:rich="http://richfaces.org/rich"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:dd="http://java.sun.com/jsf/composite/dd">
    <ui:define name="subcontent">
        <br/>
        <dd:baseGrid styleClass="message_box" headerClass="header_blue" columns="1">
            <f:facet name="header">
                <dd:outputText value="#{MLBean.lang.sites.messages.archive.label.archive}"/>
            </f:facet>
            <ui:include src="messageTable.xhtml">
                <ui:param name="showViewedColumn" value="false"/>
                 <ui:param name="type" value="archive"/>
            </ui:include>
        </dd:baseGrid>
    </ui:define>
</ui:composition>

