<ui:composition  template="template.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:rich="http://richfaces.org/rich"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:dd="http://java.sun.com/jsf/composite/dd">
    <ui:define name="subcontent">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <dd:baseGrid styleClass="message_box" columns="1">
                <f:facet name="header">
    <!--                <dd:outputText styleClass="message-header" value="#{MLBean.lang.sites.messages.inbox.label.inbox}"/>-->
                    <dd:link styleClass="message-header" value="#{MLBean.lang.sites.messages.inbox.label.inbox}" outcome="inbox"/>
    <!--                <dd:outputText styleClass="message-header" value="#{MLBean.lang.sites.messages.outbox.label.outbox}"/>-->
                    <dd:link styleClass="message-header" value="#{MLBean.lang.sites.messages.outbox.label.outbox}" outcome="outbox"/>
    <!--                <dd:outputText styleClass="message-header" value="#{MLBean.lang.sites.messages.archive.label.archive}"/>-->
                    <dd:link styleClass="message-header" value="#{MLBean.lang.sites.messages.archive.label.archive}" outcome="archive"/>
    <!--                <dd:outputText styleClass="message-header" value="#{MLBean.lang.sites.messages.send.label.send}"/>-->
                    <dd:link styleClass="message-header" value="#{MLBean.lang.sites.messages.send.label.send}" outcome="send"/>
                </f:facet>
                <ui:include src="messageTable.xhtml">
                    <ui:param name="showViewedColumn" value="true"/>
                    <ui:param name="showSender" value="true"/>
                    <ui:param name="type" value="inbox"/>
                </ui:include>
            </dd:baseGrid>
        </div>
    </ui:define>
</ui:composition>

