<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:dd="http://java.sun.com/jsf/composite/dd"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h:form>
        <rich:dataTable id="messageTable" styleClass="message_box_inner" rowClass="message_box_row" value="#{MessageBean.getMessages(type)}" rows="15" var="message">
            <rich:column rendered="#{showViewedColumn}" style="width: 3%;">
                <f:facet name="header">
                    <dd:outputText value="#{MLBean.lang.sites.messages.messagetable.label.new}"/>
                </f:facet>
                <dd:outputText rendered="#{!message.viewed}" value="#{MLBean.lang.sites.messages.messagetable.label.yes}"/>
                <dd:outputText rendered="#{message.viewed}" value="#{MLBean.lang.sites.messages.messagetable.label.no}"/>
            </rich:column>
            <rich:column style="width: 3%;">
                <f:facet name="header">
                    <dd:outputText value="#{MLBean.lang.sites.messages.messagetable.label.type}"/>
                </f:facet>
                <h:outputText value="#{ConversionBean.messageTypeToAbbreviation(message.type)}"/>
            </rich:column>
            <rich:column rendered="#{showSender}" style="width:20%;">
                <f:facet name="header">
                    <dd:outputText value="#{MLBean.lang.sites.messages.messagetable.label.sender}"/>
                </f:facet>
                <dd:user userId="#{message.sourceUserId}"/>
            </rich:column>
            <rich:column rendered="#{showReceiver}" style="width:20%;">
                <f:facet name="header">
                    <dd:outputText value="#{MLBean.lang.sites.messages.messagetable.label.receiver}"/>
                </f:facet>
                <dd:user userId="#{message.targetUserId}"/>
            </rich:column>
            <rich:column style="text-align: left;">
                <f:facet name="header">
                    <dd:outputText value="#{MLBean.lang.sites.messages.messagetable.label.subject}"/>
                </f:facet>
                <a4j:commandLink render="messageDetail" onclick="#{rich:component('messageDetail')}.hide();" oncomplete="#{rich:component('messageDetail')}.show();">
                    <a4j:param value="#{message.messageId}"  assignTo="#{MessageBean.messageToShowId}"/>
                    <h:outputText value="#{message.topic}"/>
                </a4j:commandLink>
            </rich:column>
            <rich:column style="width: 30%;">
                <f:facet name="header">
                    <dd:outputText value="#{MLBean.lang.sites.messages.messagetable.label.date}"/>
                </f:facet>
                <dd:date value="#{message.timeSent}" valueType="long" type="datetime"/>
            </rich:column>
            <rich:column style="width: 10%; text-align: center;">
                <f:facet name="header">
                    <dd:outputText value="#{MLBean.lang.sites.messages.messagetable.label.selection}"/>
                </f:facet>
                <h:selectBooleanCheckbox value="#{MessageBean.checked[message.messageId]}">
                </h:selectBooleanCheckbox>
            </rich:column>
            <rich:column style="width: 14%; text-align: center;">
                <f:facet name="header">
                    <dd:outputText value="#{MLBean.lang.sites.messages.messagetable.label.new}"/>
                </f:facet>
                <h:panelGrid columns="2">
                    <a4j:commandLink onclick="#{rich:component('deletePopupPanel')}.hide();" oncomplete="#{rich:component('deletePopupPanel')}.show();">
                        <a4j:param value="#{message.messageId}"  assignTo="#{MessageBean.messageToDelete}"/>
                        <dd:graphicImage name="pic/icons/delete.png" style="width: 100%;" tooltip="true">
                            <dd:outputText value="#{MLBean.lang.sites.messages.messagetable.tooltip.delete}"/>
                        </dd:graphicImage>
                    </a4j:commandLink>
                    <a4j:commandLink action="#{MessageBean.archiveMessage()}" rendered="${!type.equals('archive')}" render="messageResult, messageTable, messageLinks">
                        <a4j:param value="#{message.messageId}" assignTo="#{MessageBean.messageId}"/>
                        <dd:graphicImage name="pic/icons/archive.png" style="margin-left: 2px; width: 100%;" tooltip="true">
                            <dd:outputText value="#{MLBean.lang.sites.messages.messagetable.tooltip.archive}"/>
                        </dd:graphicImage>
                    </a4j:commandLink>
                </h:panelGrid>
            </rich:column>
            <f:facet name="footer">
                <rich:dataScroller/>
            </f:facet>
        </rich:dataTable>
        <h:panelGrid rendered="${!MessageBean.getMessages(type).isEmpty()}" style="margin: 0 auto; width: 100%;" columns="2" cellpadding="0" cellspacing="0">
            <f:facet name="header">
                <h:panelGrid columns="2" style="margin: 0 auto;" cellpadding="0" cellspacing="1">
                    <h:selectOneMenu id="actionOption" value="#{MessageBean.messageAction}">
                        <f:selectItems value="#{MessageBean.getActionOptions(type)}" var="item"/>
                    </h:selectOneMenu>
                    <h:commandButton value="#{MLBean.lang.sites.messages.messagetable.button.confirm}" action="#{MessageBean.executeMessageAction(type)}"/>
                </h:panelGrid>
            </f:facet>
        </h:panelGrid>
    </h:form>
    </div>

    <ui:include src="popups.xhtml"/>
</ui:composition>

