<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:dd="http://java.sun.com/jsf/composite/dd"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    <dd:popupPanel width="310" header="#{MessageBean.messageToShow.topic}" ref="messageDetail">
        <a4j:region id="messageDetailArchive">
            <h:panelGrid cellpadding="1" cellspacing="1" style="margin: 0 auto; width:100%;">
                <h:panelGrid styleClass="color_gray_gradient" style="width:100%; margin: 0 auto;">
                    <h:inputTextarea style="text-align:left; background-color: transparent; color:white; " disabled="true" id="message" value="#{MessageBean.messageToShow.text}" cols="42" rows="20"/>
                </h:panelGrid>
                <h:panelGrid styleClass="base_color_gradient" columns="3" style="margin: 0 auto; width:100%; text-align: center;">
                    <a4j:commandButton  value="Answer" onclick="#{rich:component('answerDetail')}.show();" render="answerDetailRegion">
                        <a4j:param value="#{MessageBean.messageToShow.topic}"  assignTo="#{MessageBean.reAnswerTopic}"/>
                    </a4j:commandButton>
                    <a4j:commandButton value="Delete"  oncomplete="#{rich:component('deletePopupPanel')}.show();#{rich:component('messageDetail')}.hide();">
                        <a4j:param value="#{MessageBean.messageToShow.messageId}"  assignTo="#{MessageBean.messageToDelete}"/>
                    </a4j:commandButton>
                    <a4j:commandButton rendered="${!type.equals('archive')}" value="Archive" action="#{MessageBean.archiveMessage()}" oncomplete="#{rich:component('messageDetail')}.hide();" render="messageResult, messageTable, messageLinks">
                        <a4j:param value="#{MessageBean.messageToShow.messageId}"  assignTo="#{MessageBean.messageId}"/>
                    </a4j:commandButton>
                </h:panelGrid>
            </h:panelGrid>
        </a4j:region>
    </dd:popupPanel>
    <dd:popupPanel width="200" header="Delete message?" ref="deletePopupPanel">
        <a4j:region id="deletePopupPanelRegion">
            <h:panelGrid style="margin: 0 auto; width:100%; background-color:gray;" columns="1">
                <h:outputText value="Are you sure you want to delete the message?" />
            </h:panelGrid>
            <h:panelGrid styleClass="base_color_gradient" style="margin: 0 auto; width:100%; text-align: center;" columns="2">
                <a4j:commandButton value="Yes"  action="#{MessageBean.deleteMessage(type)}" onclick="#{rich:component('deletePopupPanel')}.hide();"  render="messageResult, messageTable, messageLinks"/>
                <a4j:commandButton value="No" onclick="#{rich:component('messageDetail')}.show();#{rich:component('deletePopupPanel')}.hide();"/>
            </h:panelGrid>
        </a4j:region>
    </dd:popupPanel>
    <dd:popupPanel width="310" header="Antworten" ref="answerDetail">
        <a4j:region id="answerDetailRegion">
            <h:form>
                <h:panelGrid cellpadding="1" cellspacing="1" style="margin: 0 auto; width:100%;">
                    <h:panelGrid style="width:100%; margin: 0 auto; background-color: #666666" styleClass="color_gray_gradient" columns="2">
                        <dd:outputText value="Titel" style="font-weight: bolder;"/>
                        <h:inputText id="subject" style="text-align:left; background-color: #000000; color:#FFFFFF;" size="45" disabled="false" value="#{MessageBean.answerTopic}"/>
                    </h:panelGrid>
                    <h:panelGrid styleClass="color_gray_gradient" style="width:100%; margin: 0 auto;" columns="1">
                        <h:inputTextarea style="text-align:left; background-color: transparent; color:white; " value="#{MessageBean.answerText}" cols="42" rows="20"/>
                    </h:panelGrid>
                    <h:panelGrid styleClass="base_color_gradient" columns="3" style="margin: 0 auto; width:100%; text-align: center;">
                        <a4j:commandButton value="Answer" action="#{MessageBean.answer()}" oncomplete="#{rich:component('answerDetail')}.hide();#{rich:component('messageDetail')}.hide();" render="messageResult, messageTable, messageLinks"/>
                        <a4j:commandButton value="Cancel" onclick="#{rich:component('answerDetail')}.hide();"/>
                    </h:panelGrid>
                </h:panelGrid>
            </h:form>
        </a4j:region>
    </dd:popupPanel>
</ui:composition>

