<ui:composition  template="template.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:dd="http://java.sun.com/jsf/composite/dd">
    <ui:define name="subcontent">
        <h:form>
            <dd:baseGrid styleClass="message_send" columns="1">
                <f:facet name="header">
                    <dd:outputText value="#{MLBean.lang.sites.messages.send.label.send}"/>
                </f:facet>
                <h:panelGrid columns="2" style="border: white solid 1px;" rowClasses="color_gray_gradient" rules="cols">
                    <h:panelGrid columns="1" rowClasses="background_none">
                        <dd:outputLabel value="#{MLBean.lang.sites.messages.send.label.selectreceiver}" for="receivers"/>
                        <h:selectManyListbox size="22" id="receivers" style="width:100%;" value="#{MessageBean.receivers}">
                            <f:selectItems value="#{MessageBean.users}" var="user" itemLabel="#{user.gameName}" itemValue="#{user.id}"/>
                        </h:selectManyListbox>
                    </h:panelGrid>
                    <h:panelGrid columns="2"  rowClasses="background_none">
                        <dd:outputLabel value="#{MLBean.lang.sites.messages.send.label.subject}" for="subject"/>
                        <h:inputText size="50" id="subject" value="#{MessageBean.newMessage.topic}"/>
                        <dd:outputLabel value="#{MLBean.lang.sites.messages.send.label.text}" for="text"/>
                        <h:inputTextarea style="width:100%; text-align: left;" rows="20" id="text" value="#{MessageBean.newMessage.text}"/>
                    </h:panelGrid>
                </h:panelGrid>
                <f:facet name="footer">
                    <h:commandButton id="sendButton" value="Senden" action="#{MessageBean.createNewMessage()}"/>
                </f:facet>
            </dd:baseGrid>
        </h:form>
    </ui:define>
</ui:composition>

