<ui:composition  template="../index.xhtml"
                 xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:dd="http://java.sun.com/jsf/composite/dd"
                 xmlns:rich="http://richfaces.org/rich"
                 xmlns:a4j="http://richfaces.org/a4j"
                 xmlns:f="http://java.sun.com/jsf/core">
    <ui:define name="content">

        <h:form id="NewsPanel">
            <rich:tabPanel id="NewsTabPanel" 
                           switchType="server" 
                           styleClass="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <rich:tab id="InboxTab" header="#{MLBean.getML(MLBean.lang.sites.messages.inbox.label.inbox)}">
                    <h:link id="Inbox" value="#{MLBean.getML(MLBean.lang.sites.messages.template.link.inbox)}#{MessageBean.unreadMessageString}" outcome="inbox" />
                </rich:tab>
                <rich:tab id="OutboxTab" header="#{MLBean.getML(MLBean.lang.sites.messages.outbox.label.outbox)}">
                    <h:link id="Outbox" value="#{MLBean.getML(MLBean.lang.sites.messages.template.link.outbox)}" outcome="outbox"/>
                </rich:tab>
                <rich:tab id="SendTab" header="#{MLBean.getML(MLBean.lang.sites.messages.send.label.send)}">
                    <h:link id="Send" value="#{MLBean.getML(MLBean.lang.sites.messages.template.link.send)}" outcome="send"/>
                </rich:tab>
                <rich:tab id="ArchivTab" header="#{MLBean.getML(MLBean.lang.sites.messages.archive.label.archive)}">
                    <h:link id="archive" value="#{MLBean.getML(MLBean.lang.sites.messages.template.link.archive)}" outcome="archive"/>
                </rich:tab>
            </rich:tabPanel>
        </h:form>

    </ui:define>
</ui:composition>

