/** Datai globalVariables.less                                        *
  * Deklaration globaler Variablen                                    *
  *                                                                   *
  * erstellt am: 18.08.2014                                           *
  *       Autor: Nimphonost ;)                                        *
  */

/*  ========== Farben ==============================================  *
 *                                                                    *
 * Variablen-Name          Farb-Name        rrggbb-Wert               *
 * theme_color:            dunkles rot      #400000                   *
 * theme_color_brighter    mittleres rot    #632323                   *
 * color_black             black            #000000                   *
 * link_color              goldenrod        #daa520                   *
 * link_hover_color        silver           #0c0c0c                   *
 */


@theme_font: Times New Roman;
@theme_font-family: Times New Roman;
@theme_font-fixed: monospace;
@theme_font-size: 12px;
@theme_font-color: antiquewhite;
@theme_text-align: center;
@theme_text-shadow: 3px 3px 2px #004040;

@theme_color: #000040;
@theme_color_brighter: @theme_color + #232323;

@color_black: #000000;
@color_black_20p: fade(@color_black, 20%);

@theme_color_brighter_20: fade(@theme_color_brighter, 20%);
@theme_color_brighter_50: fade(@theme_color_brighter, 50%);
@theme_color_brighter_80: fade(@theme_color_brighter, 80%);


@link_color: yellow;
@link_visited_color: @link_color;
@link_hover-color: gray;
@link_active-color: white;



/*  ========== Umrandungen =========================================  */
@theme_border-radius: (@theme_font-size * 1.5);
