body {width:100%; height:100%; overflow:hidden; margin:0; }
html {width:100%; height:100%; overflow:hidden; }

div.dark {
    background-color: black;
    filter:alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity:0.50;
    z-index: 30;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    text-align:center;
    top:0px;
    left:0px;
    border:0px;
}

div.actionpanel {
	color: white;
	position:absolute; 
	top: 15px; 
	right: 20px; 
	z-index: 20;    
	background-color: rgba(0, 0, 0, 0.9);	
}

div.helper {
    top: 100;
    width: 100%;
    margin: 0;
    border: none;
    position:absolute;
    text-align:center;
    z-index: 40;
	color: white;
}

div.starmapdetail {
    background-color: black;
    filter:alpha(opacity=90);
    display: inline-block;
    opacity: 0.9;
    -moz-opacity:0.9;
    z-index: 50;
    margin: 0 auto;
    border: none;
    position: relative;
	color: white;
}

img.smdetailfleetaction {
    border: 2px solid #ffffff;
    width: 30px;
    height: 30px;	
}

img.smmainlisticon {
    width: 15px;
    height: 15px;	
}

p.smdetailfleetcoord {
	font-size: 14px;
	color: white;
}

p.smdetailfleetowner {
	font-size: 14px;
	color: white;
}

td.smmainownercell {
	padding-left: 5px;
}

td.smmainsystem {
	color: white;
}

td.smmainfleet {
	color: white;
}

td.joinmsg {
    color: white;
}

div.smdetailinfo table tbody tr td table tbody tr td {
	font-size: 20px;
	color: white;
}

div.smdetailinfo font{
	font-size: 25px;
	color: white;
}

tr.smdetailplanetdefaultown {
	background-color: darkgreen;
}

tr.smdetailplanetallied {
	background-color: blue;
}

tr.smdetailplanetnap {
	background-color: blue;
}

tr.smdetailplanetneutral {
	background-color: darkyellow;
}

tr.smdetailplanetenemy {
	background-color: darkred;
}

tr.joinbuttons {   
    text-align: center;
}

#ticktime {
    position: fixed;
    left: auto;
    right: 20px;
    top: 10px;
}

#tickTimeLabel {
    background-color: #000000;
    background-repeat: repeat;
    width: 90px !important;
    line-height: 20px;
    height: 20px;
    opacity: 1;
    -moz-opacity:0.9;    
    position: fixed;
    left: auto;
    right: 45px;
    top: 10px;   
    text-align: left !important;
}

#ticktimeLabel span {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
}

button.dark { background-color:#000000; border-style: solid; border-width:thin; border-color:#999999;  color: white; text-align: right; font-size: 11px; }
button.darklarge { background-color:#000000; border-style: solid; border-width:thin; border-color:#999999;  color: white; text-align: right; font-size: 14px; }

body table tbody tr td table tbody tr td {
    background-image: none !important;
}

body table tbody tr td table tbody tr td div {
    display: none;
    z-index: -20 !important;
}

#statusbartable {
    display: none !important;
}