<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"

      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:a4j="http://richfaces.org/a4j">

    <composite:interface>
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="valueType" required="true" shortDescription="Specify the type: long, date, tick"/>
        <composite:attribute name="style"/>
        <composite:attribute name="styleClass"/>
        <composite:attribute name="type" default="date" required="false" shortDescription="date('dd.MM.yyy'), datetime('dd.MM.yyyy hh:mm:ss'), time('hh:mm:ss'), duration, custom(define a custom attribute with an own format)"/>
        <composite:attribute name="custom" default="date" required="false" shortDescription="define a custom format in simpledateformat notation (e.g.:'dd.MM.yyyy hh:mm')"/>
    </composite:interface>

    <composite:implementation>

        <c:if test="${not cc.attrs.tooltip}">
            <h:outputText style="#{cc.attrs.style}" styleClass="#{cc.attrs.styleClass}" value="#{FormatBean.formatDate(cc.attrs.value, cc.attrs.valueType, cc.attrs.type, cc.attrs.custom)}"/>
            <composite:insertChildren />
        </c:if>
    </composite:implementation>

</html>