<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"

      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:a4j="http://richfaces.org/a4j">

    <composite:interface>
        <composite:attribute name="id" 
                             required="false" />
        <composite:attribute name="value" 
                             required="true" />
        <composite:attribute name="valueType" 
                             required="true" 
                             shortDescription="Specify the type: long, double" />
        <composite:attribute name="style"
                             required="false" />
        <composite:attribute name="styleClass" 
                             required="false" />
        <composite:attribute name="type" 
                             default="normal" 
                             required="false" 
                             shortDescription="normal, intons" />
        <composite:attribute name="precision" 
                             default="0" 
                             required="false" 
                             shortDescription="Number of decimal places" />
        <composite:attribute name="escape" 
                             required="false" 
                             default="false" />
        <composite:attribute name="cutZero" 
                             required="false" 
                             default="false" 
                             shortDescription="Cuts the last decimal places if 0" />
        <composite:attribute name="tooltip" 
                             default="false" 
                             required="false" 
                             shortDescription="Set true if a tooltip is defined. The child-components will be added automatically" />
        <composite:attribute name="percentageSign" 
                             default="false" 
                             required="false" 
                             shortDescription="Add percentage sign"/>

    </composite:interface>

    <composite:implementation>

        <c:if test="${cc.attrs.tooltip}">
            <a4j:outputPanel>
                <h:outputText 
                              styleClass="#{cc.attrs.styleClass}" 
                              style="#{cc.attrs.style}" 
                              escape="#{cc.attrs.escape}" 
                              value="#{FormatBean.format(cc.attrs.value, cc.attrs.valueType, cc.attrs.precision, cc.attrs.type, cc.attrs.cutZero, cc.attrs.percentageSign)}"/>
                <rich:tooltip id="#{cc.attrs.id}">
                    <composite:insertChildren />
                </rich:tooltip>
            </a4j:outputPanel>
        </c:if>
        <c:if test="${not cc.attrs.tooltip}">
            <h:outputText 
                          styleClass="#{cc.attrs.styleClass}" 
                          style="#{cc.attrs.style}" 
                          escape="#{cc.attrs.escape}" 
                          value="#{FormatBean.format(cc.attrs.value, cc.attrs.valueType, cc.attrs.precision, cc.attrs.type, cc.attrs.cutZero, cc.attrs.percentageSign)}"/>
            <composite:insertChildren />
        </c:if>
    </composite:implementation>

</html>