<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"

      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <composite:interface>
        <composite:attribute name="name" required="true" shortDescription="The link to the image (library is set automatically)"/>
        <composite:attribute name="styleClass" required="false"/>
        <composite:attribute name="style" required="false"/>
        <composite:attribute name="tooltip" default="false" required="false" shortDescription="Set true if a tooltip is defined. The child-components will be added automatically"/>
    </composite:interface>

    <composite:implementation>
        <c:if test="#{cc.attrs.tooltip}">
            <a4j:outputPanel>
                <h:graphicImage style="#{cc.attrs.style}" styleClass="#{cc.attrs.styleClass}" library="basic" name="#{cc.attrs.name}"/>
                <rich:tooltip  layout="block">
                    <composite:insertChildren />
                </rich:tooltip>
            </a4j:outputPanel>
        </c:if>
        <c:if test="#{!cc.attrs.tooltip}">
            <h:graphicImage style="#{cc.attrs.style}" styleClass="#{cc.attrs.styleClass}" library="basic" name="#{cc.attrs.name}"/>
            <composite:insertChildren />
        </c:if>
    </composite:implementation>

</html>