<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"

      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jsp/jstl/core">


    <composite:interface>
        <composite:attribute name="listener" required="true"  method-signature="void actionListener(javax.faces.event.AjaxBehaviorEvent)" />
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="render" required="false"/>
        <composite:attribute name="rendered" required="false"/>
    </composite:interface>

    <composite:implementation>
        <a4j:outputPanel>
            <h:form>
                <h:panelGrid columns="2" cellpadding="0" cellspacing="0">
                    <rich:inplaceInput rendered="#{cc.rendered}" editEvent="dblclick" validatorMessage="Not good amount" id="iinput" style="color:white; border: white solid thin;"
                                       value="#{cc.attrs.value}" showControls="false" >
                        <a4j:ajax event="change" listener="#{cc.attrs.listener}" render="#{cc.attrs.render}" execute="@form"/>
                    </rich:inplaceInput>
                    <rich:message for="iinput" />
                </h:panelGrid>
            </h:form>
        </a4j:outputPanel>
    </composite:implementation>

</html>