<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"

      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:dd="http://java.sun.com/jsf/composite/dd">

    <composite:interface>
        <composite:attribute name="styleClass" 
                              required="false"/>
        <composite:attribute name="value" 
                              required="false"/>
        <composite:attribute name="outcome" 
                              required="false"/>
    </composite:interface>

    <composite:implementation>

                <h:form>
                    <c:if test="${cc.attrs.outcome != null}">
                        <h:link outcome="#{cc.attrs.outcome}">
                            <dd:outputText styleClass="#{cc.attrs.styleClass}" 
                                            value="#{cc.attrs.value}"/>
                        </h:link>
                    </c:if>
                    <c:if test="${cc.attrs.outcome == null}">
                        <dd:outputText styleClass="todo" 
                                        value="#{cc.attrs.value}"/>
                    </c:if>
                </h:form>

    </composite:implementation>
    
</html>