<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"

      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:dd="http://java.sun.com/jsf/composite/dd">

    <composite:interface>


    </composite:interface>

    <composite:implementation>
            <a4j:outputPanel id="messageResult">
                <rich:dataTable  columnClasses=",color_gray_gradient" style="background-color: gray; margin: 0 auto;" value="#{ServiceBean.messages}" var="message">
                    <rich:column style="background-color: #EE0000;" rendered="#{message.error}"/>
                    <rich:column style="background-color: #00EE00;" rendered="#{!message.error}"/>
                    <rich:column>
                        <h:outputText style="color:white; font-size: 10px; font-weight: bolder" value="#{message.message}"/>
                    </rich:column>
                </rich:dataTable>
            </a4j:outputPanel>
    </composite:implementation>

</html>