<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"

      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:a4j="http://richfaces.org/a4j">

    <composite:interface>
        <composite:attribute name="value" shortDescription="Text or languagekey"/>
        <composite:attribute name="styleClass" required="false"/>
        <composite:attribute name="escape" required="false" default="false"/>
        <composite:attribute name="style" required="false"/>
        <composite:attribute name="rendered"/>
        <composite:attribute name="params" required="false" shortDescription="Specify params which are replaced seperated by ','. Eg.: params='32,234'"/>
        <composite:attribute name="tooltip" default="false" required="false" shortDescription="Set true if a tooltip is defined. The child-components will be added automatically"/>

    </composite:interface>

    <composite:implementation>
        <c:if test="#{cc.attrs.tooltip}">
            <a4j:outputPanel>
                <h:outputText rendered="#{cc.attrs.rendered}" style="#{cc.attrs.style}" styleClass="#{cc.attrs.styleClass}" value="#{MLBean.getML(cc.attrs.value, cc.attrs.params)}"/>
                <rich:tooltip>
                    <composite:insertChildren />
                </rich:tooltip>
            </a4j:outputPanel>
        </c:if>
        <c:if test="#{!cc.attrs.tooltip}">
            <h:outputText rendered="#{cc.attrs.rendered}" style="#{cc.attrs.style}" styleClass="#{cc.attrs.styleClass}" value="#{MLBean.getML(cc.attrs.value, cc.attrs.params)}"/>
            <composite:insertChildren />
        </c:if>
    </composite:implementation>

</html>