<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"

    <composite:interface>
        <composite:attribute name="styleClass" required="false" shortDescription="gray"/>
        <composite:attribute name="columns" required="false"/>
        <composite:attribute name="style" required="false"/>
    </composite:interface>

    <composite:implementation>
        <h:outputStylesheet library="basic" name="css/table.css"/>
        <h:panelGrid columns="#{cc.attrs.columns}" 
                      style="#{cc.attrs.style}" 
                      styleClass="#{cc.attrs.styleClass}">
            <composite:insertChildren/>
        </h:panelGrid>
    </composite:implementation>

</html>