<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"

      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:dd="http://java.sun.com/jsf/composite/dd">

    <composite:interface>
        <composite:attribute name="width" />
        <composite:attribute name="header" required="true"/>
        <composite:attribute name="ref" required="true"/>
    </composite:interface>

    <composite:implementation>

        <rich:popupPanel width="#{cc.attrs.width}" styleClass="message_box" domElementAttachment="form" id="#{cc.attrs.ref}" modal="true" autosized="true" resizeable="false">
            <f:facet name="header">
                <dd:outputText value="#{cc.attrs.header}" />
            </f:facet>
            <f:facet name="controls">
                <a4j:commandLink style="color:black; background-color: white;  border: black solid 1px;" onclick="#{rich:component(cc.attrs.ref)}.hide();
                            return true;">
                    <h:outputText value="&nbsp;x&nbsp;"/>
                </a4j:commandLink>
            </f:facet>
            <composite:insertChildren />
        </rich:popupPanel>
    </composite:implementation>

</html>