<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:composite="http://java.sun.com/jsf/composite"
                xmlns:dd="http://xmlns.jcp.org/jsf/composite/dd">



    <composite:interface>
        <composite:attribute name="resourceId" />
        <composite:attribute name="resourceImage" />
        <composite:attribute name="showTransport" />
        <composite:attribute name="showTrade"/>
        <composite:attribute name="showProduction"/>
        <composite:attribute name="resourceName"/>
        <composite:attribute name="production"/>
        <composite:attribute name="consumption" />
        <composite:attribute name="tradeIncoming" />
        <composite:attribute name="tradeOutgoing" />
        <composite:attribute name="transportIncoming"/>
        <composite:attribute name="transportOutgoing"/>
    </composite:interface>

    <composite:implementation>
        <a4j:outputPanel>
            <div class="#{cc.attrs.resourceImage}">
                <rich:tooltip id="tooltip_#{cc.attrs.resourceId}" followMouse="true" layout="block">
                    <h:panelGrid>
                        <h:panelGrid style="text-align: center; background-color:#DDDDDD; width:100%">
                            <dd:outputText style="font-size:9pt; font-weight: bolder; color:black; text-align: left; width:100%; " value="#{resourceName}"/>
                        </h:panelGrid>
                        <h:panelGrid styleClass="tooltip_text_resourceentry" columns="4" cellpadding="0" rules="all" cellspacing="2">
                            <dd:outputText value="#{cc.attrs.resourceName}"/>
                            <dd:outputText value="#{MLBean.lang.components.tooltip.resource.label.production}"/>
                            <dd:outputText value="#{MLBean.lang.components.tooltip.resource.label.consumption}"/>
                            <dd:outputText value="#{MLBean.lang.components.tooltip.resource.label.total}"/>
                            <c:if test="${cc.attrs.showProduction}">
                                <dd:outputText value="#{MLBean.lang.components.tooltip.resource.label.planet}"/>
                                <dd:status_tooltip_cell value="#{cc.attrs.production}"/>
                                <dd:status_tooltip_cell value="#{cc.attrs.consumption}"/>
                                <dd:status_tooltip_cell value="#{cc.attrs.production - cc.attrs.consumption}"/>
                            </c:if>
                            <c:if test="${cc.attrs.showTransport}">
                                <dd:outputText value="#{MLBean.lang.components.tooltip.resource.label.transport}"/>
                                <dd:status_tooltip_cell value="#{cc.attrs.tradeIncoming}"/>
                                <dd:status_tooltip_cell value="#{cc.attrs.tradeOutgoing}"/>
                                <dd:status_tooltip_cell value="#{cc.attrs.tradeIncoming - cc.attrs.tradeOutgoing}"/>
                            </c:if>
                            <c:if test="${cc.attrs.showTransport}">
                                <dd:outputText value="#{MLBean.lang.components.tooltip.resource.label.trade}"/>
                                <dd:status_tooltip_cell value="#{cc.attrs.transportIncoming}"/>
                                <dd:status_tooltip_cell value="#{cc.attrs.transportOutgoing}"/>
                                <dd:status_tooltip_cell value="#{cc.attrs.transportIncoming - cc.attrs.transportOutgoing}"/>
                            </c:if>
                            <dd:outputText value="#{MLBean.lang.components.tooltip.resource.label.total}"/>
                                <dd:status_tooltip_cell value="#{cc.attrs.production + cc.attrs.tradeIncoming + cc.attrs.transportIncoming}"/>
                                <dd:status_tooltip_cell value="#{cc.attrs.consumption + cc.attrs.tradeOutgoing + cc.attrs.transportOutgoing}"/>
                                <dd:status_tooltip_cell value="#{cc.attrs.production - cc.attrs.consumption + cc.attrs.tradeIncoming - cc.attrs.tradeOutgoing + cc.attrs.transportIncoming - cc.attrs.transportOutgoing}"/>
                        </h:panelGrid>
                    </h:panelGrid>
                </rich:tooltip>
            </div>
        </a4j:outputPanel>
    </composite:implementation>
</ui:composition>

