<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:composite="http://java.sun.com/jsf/composite"
                xmlns:dd="http://java.sun.com/jsf/composite/dd">



    <composite:interface>
        <composite:attribute name="change" required="true" />
        <composite:attribute name="percentage" required="true" />
        <composite:attribute name="maxStock" required="true" />
        <composite:attribute name="width" required="true" />
    </composite:interface>

    <composite:implementation>
        <c:if test="${cc.attrs.change gt 0}">
            <a4j:outputPanel>
                <div class="foodbar_bar_stock_positive" style="width:#{cc.attrs.width}">
                    <rich:tooltip  layout="block">
                        <dd:outputText value="#{MLBean.lang.sites.status.bar.label.stock}" params="#{cc.attrs.percentage},#{cc.attrs.maxStock}"/>
                    </rich:tooltip>
                </div>
            </a4j:outputPanel>
        </c:if>
        <c:if test="${cc.attrs.change lt 0}">
            <a4j:outputPanel>
                <div class="foodbar_bar_stock_negative" style="width:#{cc.attrs.width}">
                    <rich:tooltip  layout="block">
                        <dd:outputText value="#{MLBean.lang.sites.status.bar.label.stock}" params="#{cc.attrs.percentage},#{cc.attrs.maxStock}"/>
                    </rich:tooltip>
                </div>
            </a4j:outputPanel>
        </c:if>
        <c:if test="${cc.attrs.change eq 0}">
            <a4j:outputPanel>
                <div class="foodbar_bar_stock_equal" style="width:#{cc.attrs.width}">
                    <rich:tooltip  layout="block">
                        <dd:outputText value="#{MLBean.lang.sites.status.bar.label.stock}" params="#{cc.attrs.percentage},#{cc.attrs.maxStock}"/>
                    </rich:tooltip>
                </div>
            </a4j:outputPanel>
        </c:if>


    </composite:implementation>
</ui:composition>

