<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:dd="http://java.sun.com/jsf/composite/dd"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:composite="http://java.sun.com/jsf/composite">



    <composite:interface>
        <composite:attribute name="value" required="true" />
    </composite:interface>

    <composite:implementation>
        <c:if test="${cc.attrs.value gt 0}">
            <h:panelGrid styleClass="status_tooltip_cell_positive" cellpadding="0" cellspacing="0">
                <dd:formatValue value="#{cc.attrs.value}" valueType="long"/>
            </h:panelGrid>
        </c:if>
        <c:if test="${cc.attrs.value lt 0}">
            <h:panelGrid  styleClass="status_tooltip_cell_negative" cellpadding="0" cellspacing="0">
                <dd:formatValue value="#{cc.attrs.value}" valueType="long"/>
            </h:panelGrid>

        </c:if>
        <c:if test="${cc.attrs.value eq 0}">
            <h:panelGrid styleClass="status_tooltip_cell_equal" cellpadding="0" cellspacing="0">
                <dd:formatValue value="#{cc.attrs.value}" valueType="long"/>
            </h:panelGrid>
        </c:if>

    </composite:implementation>
</ui:composition>

