<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"

      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

    <composite:interface>
        <composite:attribute name="userId" required="true" />
        <composite:attribute name="styleClass" required="false"/>
        <composite:attribute name="escape" required="false" default="false"/>
        <composite:attribute name="style" required="false"/>
        <composite:attribute name="type" default="gameName" shortDescription="Specify the type of output" />
    </composite:interface>

    <composite:implementation>
        <h:outputText style="#{cc.attrs.style}" styleClass="#{cc.attrs.styleClass}" value="#{ConversionBean.userIdToGameName(cc.attrs.userId, cc.attrs.type)}"/>
    </composite:implementation>

</html>