<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:dd="http://java.sun.com/jsf/composite/dd" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <!--    <h:outputStylesheet id="StatusBarCss" 
                            library="basic" 
                            name="css/sites/richfacesStatus.css" />-->

    <rich:panel id="StatusPanel" 
                class="col-xs-6 col-sm-2 col-md-2 col-lg-3">
        <h:panelGroup id="CreditPanel" 
                      styleClass="col-xs-20 col-sm-20 col-md-20 
                      col-lg-20 status">
            <dd:outputText id="GalaxLabel" 
                           styleClass="statusBarHeaderLabel"
                           value="#{MLBean.lang.sites.status.creditbar.label.credits}" />
            <!--            <ui:include src="basic/spacer-template.xhtml"/>-->
            <ui:include src="basic/richfacesCreditBar.xhtml"/>
        </h:panelGroup>
        <h:panelGroup id="DevelopmentPanel" 
                      styleClass="col-xs-20 col-sm-20 col-md-20 
                      col-lg-20 status">
            <!--            <ui:include src="basic/spacer-template.xhtml"/>-->
            <dd:outputText id="DevelopLabel" 
                           styleClass="statusBarHeaderLabel"
                           value="#{MLBean.lang.sites.status.developementbar.label.developementpoints}" />
            <ui:include src="basic/richfacesDevelopBar.xhtml"/>
        </h:panelGroup>
        <h:panelGroup id="EnergyPanel" 
                      styleClass="col-xs-20 col-sm-20 col-md-20 
                      col-lg-20 status">
            <!--            <ui:include src="basic/spacer-template.xhtml"/>-->
            <dd:outputText id="EnergyLabel" 
                           styleClass="statusBarHeaderLabel"
                           value="#{MLBean.lang.sites.status.energybar.label.energy}" />
            <ui:include src="basic/richfacesEnergyBar.xhtml"/>
        </h:panelGroup>
        <h:panelGroup id="PopulationPanel" 
                      styleClass="col-xs-20 col-sm-20 col-md-20 
                      col-lg-20 status">
            <ui:include src="basic/spacer-template.xhtml"/>
            <ui:include src="basic/populationBar.xhtml"/>
        </h:panelGroup>
        <h:panelGroup id="FoodPanel" 
                      styleClass="col-xs-20 col-sm-20 col-md-20 
                      col-lg-20 status">
            <ui:include src="basic/spacer-template.xhtml"/>
            <ui:include src="basic/foodBar.xhtml"/>
        </h:panelGroup>
        <h:panelGroup id="RessourcePanel" 
                      styleClass="col-xs-20 col-sm-20 col-md-20 
                      col-lg-20 status">
            <ui:include src="basic/spacer-template.xhtml"/>
            <ui:include src="basic/resourceBar.xhtml"/>
        </h:panelGroup>
        <h:panelGroup id="RawRessourcePanel" 
                      styleClass="col-xs-20 col-sm-20 col-md-20 
                      col-lg-20 status">
            <ui:include src="basic/spacer-template.xhtml"/>
            <ui:include src="basic/rawResourceBar.xhtml"/>
        </h:panelGroup>
    </rich:panel>
</ui:composition>

